pipeline/Cancel Pipeline run.json
{
	"name": "Cancel Pipeline run",
	"properties": {
		"activities": [
			{
				"name": "Generate Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/9c272a06-9f0a-43f5-8e40-214a24c5098b/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": " application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=66e38878-9b3b-49be-9e7d-42691350f84a&client_secret=Fp2f0s-3z8d~1nxBq7t9l.RW0QVE~dq1mT&scope=https://management.azure.com/.default"
				}
			},
			{
				"name": "Cancel Pipeline Run",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Generate Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/681c9400-3073-469f-b0ec-57006f831469/resourceGroups/CLX_MATRIX_POC_RG/providers/Microsoft.DataFactory/factories/clxdev-adf-matrix/pipelineruns/',pipeline().RunId,'/cancel?api-version=2018-06-01')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@concat('Bearer ', activity('Generate Token').output.access_token)",
							"type": "Expression"
						}
					},
					"body": "NA"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Cancel Pipeline Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "f",
					"value": "15"
				}
			}
		],
		"variables": {
			"f": {
				"type": "String",
				"defaultValue": "14"
			}
		},
		"annotations": []
	}
}