pipeline/GetTheLatestFileadls.json
{
	"name": "GetTheLatestFileadls",
	"properties": {
		"activities": [
			{
				"name": "Read_from_SFTP_folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "test_src_archive",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@pipeline().parameters.DirectoryPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings"
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Iterate_to_fetch_latest_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File_based_filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_IRI_files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get_file_details",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "test_src_archive_file",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@pipeline().parameters.DirectoryPath",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "SftpReadSettings"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Check_latest_file",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_file_details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Read_all_IRI_files').output.lastModified,variables('maxtime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set_latest_last_modified_date",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "maxtime",
											"value": {
												"value": "@activity('Read_all_IRI_files').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set_current_FileName",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set_latest_last_modified_date",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "filename",
											"value": {
												"value": "@activity('Read_all_IRI_files').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "File_based_filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Read_from_SFTP_folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read_all_SFTP_files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,pipeline().parameters.GetFileName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get_latest_file_info",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Iterate_to_fetch_latest_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "test_src_archive_file_3",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@pipeline().parameters.DirectoryPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "SftpReadSettings"
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Push_to_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_latest_file_info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "test_src_archive_file_3",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@pipeline().parameters.DirectoryPath",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Binary_sink_test_ADLS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"GetFileName": {
				"type": "string",
				"defaultValue": "clx_product_master"
			},
			"DirectoryPath": {
				"type": "string",
				"defaultValue": "/pos/syndicated/iri/landing"
			}
		},
		"variables": {
			"filename": {
				"type": "String",
				"defaultValue": "clx_product_master"
			},
			"maxtime": {
				"type": "String",
				"defaultValue": "2020-02-01T00:00:00Z"
			}
		},
		"folder": {
			"name": "IRI - POS"
		},
		"annotations": []
	}
}