pipeline/Load IDR Orders.json
{
	"name": "Load IDR Orders",
	"properties": {
		"activities": [
			{
				"name": "IDR To Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select * from\n(select *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date} \nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand billto_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%WAL-MART%')\nunion\nselect *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd')  > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%DOLLAR GENERAL CORP%')\nunion\nselect *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%KROGER%')) \n",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "Load SQLDW Target",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load SQLDW Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [ord_created_date_code]\n      ,[so_doc_nbr]\n      ,[ord_line_item_nbr]\n      ,[profit_center_code]\n      ,[ctrl_area_code]\n      ,[shippingpoint_code]\n      ,[fiscal_yr_variant_code]\n      ,[ord_hdr_created_date_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[broker_customer_code]\n      ,[material_num]\n      ,[military_material_num]\n      ,[sap_upc_num]\n      ,[sales_division_code]\n      ,[sales_district_code]\n      ,[doc_class_code]\n      ,[sd_doc_category_code]\n      ,[so_doc_type]\n      ,[item_category_code]\n      ,[ord_planned_gi_date_code]\n      ,[planned_gi_date_code]\n      ,[delivery_planned_gi_date_code]\n      ,[mat_available_date_code]\n      ,[actual_gi_date_code]\n      ,[po_doc_nbr]\n      ,[acct_assignment_grp_code]\n      ,[company_code]\n      ,[ship_from_plant_code]\n      ,[sales_group_code]\n      ,[oms]\n      ,[shipping_type_code]\n      ,[shipping_condition_code]\n      ,[forwarding_agent]\n      ,[division_code]\n      ,[distrib_channel_code]\n      ,[billing_block_code]\n      ,[delivery_block_code]\n      ,[clx_po_type]\n      ,[ship_date_code]\n      ,[customer_requested_date_code]\n      ,[bracket_price_override_code]\n      ,[expected_price_status_code]\n      ,[stats_update_date_code]\n      ,[multiple_order]\n      ,[delivery_nbr]\n      ,[ord_qty]\n      ,[number_of_doc_items]\n      ,[actual_delivery_qty]\n      ,[delivery_qty]\n      ,[ord_qty_purchase_uom]\n      ,[bw_ord_qty_ng]\n      ,[bw_ord_qty_liquidation]\n      ,[bw_dos_ord_qty]\n      ,[bw_ord_qty]\n      ,[bw_ord_ac_qty]\n      ,[cml_cf_qty]\n      ,[cml_cd_qty]\n      ,[cml_order_qty]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[net_ord_amt_stcurr]\n      ,[cost_amt_stcurr]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_decs]\n      ,[ord_qty_eaches]\n      ,[ord_qty_sc]\n      ,[ord_qty_cs]\n      ,[gi_date]\n      ,[actual_gi_date]\n      ,[dos_pgi_date_code]\n      ,[uom_base]\n      ,[uom_sales]\n      ,[uom]\n      ,[uom_scs]\n      ,[uom_pal]\n      ,[uom_lay]\n      ,[no_of_employees]\n      ,[stcurr]\n      ,[substitution_reason]\n      ,[rejection_status_code]\n      ,[exception_responsible_code]\n      ,[equip_type_code]\n      ,[edi_customer_nbr]\n      ,[created_by]\n      ,[sales_deal_nbr]\n      ,[acknowledged_date_code]\n      ,[cancel_by_rqst_arr_date_code]\n      ,[cancel_by_rqst_ship_date_code]\n      ,[conversion_date_code]\n      ,[declined_date_code]\n      ,[pricing_date_code]\n      ,[service_rendered_date_code]\n      ,[quote_valid_to_date_code]\n      ,[last_action_date_code]\n      ,[not_before_rqst_arr_date_code]\n      ,[not_before_rqst_ship_date_code]\n      ,[quote_valid_from_date_code]\n      ,[created_time]\n      ,[uom_weight]\n      ,[pooling_eligibility]\n      ,[pick_method_code]\n      ,[gross_weight]\n      ,[no_of_cases_per_pallet]\n      ,[no_of_cases_per_layer]\n      ,[customer_lead_time]\n      ,[no_of_layers_per_pallet]\n      ,[loose_pick_rate_cs]\n      ,[loose_pick_qty_cs]\n      ,[loose_pick_cost_cs]\n      ,[loose_pick_rate_lay]\n      ,[pick_qty_lay]\n      ,[broker_layers_picked]\n      ,[loose_pick_cost_lay]\n      ,[loose_lay_pick_qty_cs]\n      ,[currency_code]\n      ,[ref_doc_nbr]\n      ,[ref_item_nbr]\n      ,[division_header_code]\n      ,[sd_ref_doc_category]\n      ,[org_lead_time_error_code]\n      ,[expected_price_error_code]\n      ,[multiple_order_error_code]\n      ,[material_reason_error_code]\n      ,[lead_time_error_code]\n      ,[sales_office]\n      ,[sales_employee]\n      ,[io_status_code]\n      ,[credit_debit_flg]\n      ,[cpu_error_flg]\n      ,[date_error_flg]\n      ,[duplicate_po_error_flg]\n      ,[pload_error_flg]\n      ,[src_error_flg]\n      ,[manual_price_date_flg]\n      ,[rounding_occurred_flg]\n      ,[mat_error_flg]\n      ,[multiple_ord_flg]\n      ,[cpu_rate_error_flg]\n      ,[cts_header_indicator_flg]\n      ,[lead_time_compliance_flg]\n      ,[lt_comply_no_so_flg]\n      ,[ord_items_flg]\n      ,[ord_reason]\n      ,[rejection_reason]\n      ,[material_reason]\n      ,[exception_reason]\n      ,[cpu_error_reason]\n      ,[date_error_reason]\n      ,[pload_error_reason]\n      ,[source_error_reason]\n      ,[bw_record_change_flg]\n      ,[idr_load_date]\n\t  ,CONVERT (date, SYSDATETIME()) as azure_load_date\n  FROM [dbo].[stg_litter_orders]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false
				}
			},
			{
				"name": "Failure Alert - 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IDR To Storage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Activity": "Copy_IDR_Litter_Shipments_Storage",
						"ErrorMessage": {
							"value": "@activity('IDR To Storage').Error.Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Failure Alert - 3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load SQLDW Target",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Activity": "Load SQLDW Target",
						"ErrorMessage": {
							"value": "@activity('Load SQLDW Target').Error.Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Pipeline Success Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load SQLDW Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on success",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"Subject": "ADF pipeline Load IDR Litter Shipments finished successfully",
						"DataFactoryName": "ADF",
						"PipelineName": "Load IDR Litter Shipments",
						"Activity": "Load IDR Litter Shipments",
						"ErrorMessage": "No errors"
					}
				}
			},
			{
				"name": "Get Last Load Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_litter_orders",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Table_SQLDW_Base_Litter_Orders",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load SQLDW Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IDR To Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dbo.stg_litter_orders",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				}
			},
			{
				"name": "Failure Alert - 2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load SQLDW Staging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"Subject": "Azure DF error",
						"DataFactoryName": "DF",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Activity": "Load SQLDW Staging",
						"ErrorMessage": {
							"value": "@activity('Load SQLDW Staging').Error.Message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"IDR_Load_Date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Orders"
		},
		"annotations": []
	}
}