pipeline/Load IDR Orders.json
{
	"name": "Load IDR Orders",
	"properties": {
		"activities": [
			{
				"name": "Get Last Load Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_orders",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Query_SQLDW_Base_Orders_bkp",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get IDR Record Count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select count(*) as idr_record_count\nfrom clxbw.apo_bw_b_order fact join clxbw.apo_bw_d_material mat on fact.material_num=mat.material_num\nwhere to_char(fact.load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand (mat.division_name like '%Litter%' or mat.division_name like '%Charcoal%' or mat.division_name like '%Food Products%')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Table_Oracle_IDR_Orders",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy IDR To Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select * \nfrom clxbw.apo_bw_b_order fact join clxbw.apo_bw_d_material mat on fact.material_num=mat.material_num\nwhere to_char(fact.load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand (mat.division_name like '%Litter%' or mat.division_name like '%Charcoal%' or mat.division_name like '%Food Products%')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Table_Oracle_IDR_Orders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_Incremental_IDR_Orders",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "QC Check - Source to Storage",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get IDR Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy IDR To Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get IDR Record Count').output.firstRow.idr_record_count,activity('Copy IDR To Storage').output.rowsCopied)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "QC Check - Failure Alert 1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Shipments",
									"Activity": "QC Check - Copy IDR To Storage",
									"ErrorMessage": "Record counts between IDR and storage file didn't match, please take a look."
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Load SQLDW Staging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table dbo.stg_orders",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "ord_created_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"name": "so_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "ord_line_item_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"name": "profit_center_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"name": "ctrl_area_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"name": "shippingpoint_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"name": "fiscal_yr_variant_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 8
											},
											"sink": {
												"name": "ord_hdr_created_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 9
											},
											"sink": {
												"name": "planned_pgi_date_yyyymm",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 10
											},
											"sink": {
												"name": "billto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 11
											},
											"sink": {
												"name": "shipto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 12
											},
											"sink": {
												"name": "soldto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 13
											},
											"sink": {
												"name": "payer_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 14
											},
											"sink": {
												"name": "broker_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 15
											},
											"sink": {
												"name": "material_num",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 16
											},
											"sink": {
												"name": "military_material_num",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 17
											},
											"sink": {
												"name": "sap_upc_num",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 18
											},
											"sink": {
												"name": "sales_division_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 19
											},
											"sink": {
												"name": "sales_district_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 20
											},
											"sink": {
												"name": "doc_class_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 21
											},
											"sink": {
												"name": "sd_doc_category_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 22
											},
											"sink": {
												"name": "so_doc_type",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 23
											},
											"sink": {
												"name": "item_category_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 24
											},
											"sink": {
												"name": "ord_planned_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 25
											},
											"sink": {
												"name": "planned_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 26
											},
											"sink": {
												"name": "delivery_planned_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 27
											},
											"sink": {
												"name": "mat_available_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 28
											},
											"sink": {
												"name": "actual_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 29
											},
											"sink": {
												"name": "po_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 30
											},
											"sink": {
												"name": "acct_assignment_grp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 31
											},
											"sink": {
												"name": "company_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 32
											},
											"sink": {
												"name": "ship_from_plant_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 33
											},
											"sink": {
												"name": "sales_group_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 34
											},
											"sink": {
												"name": "oms",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 35
											},
											"sink": {
												"name": "shipping_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 36
											},
											"sink": {
												"name": "shipping_condition_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 37
											},
											"sink": {
												"name": "forwarding_agent",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 38
											},
											"sink": {
												"name": "division_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 39
											},
											"sink": {
												"name": "distrib_channel_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 40
											},
											"sink": {
												"name": "billing_block_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 41
											},
											"sink": {
												"name": "delivery_block_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 42
											},
											"sink": {
												"name": "clx_po_type",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 43
											},
											"sink": {
												"name": "ship_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 44
											},
											"sink": {
												"name": "customer_requested_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 45
											},
											"sink": {
												"name": "bracket_price_override_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 46
											},
											"sink": {
												"name": "expected_price_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 47
											},
											"sink": {
												"name": "stats_update_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 48
											},
											"sink": {
												"name": "multiple_order",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 49
											},
											"sink": {
												"name": "delivery_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 50
											},
											"sink": {
												"name": "ord_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 51
											},
											"sink": {
												"name": "number_of_doc_items",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 52
											},
											"sink": {
												"name": "actual_delivery_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 53
											},
											"sink": {
												"name": "delivery_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 54
											},
											"sink": {
												"name": "ord_qty_purchase_uom",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 55
											},
											"sink": {
												"name": "bw_ord_qty_ng",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 56
											},
											"sink": {
												"name": "bw_ord_qty_liquidation",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 57
											},
											"sink": {
												"name": "bw_dos_ord_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 58
											},
											"sink": {
												"name": "bw_ord_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 59
											},
											"sink": {
												"name": "bw_ord_ac_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 60
											},
											"sink": {
												"name": "cml_cf_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 61
											},
											"sink": {
												"name": "cml_cd_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 62
											},
											"sink": {
												"name": "cml_order_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 63
											},
											"sink": {
												"name": "netprc_exoffinvdisc_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 64
											},
											"sink": {
												"name": "offinvdisc_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 65
											},
											"sink": {
												"name": "netval_discsurchrg_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 66
											},
											"sink": {
												"name": "unsaleable_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 67
											},
											"sink": {
												"name": "customer_expected_price_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 68
											},
											"sink": {
												"name": "broker_comm_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 69
											},
											"sink": {
												"name": "net_ord_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 70
											},
											"sink": {
												"name": "cost_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 71
											},
											"sink": {
												"name": "gross_weight_kg",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 72
											},
											"sink": {
												"name": "net_weight_kg",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 73
											},
											"sink": {
												"name": "volume_cubic_decs",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 74
											},
											"sink": {
												"name": "ord_qty_eaches",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 75
											},
											"sink": {
												"name": "ord_qty_sc",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 76
											},
											"sink": {
												"name": "ord_qty_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 77
											},
											"sink": {
												"name": "gi_date",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 78
											},
											"sink": {
												"name": "actual_gi_date",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 79
											},
											"sink": {
												"name": "dos_pgi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 80
											},
											"sink": {
												"name": "uom_base",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 81
											},
											"sink": {
												"name": "uom_sales",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 82
											},
											"sink": {
												"name": "uom",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 83
											},
											"sink": {
												"name": "uom_scs",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 84
											},
											"sink": {
												"name": "uom_pal",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 85
											},
											"sink": {
												"name": "uom_lay",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 86
											},
											"sink": {
												"name": "no_of_employees",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 87
											},
											"sink": {
												"name": "stcurr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 88
											},
											"sink": {
												"name": "substitution_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 89
											},
											"sink": {
												"name": "rejection_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 90
											},
											"sink": {
												"name": "exception_responsible_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 91
											},
											"sink": {
												"name": "equip_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 92
											},
											"sink": {
												"name": "edi_customer_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 93
											},
											"sink": {
												"name": "created_by",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 94
											},
											"sink": {
												"name": "sales_deal_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 95
											},
											"sink": {
												"name": "acknowledged_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 96
											},
											"sink": {
												"name": "cancel_by_rqst_arr_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 97
											},
											"sink": {
												"name": "cancel_by_rqst_ship_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 98
											},
											"sink": {
												"name": "conversion_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 99
											},
											"sink": {
												"name": "declined_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 100
											},
											"sink": {
												"name": "pricing_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 101
											},
											"sink": {
												"name": "service_rendered_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 102
											},
											"sink": {
												"name": "quote_valid_to_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 103
											},
											"sink": {
												"name": "last_action_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 104
											},
											"sink": {
												"name": "not_before_rqst_arr_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 105
											},
											"sink": {
												"name": "not_before_rqst_ship_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 106
											},
											"sink": {
												"name": "quote_valid_from_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 107
											},
											"sink": {
												"name": "created_time",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 108
											},
											"sink": {
												"name": "uom_weight",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 109
											},
											"sink": {
												"name": "pooling_eligibility",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 110
											},
											"sink": {
												"name": "pick_method_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 111
											},
											"sink": {
												"name": "gross_weight",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 112
											},
											"sink": {
												"name": "no_of_cases_per_pallet",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 113
											},
											"sink": {
												"name": "no_of_cases_per_layer",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 114
											},
											"sink": {
												"name": "customer_lead_time",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 115
											},
											"sink": {
												"name": "no_of_layers_per_pallet",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 116
											},
											"sink": {
												"name": "loose_pick_rate_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 117
											},
											"sink": {
												"name": "loose_pick_qty_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 118
											},
											"sink": {
												"name": "loose_pick_cost_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 119
											},
											"sink": {
												"name": "loose_pick_rate_lay",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 120
											},
											"sink": {
												"name": "pick_qty_lay",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 121
											},
											"sink": {
												"name": "broker_layers_picked",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 122
											},
											"sink": {
												"name": "loose_pick_cost_lay",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 123
											},
											"sink": {
												"name": "loose_lay_pick_qty_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 124
											},
											"sink": {
												"name": "currency_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 125
											},
											"sink": {
												"name": "ref_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 126
											},
											"sink": {
												"name": "ref_item_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 127
											},
											"sink": {
												"name": "division_header_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 128
											},
											"sink": {
												"name": "sd_ref_doc_category",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 129
											},
											"sink": {
												"name": "org_lead_time_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 130
											},
											"sink": {
												"name": "expected_price_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 131
											},
											"sink": {
												"name": "multiple_order_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 132
											},
											"sink": {
												"name": "material_reason_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 133
											},
											"sink": {
												"name": "lead_time_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 134
											},
											"sink": {
												"name": "sales_office",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 135
											},
											"sink": {
												"name": "sales_employee",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 136
											},
											"sink": {
												"name": "io_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 137
											},
											"sink": {
												"name": "credit_debit_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 138
											},
											"sink": {
												"name": "cpu_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 139
											},
											"sink": {
												"name": "date_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 140
											},
											"sink": {
												"name": "duplicate_po_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 141
											},
											"sink": {
												"name": "pload_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 142
											},
											"sink": {
												"name": "src_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 143
											},
											"sink": {
												"name": "manual_price_date_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 144
											},
											"sink": {
												"name": "rounding_occurred_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 145
											},
											"sink": {
												"name": "mat_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 146
											},
											"sink": {
												"name": "multiple_ord_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 147
											},
											"sink": {
												"name": "cpu_rate_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 148
											},
											"sink": {
												"name": "cts_header_indicator_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 149
											},
											"sink": {
												"name": "lead_time_compliance_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 150
											},
											"sink": {
												"name": "lt_comply_no_so_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 151
											},
											"sink": {
												"name": "ord_items_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 152
											},
											"sink": {
												"name": "ord_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 153
											},
											"sink": {
												"name": "rejection_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 154
											},
											"sink": {
												"name": "material_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 155
											},
											"sink": {
												"name": "exception_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 156
											},
											"sink": {
												"name": "cpu_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 157
											},
											"sink": {
												"name": "date_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 158
											},
											"sink": {
												"name": "pload_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 159
											},
											"sink": {
												"name": "source_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 160
											},
											"sink": {
												"name": "bw_record_change_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 161
											},
											"sink": {
												"name": "load_date",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_Incremental_IDR_Orders_AZ",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Table_SQLDW_Staging_Orders",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get Staging Record Count",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load SQLDW Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "select count(*) as staging_record_count from stg_orders",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Table_SQLDW_Staging_Orders",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Failure Alert - 2",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load SQLDW Staging",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Orders",
									"Activity": "Load SQLDW Staging",
									"ErrorMessage": {
										"value": "@activity('Load SQLDW Staging').Error.Message",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "QC Check - Storage to Staging",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "QC Check - Source to Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Copy IDR To Storage').output.rowsCopied,activity('Get Staging Record Count').output.firstRow.staging_record_count)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "QC Check - Failure Alert 2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Orders",
									"Activity": "QC Check - Storage to SQLDW Staging",
									"ErrorMessage": "Record counts between incremental data file and SQLDW \nstaging did not match, please take a look."
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Load SQLDW Target",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "select [ord_created_date_code]\n      ,[so_doc_nbr]\n      ,[ord_line_item_nbr]\n      ,[profit_center_code]\n      ,[ctrl_area_code]\n      ,[shippingpoint_code]\n      ,[fiscal_yr_variant_code]\n      ,[ord_hdr_created_date_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[broker_customer_code]\n      ,[material_num]\n      ,[military_material_num]\n      ,[sap_upc_num]\n      ,[sales_division_code]\n      ,[sales_district_code]\n      ,[doc_class_code]\n      ,[sd_doc_category_code]\n      ,[so_doc_type]\n      ,[item_category_code]\n      ,[ord_planned_gi_date_code]\n      ,[planned_gi_date_code]\n      ,[delivery_planned_gi_date_code]\n      ,[mat_available_date_code]\n      ,[actual_gi_date_code]\n      ,[po_doc_nbr]\n      ,[acct_assignment_grp_code]\n      ,[company_code]\n      ,[ship_from_plant_code]\n      ,[sales_group_code]\n      ,[oms]\n      ,[shipping_type_code]\n      ,[shipping_condition_code]\n      ,[forwarding_agent]\n      ,[division_code]\n      ,[distrib_channel_code]\n      ,[billing_block_code]\n      ,[delivery_block_code]\n      ,[clx_po_type]\n      ,[ship_date_code]\n      ,[customer_requested_date_code]\n      ,[bracket_price_override_code]\n      ,[expected_price_status_code]\n      ,[stats_update_date_code]\n      ,[multiple_order]\n      ,[delivery_nbr]\n      ,[ord_qty]\n      ,[number_of_doc_items]\n      ,[actual_delivery_qty]\n      ,[delivery_qty]\n      ,[ord_qty_purchase_uom]\n      ,[bw_ord_qty_ng]\n      ,[bw_ord_qty_liquidation]\n      ,[bw_dos_ord_qty]\n      ,[bw_ord_qty]\n      ,[bw_ord_ac_qty]\n      ,[cml_cf_qty]\n      ,[cml_cd_qty]\n      ,[cml_order_qty]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[net_ord_amt_stcurr]\n      ,[cost_amt_stcurr]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_decs]\n      ,[ord_qty_eaches]\n      ,[ord_qty_sc]\n      ,[ord_qty_cs]\n      ,[gi_date]\n      ,[actual_gi_date]\n      ,[dos_pgi_date_code]\n      ,[uom_base]\n      ,[uom_sales]\n      ,[uom]\n      ,[uom_scs]\n      ,[uom_pal]\n      ,[uom_lay]\n      ,[no_of_employees]\n      ,[stcurr]\n      ,[substitution_reason]\n      ,[rejection_status_code]\n      ,[exception_responsible_code]\n      ,[equip_type_code]\n      ,[edi_customer_nbr]\n      ,[created_by]\n      ,[sales_deal_nbr]\n      ,[acknowledged_date_code]\n      ,[cancel_by_rqst_arr_date_code]\n      ,[cancel_by_rqst_ship_date_code]\n      ,[conversion_date_code]\n      ,[declined_date_code]\n      ,[pricing_date_code]\n      ,[service_rendered_date_code]\n      ,[quote_valid_to_date_code]\n      ,[last_action_date_code]\n      ,[not_before_rqst_arr_date_code]\n      ,[not_before_rqst_ship_date_code]\n      ,[quote_valid_from_date_code]\n      ,[created_time]\n      ,[uom_weight]\n      ,[pooling_eligibility]\n      ,[pick_method_code]\n      ,[gross_weight]\n      ,[no_of_cases_per_pallet]\n      ,[no_of_cases_per_layer]\n      ,[customer_lead_time]\n      ,[no_of_layers_per_pallet]\n      ,[loose_pick_rate_cs]\n      ,[loose_pick_qty_cs]\n      ,[loose_pick_cost_cs]\n      ,[loose_pick_rate_lay]\n      ,[pick_qty_lay]\n      ,[broker_layers_picked]\n      ,[loose_pick_cost_lay]\n      ,[loose_lay_pick_qty_cs]\n      ,[currency_code]\n      ,[ref_doc_nbr]\n      ,[ref_item_nbr]\n      ,[division_header_code]\n      ,[sd_ref_doc_category]\n      ,[org_lead_time_error_code]\n      ,[expected_price_error_code]\n      ,[multiple_order_error_code]\n      ,[material_reason_error_code]\n      ,[lead_time_error_code]\n      ,[sales_office]\n      ,[sales_employee]\n      ,[io_status_code]\n      ,[credit_debit_flg]\n      ,[cpu_error_flg]\n      ,[date_error_flg]\n      ,[duplicate_po_error_flg]\n      ,[pload_error_flg]\n      ,[src_error_flg]\n      ,[manual_price_date_flg]\n      ,[rounding_occurred_flg]\n      ,[mat_error_flg]\n      ,[multiple_ord_flg]\n      ,[cpu_rate_error_flg]\n      ,[cts_header_indicator_flg]\n      ,[lead_time_compliance_flg]\n      ,[lt_comply_no_so_flg]\n      ,[ord_items_flg]\n      ,[ord_reason]\n      ,[rejection_reason]\n      ,[material_reason]\n      ,[exception_reason]\n      ,[cpu_error_reason]\n      ,[date_error_reason]\n      ,[pload_error_reason]\n      ,[source_error_reason]\n      ,[bw_record_change_flg]\n      ,[load_date] as idr_load_date,CONVERT (date, SYSDATETIME()) as azure_load_date\nfrom dbo.stg_orders",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ord_created_date_code",
												"type": "String"
											},
											"sink": {
												"name": "ord_created_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "so_doc_nbr",
												"type": "String"
											},
											"sink": {
												"name": "so_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ord_line_item_nbr",
												"type": "String"
											},
											"sink": {
												"name": "ord_line_item_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "profit_center_code",
												"type": "String"
											},
											"sink": {
												"name": "profit_center_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ctrl_area_code",
												"type": "String"
											},
											"sink": {
												"name": "ctrl_area_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shippingpoint_code",
												"type": "String"
											},
											"sink": {
												"name": "shippingpoint_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fiscal_yr_variant_code",
												"type": "String"
											},
											"sink": {
												"name": "fiscal_yr_variant_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ord_hdr_created_date_code",
												"type": "String"
											},
											"sink": {
												"name": "ord_hdr_created_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "planned_pgi_date_yyyymm",
												"type": "String"
											},
											"sink": {
												"name": "planned_pgi_date_yyyymm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "billto_customer_code",
												"type": "String"
											},
											"sink": {
												"name": "billto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shipto_customer_code",
												"type": "String"
											},
											"sink": {
												"name": "shipto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "soldto_customer_code",
												"type": "String"
											},
											"sink": {
												"name": "soldto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "payer_customer_code",
												"type": "String"
											},
											"sink": {
												"name": "payer_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "broker_customer_code",
												"type": "String"
											},
											"sink": {
												"name": "broker_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "material_num",
												"type": "String"
											},
											"sink": {
												"name": "material_num",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "military_material_num",
												"type": "String"
											},
											"sink": {
												"name": "military_material_num",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sap_upc_num",
												"type": "String"
											},
											"sink": {
												"name": "sap_upc_num",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sales_division_code",
												"type": "String"
											},
											"sink": {
												"name": "sales_division_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sales_district_code",
												"type": "String"
											},
											"sink": {
												"name": "sales_district_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "doc_class_code",
												"type": "String"
											},
											"sink": {
												"name": "doc_class_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sd_doc_category_code",
												"type": "String"
											},
											"sink": {
												"name": "sd_doc_category_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "so_doc_type",
												"type": "String"
											},
											"sink": {
												"name": "so_doc_type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "item_category_code",
												"type": "String"
											},
											"sink": {
												"name": "item_category_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ord_planned_gi_date_code",
												"type": "String"
											},
											"sink": {
												"name": "ord_planned_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "planned_gi_date_code",
												"type": "String"
											},
											"sink": {
												"name": "planned_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "delivery_planned_gi_date_code",
												"type": "String"
											},
											"sink": {
												"name": "delivery_planned_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "mat_available_date_code",
												"type": "String"
											},
											"sink": {
												"name": "mat_available_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "actual_gi_date_code",
												"type": "String"
											},
											"sink": {
												"name": "actual_gi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "po_doc_nbr",
												"type": "String"
											},
											"sink": {
												"name": "po_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "acct_assignment_grp_code",
												"type": "String"
											},
											"sink": {
												"name": "acct_assignment_grp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "company_code",
												"type": "String"
											},
											"sink": {
												"name": "company_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ship_from_plant_code",
												"type": "String"
											},
											"sink": {
												"name": "ship_from_plant_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sales_group_code",
												"type": "String"
											},
											"sink": {
												"name": "sales_group_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "oms",
												"type": "String"
											},
											"sink": {
												"name": "oms",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shipping_type_code",
												"type": "String"
											},
											"sink": {
												"name": "shipping_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shipping_condition_code",
												"type": "String"
											},
											"sink": {
												"name": "shipping_condition_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "forwarding_agent",
												"type": "String"
											},
											"sink": {
												"name": "forwarding_agent",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "division_code",
												"type": "String"
											},
											"sink": {
												"name": "division_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "distrib_channel_code",
												"type": "String"
											},
											"sink": {
												"name": "distrib_channel_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "billing_block_code",
												"type": "String"
											},
											"sink": {
												"name": "billing_block_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "delivery_block_code",
												"type": "String"
											},
											"sink": {
												"name": "delivery_block_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "clx_po_type",
												"type": "String"
											},
											"sink": {
												"name": "clx_po_type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ship_date_code",
												"type": "String"
											},
											"sink": {
												"name": "ship_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "customer_requested_date_code",
												"type": "String"
											},
											"sink": {
												"name": "customer_requested_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "bracket_price_override_code",
												"type": "String"
											},
											"sink": {
												"name": "bracket_price_override_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "expected_price_status_code",
												"type": "String"
											},
											"sink": {
												"name": "expected_price_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "stats_update_date_code",
												"type": "String"
											},
											"sink": {
												"name": "stats_update_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "multiple_order",
												"type": "String"
											},
											"sink": {
												"name": "multiple_order",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "delivery_nbr",
												"type": "String"
											},
											"sink": {
												"name": "delivery_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ord_qty",
												"type": "Single"
											},
											"sink": {
												"name": "ord_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "number_of_doc_items",
												"type": "Single"
											},
											"sink": {
												"name": "number_of_doc_items",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "actual_delivery_qty",
												"type": "Single"
											},
											"sink": {
												"name": "actual_delivery_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "delivery_qty",
												"type": "Single"
											},
											"sink": {
												"name": "delivery_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "ord_qty_purchase_uom",
												"type": "Single"
											},
											"sink": {
												"name": "ord_qty_purchase_uom",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "bw_ord_qty_ng",
												"type": "Single"
											},
											"sink": {
												"name": "bw_ord_qty_ng",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "bw_ord_qty_liquidation",
												"type": "Single"
											},
											"sink": {
												"name": "bw_ord_qty_liquidation",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "bw_dos_ord_qty",
												"type": "Single"
											},
											"sink": {
												"name": "bw_dos_ord_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "bw_ord_qty",
												"type": "Single"
											},
											"sink": {
												"name": "bw_ord_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "bw_ord_ac_qty",
												"type": "Single"
											},
											"sink": {
												"name": "bw_ord_ac_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "cml_cf_qty",
												"type": "Single"
											},
											"sink": {
												"name": "cml_cf_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "cml_cd_qty",
												"type": "Single"
											},
											"sink": {
												"name": "cml_cd_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "cml_order_qty",
												"type": "Single"
											},
											"sink": {
												"name": "cml_order_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "netprc_exoffinvdisc_amt_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "netprc_exoffinvdisc_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "offinvdisc_amt_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "offinvdisc_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "netval_discsurchrg_amt_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "netval_discsurchrg_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "unsaleable_amt_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "unsaleable_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "customer_expected_price_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "customer_expected_price_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "broker_comm_amt_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "broker_comm_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "net_ord_amt_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "net_ord_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "cost_amt_stcurr",
												"type": "Single"
											},
											"sink": {
												"name": "cost_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "gross_weight_kg",
												"type": "Single"
											},
											"sink": {
												"name": "gross_weight_kg",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "net_weight_kg",
												"type": "Single"
											},
											"sink": {
												"name": "net_weight_kg",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "volume_cubic_decs",
												"type": "Single"
											},
											"sink": {
												"name": "volume_cubic_decs",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "ord_qty_eaches",
												"type": "Single"
											},
											"sink": {
												"name": "ord_qty_eaches",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "ord_qty_sc",
												"type": "Single"
											},
											"sink": {
												"name": "ord_qty_sc",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "ord_qty_cs",
												"type": "Single"
											},
											"sink": {
												"name": "ord_qty_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "gi_date",
												"type": "Single"
											},
											"sink": {
												"name": "gi_date",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "actual_gi_date",
												"type": "Single"
											},
											"sink": {
												"name": "actual_gi_date",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "dos_pgi_date_code",
												"type": "String"
											},
											"sink": {
												"name": "dos_pgi_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uom_base",
												"type": "String"
											},
											"sink": {
												"name": "uom_base",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uom_sales",
												"type": "String"
											},
											"sink": {
												"name": "uom_sales",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uom",
												"type": "String"
											},
											"sink": {
												"name": "uom",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uom_scs",
												"type": "String"
											},
											"sink": {
												"name": "uom_scs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uom_pal",
												"type": "String"
											},
											"sink": {
												"name": "uom_pal",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uom_lay",
												"type": "String"
											},
											"sink": {
												"name": "uom_lay",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "no_of_employees",
												"type": "Single"
											},
											"sink": {
												"name": "no_of_employees",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "stcurr",
												"type": "String"
											},
											"sink": {
												"name": "stcurr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "substitution_reason",
												"type": "String"
											},
											"sink": {
												"name": "substitution_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "rejection_status_code",
												"type": "String"
											},
											"sink": {
												"name": "rejection_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "exception_responsible_code",
												"type": "String"
											},
											"sink": {
												"name": "exception_responsible_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "equip_type_code",
												"type": "String"
											},
											"sink": {
												"name": "equip_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "edi_customer_nbr",
												"type": "String"
											},
											"sink": {
												"name": "edi_customer_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "created_by",
												"type": "String"
											},
											"sink": {
												"name": "created_by",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sales_deal_nbr",
												"type": "String"
											},
											"sink": {
												"name": "sales_deal_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "acknowledged_date_code",
												"type": "String"
											},
											"sink": {
												"name": "acknowledged_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "cancel_by_rqst_arr_date_code",
												"type": "String"
											},
											"sink": {
												"name": "cancel_by_rqst_arr_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "cancel_by_rqst_ship_date_code",
												"type": "String"
											},
											"sink": {
												"name": "cancel_by_rqst_ship_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "conversion_date_code",
												"type": "String"
											},
											"sink": {
												"name": "conversion_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "declined_date_code",
												"type": "String"
											},
											"sink": {
												"name": "declined_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pricing_date_code",
												"type": "String"
											},
											"sink": {
												"name": "pricing_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "service_rendered_date_code",
												"type": "String"
											},
											"sink": {
												"name": "service_rendered_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "quote_valid_to_date_code",
												"type": "String"
											},
											"sink": {
												"name": "quote_valid_to_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "last_action_date_code",
												"type": "String"
											},
											"sink": {
												"name": "last_action_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "not_before_rqst_arr_date_code",
												"type": "String"
											},
											"sink": {
												"name": "not_before_rqst_arr_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "not_before_rqst_ship_date_code",
												"type": "String"
											},
											"sink": {
												"name": "not_before_rqst_ship_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "quote_valid_from_date_code",
												"type": "String"
											},
											"sink": {
												"name": "quote_valid_from_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "created_time",
												"type": "String"
											},
											"sink": {
												"name": "created_time",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uom_weight",
												"type": "String"
											},
											"sink": {
												"name": "uom_weight",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pooling_eligibility",
												"type": "String"
											},
											"sink": {
												"name": "pooling_eligibility",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pick_method_code",
												"type": "String"
											},
											"sink": {
												"name": "pick_method_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "gross_weight",
												"type": "Single"
											},
											"sink": {
												"name": "gross_weight",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "no_of_cases_per_pallet",
												"type": "Single"
											},
											"sink": {
												"name": "no_of_cases_per_pallet",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "no_of_cases_per_layer",
												"type": "Single"
											},
											"sink": {
												"name": "no_of_cases_per_layer",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "customer_lead_time",
												"type": "Single"
											},
											"sink": {
												"name": "customer_lead_time",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "no_of_layers_per_pallet",
												"type": "Single"
											},
											"sink": {
												"name": "no_of_layers_per_pallet",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "loose_pick_rate_cs",
												"type": "Single"
											},
											"sink": {
												"name": "loose_pick_rate_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "loose_pick_qty_cs",
												"type": "Single"
											},
											"sink": {
												"name": "loose_pick_qty_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "loose_pick_cost_cs",
												"type": "Single"
											},
											"sink": {
												"name": "loose_pick_cost_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "loose_pick_rate_lay",
												"type": "Single"
											},
											"sink": {
												"name": "loose_pick_rate_lay",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "pick_qty_lay",
												"type": "Single"
											},
											"sink": {
												"name": "pick_qty_lay",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "broker_layers_picked",
												"type": "Single"
											},
											"sink": {
												"name": "broker_layers_picked",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "loose_pick_cost_lay",
												"type": "Single"
											},
											"sink": {
												"name": "loose_pick_cost_lay",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "loose_lay_pick_qty_cs",
												"type": "Single"
											},
											"sink": {
												"name": "loose_lay_pick_qty_cs",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "currency_code",
												"type": "String"
											},
											"sink": {
												"name": "currency_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ref_doc_nbr",
												"type": "String"
											},
											"sink": {
												"name": "ref_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ref_item_nbr",
												"type": "String"
											},
											"sink": {
												"name": "ref_item_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "division_header_code",
												"type": "String"
											},
											"sink": {
												"name": "division_header_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sd_ref_doc_category",
												"type": "String"
											},
											"sink": {
												"name": "sd_ref_doc_category",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "org_lead_time_error_code",
												"type": "String"
											},
											"sink": {
												"name": "org_lead_time_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "expected_price_error_code",
												"type": "String"
											},
											"sink": {
												"name": "expected_price_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "multiple_order_error_code",
												"type": "String"
											},
											"sink": {
												"name": "multiple_order_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "material_reason_error_code",
												"type": "String"
											},
											"sink": {
												"name": "material_reason_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "lead_time_error_code",
												"type": "String"
											},
											"sink": {
												"name": "lead_time_error_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sales_office",
												"type": "String"
											},
											"sink": {
												"name": "sales_office",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sales_employee",
												"type": "String"
											},
											"sink": {
												"name": "sales_employee",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "io_status_code",
												"type": "String"
											},
											"sink": {
												"name": "io_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "credit_debit_flg",
												"type": "String"
											},
											"sink": {
												"name": "credit_debit_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "cpu_error_flg",
												"type": "String"
											},
											"sink": {
												"name": "cpu_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "date_error_flg",
												"type": "String"
											},
											"sink": {
												"name": "date_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "duplicate_po_error_flg",
												"type": "String"
											},
											"sink": {
												"name": "duplicate_po_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pload_error_flg",
												"type": "String"
											},
											"sink": {
												"name": "pload_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "src_error_flg",
												"type": "String"
											},
											"sink": {
												"name": "src_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "manual_price_date_flg",
												"type": "String"
											},
											"sink": {
												"name": "manual_price_date_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "rounding_occurred_flg",
												"type": "String"
											},
											"sink": {
												"name": "rounding_occurred_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "mat_error_flg",
												"type": "String"
											},
											"sink": {
												"name": "mat_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "multiple_ord_flg",
												"type": "String"
											},
											"sink": {
												"name": "multiple_ord_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "cpu_rate_error_flg",
												"type": "String"
											},
											"sink": {
												"name": "cpu_rate_error_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "cts_header_indicator_flg",
												"type": "String"
											},
											"sink": {
												"name": "cts_header_indicator_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "lead_time_compliance_flg",
												"type": "String"
											},
											"sink": {
												"name": "lead_time_compliance_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "lt_comply_no_so_flg",
												"type": "String"
											},
											"sink": {
												"name": "lt_comply_no_so_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ord_items_flg",
												"type": "String"
											},
											"sink": {
												"name": "ord_items_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ord_reason",
												"type": "String"
											},
											"sink": {
												"name": "ord_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "rejection_reason",
												"type": "String"
											},
											"sink": {
												"name": "rejection_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "material_reason",
												"type": "String"
											},
											"sink": {
												"name": "material_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "exception_reason",
												"type": "String"
											},
											"sink": {
												"name": "exception_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "cpu_error_reason",
												"type": "String"
											},
											"sink": {
												"name": "cpu_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "date_error_reason",
												"type": "String"
											},
											"sink": {
												"name": "date_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pload_error_reason",
												"type": "String"
											},
											"sink": {
												"name": "pload_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "source_error_reason",
												"type": "String"
											},
											"sink": {
												"name": "source_error_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "bw_record_change_flg",
												"type": "String"
											},
											"sink": {
												"name": "bw_record_change_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "idr_load_date",
												"type": "DateTime"
											},
											"sink": {
												"name": "idr_load_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "azure_load_date",
												"type": "DateTime"
											},
											"sink": {
												"name": "azure_load_date",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Table_SQLDW_Staging_Orders",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Table_SQLDW_Base_Orders",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Failure Alert - 3",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load SQLDW Target",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Orders",
									"Activity": "Load SQLDW Target",
									"ErrorMessage": {
										"value": "@activity('Load SQLDW Target').Error.Message",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Target Record Count",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load SQLDW Target",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "select count(*) as target_record_count\nfrom dbo.base_orders \nwhere CONVERT(varchar, idr_load_date, 112) > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Table_SQLDW_Base_Orders",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Failure Alert - 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy IDR To Storage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"Subject": "Azure DF error",
						"DataFactoryName": "clxdev-adf-matrix",
						"PipelineName": {
							"value": "Load IDR Orders",
							"type": "Expression"
						},
						"Activity": "Copy IDR to Storage",
						"ErrorMessage": {
							"value": "@activity('Copy IDR To Storage').Error.Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "QC Check - Staging to Target",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "QC Check - Storage to Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Staging Record Count').output.firstRow.staging_record_count,activity('Get Target Record Count').output.firstRow.target_record_count)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "QC Check - Failure Alert 3",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Shipments",
									"Activity": "QC Check - Load Staging to Target",
									"ErrorMessage": "Record counts between SQLDW staging and Target\ndoesn't match, please take a look."
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Pipeline Success Notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on success",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "ADF pipeline Load IDR Litter Shipments finished successfully",
									"DataFactoryName": "ADF",
									"PipelineName": "Load IDR Litter Shipments",
									"Activity": "Load IDR Litter Shipments",
									"ErrorMessage": "No errors"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Orders"
		},
		"annotations": []
	}
}