pipeline/Load IDR Shipments.json
{
	"name": "Load IDR Shipments",
	"properties": {
		"activities": [
			{
				"name": "IDR To Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * from\n(select *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date} \nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand billto_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%WAL-MART%')\nunion\nselect *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd')  > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%DOLLAR GENERAL CORP%')\nunion\nselect *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%KROGER%'))\nwhere rownum < 10;",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Table_Oracle_IDR_Shipments",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_Incremental_IDR_Litter_Shipments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load SQLDW Target",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load SQLDW Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [billing_doc_nbr]\n      ,[billing_line_item_nbr]\n      ,[billing_created_date_code]\n      ,[billing_date_code]\n      ,[material_num]\n      ,[sap_upc_num]\n      ,[shippingpoint_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[broker_customer_code]\n      ,[so_doc_nbr]\n      ,[po_doc_nbr]\n      ,[profit_center_code]\n      ,[distrib_channel_code]\n      ,[oms]\n      ,[ship_from_plant_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[dos_planned_pgi_date]\n      ,[doc_class_code]\n      ,[clx_po_type]\n      ,[ctrl_area_code]\n      ,[fiscal_yr_variant_code]\n      ,[cost_center_code]\n      ,[billing_type_code]\n      ,[billing_category_code]\n      ,[sd_doc_category_code]\n      ,[item_type_code]\n      ,[item_category_code]\n      ,[unsaleable_ind]\n      ,[order_item_nbr]\n      ,[company_code]\n      ,[division_code]\n      ,[sales_group_code]\n      ,[so_doc_type]\n      ,[billed_qty_baseuom]\n      ,[billed_qty_sc]\n      ,[billed_qty_slsuom]\n      ,[billed_qty]\n      ,[exchange_rate]\n      ,[tax_amt]\n      ,[discount_base_amt]\n      ,[scale_qty]\n      ,[denominator]\n      ,[numerator]\n      ,[delivered_vol_qty]\n      ,[cost_amt]\n      ,[net_ship_amt]\n      ,[exchange_rate_stcurr]\n      ,[gross_ship_amt]\n      ,[cost_amt_stcurr]\n      ,[open_billing_qty]\n      ,[exchange_rate_acct]\n      ,[net_ship_amt_stcurr]\n      ,[rebate_amt]\n      ,[gross_weight]\n      ,[required_qty]\n      ,[net_weight]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[netprc_exoffinvdisc_amt]\n      ,[offinvdisc_amt]\n      ,[netval_discsurchrg_amt]\n      ,[unsaleable_amt]\n      ,[customer_expected_price]\n      ,[broker_comm_amt]\n      ,[sku_bill_qty]\n      ,[dos_qty_sc]\n      ,[dos_ng_liquid_qty]\n      ,[number_of_billeditem]\n      ,[sales_office]\n      ,[order_reason]\n      ,[rejection_reason]\n      ,[sales_deal]\n      ,[shipping_condition_code]\n      ,[update_mode]\n      ,[inv_date_nbr]\n      ,[stcurr]\n      ,[doccurr]\n      ,[uom_weight]\n      ,[uom_sales]\n      ,[uom_base]\n      ,[uom_volume]\n      ,[uom]\n      ,[changed_date_nbr]\n      ,[batch_code]\n      ,[serv_rendered_date_code]\n      ,[proc_status]\n      ,[rebate_arrangement]\n      ,[uom_lay]\n      ,[uom_pal]\n      ,[uom_sc]\n      ,[shipping_type_code]\n      ,[acct_assignment_grp_code]\n      ,[customer_group_code_1]\n      ,[customer_group_code_2]\n      ,[customer_group_code_3]\n      ,[customer_group_code_4]\n      ,[storage_location_code]\n      ,[material_group_code]\n      ,[material_num_entered]\n      ,[material_group_code_1]\n      ,[material_group_code_2]\n      ,[material_group_code_3]\n      ,[material_group_code_4]\n      ,[material_group_code_5]\n      ,[dest_country_code]\n      ,[pricing_date_code]\n      ,[sales_region_code]\n      ,[bom_high_level_item]\n      ,[ref_doc_num]\n      ,[ref_item_num]\n      ,[delivery_type_code]\n      ,[qty_eaches]\n      ,[doc_count]\n      ,[posting_stat_bill_doc_code]\n      ,[billing_status_order]\n      ,[billing_status]\n      ,[so_customer_group]\n      ,[condition_group_2]\n      ,[condition_group_3]\n      ,[condition_group_4]\n      ,[condition_group_5]\n      ,[so_price_group]\n      ,[translation_date_code]\n      ,[src_country_code]\n      ,[dest_city_code]\n      ,[soldto_customer_code_1]\n      ,[posting_period_type]\n      ,[item]\n      ,[so_region_code]\n      ,[transfer_acct_status_code]\n      ,[so_sales_org_code]\n      ,[so_distrib_channel_code]\n      ,[material_plant_code]\n      ,[sales_division_code]\n      ,[dos_qty]\n      ,[billed_qty_purchase_uom]\n      ,[number_of_doc]\n      ,[number_of_doc_items]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_dec]\n      ,[version_code]\n      ,[value_type_code]\n      ,[credit_debit_flg]\n      ,[sales_district_code]\n      ,[sales_emp_code]\n      ,[posting_period]\n      ,[military_product_code]\n      ,[edi_customer_code]\n      ,[soldto_country_code]\n      ,[billto_country_code]\n      ,[payer_country_code]\n      ,[carrier_country_code]\n      ,[representative_country_code]\n      ,[conversion_date_code]\n      ,[stats_date_code]\n      ,[stats_update_date_code]\n      ,[forwarding_agent]\n      ,[bw_tran_key]\n      ,[load_date] as idr_load_date\n      ,[invoiced_qty]\n      ,[invoiced_net_amt]\n\t  ,CONVERT (date, SYSDATETIME()) as azure_load_date\n  FROM [dbo].[stg_litter_shipments];",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Stg_Table_SQLDW_Shipments",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Table_SQLDW_Base_Litter_Shipments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Failure Alert - 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IDR To Storage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Activity": "Copy_IDR_Litter_Shipments_Storage",
						"ErrorMessage": {
							"value": "@activity('IDR To Storage').Error.Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Failure Alert - 3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load SQLDW Target",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Activity": "Load SQLDW Target",
						"ErrorMessage": {
							"value": "@activity('Load SQLDW Target').Error.Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Pipeline Success Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load SQLDW Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on success",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"Subject": "ADF pipeline Load IDR Litter Shipments finished successfully",
						"DataFactoryName": "ADF",
						"PipelineName": "Load IDR Litter Shipments",
						"Activity": "Load IDR Litter Shipments",
						"ErrorMessage": "No errors"
					}
				}
			},
			{
				"name": "Get Last Load Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_litter_shipments",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Query_SQLDW_Base_Litter_Shipments",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load SQLDW Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IDR To Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CSV_Incremental_IDR_Litter_Shipments",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Table_SQLDW_Staging_Litter_Shipments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Failure Alert - 2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load SQLDW Staging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"Subject": "Azure DF error",
						"DataFactoryName": "DF",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Activity": "Load SQLDW Staging",
						"ErrorMessage": "@activity('Load SQLDW Staging').Error.Message"
					}
				}
			}
		],
		"parameters": {
			"IDR_Load_Date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}