pipeline/Load Kroger Inventory.json
{
	"name": "Load Kroger Inventory",
	"properties": {
		"activities": [
			{
				"name": "Get Last Load Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select max(kr_date_nbr) as max_load_date from dbo.base_kroger_whs_inventory",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Query_SQLDW_Base_Shipments",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get IDR Record Count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select count(*)\nfrom clxrdr_kr.kr_b_whs_inv_day\nwhere kr_date_nbr > @{activity('Get Last Load Date').output.firstRow.max_load_date}",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Table_Oracle_IDR_Shipments",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy IDR To Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select * from clxrdr_kr.kr_b_whs_inv_day \nwhere kr_date_nbr >  @{activity('Get Last Load Date').output.firstRow.max_load_date}",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Table_Oracle_IDR_Shipments",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_Incremental_IDR_Shipments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Failure Alert - 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy IDR To Storage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"Subject": "Azure DF error",
						"DataFactoryName": "clxdev-adf-matrix",
						"PipelineName": {
							"value": "Load IDR Shipments",
							"type": "Expression"
						},
						"Activity": "Copy IDR to Storage",
						"ErrorMessage": {
							"value": "@activity('Copy IDR To Storage').Error.Message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}