pipeline/Material_UOM_dim.json
{
	"name": "Material_UOM_dim",
	"properties": {
		"activities": [
			{
				"name": "SPRC_Internal_Dim_Material_UOM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stg_material_UOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPRC_Internal_Dim_Material_UOM]",
					"storedProcedureParameters": {
						"start_date": {
							"value": null,
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stg_material_UOM",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dbo.stg_material_uom_dim",
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage_OnPrem",
							"type": "LinkedServiceReference"
						},
						"path": "matrix-stage/staging_area"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MATERIAL_NUM",
									"type": "String"
								},
								"sink": {
									"name": "MATERIAL_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UOM",
									"type": "String"
								},
								"sink": {
									"name": "UOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONV_FACTOR",
									"type": "Double"
								},
								"sink": {
									"name": "CONV_FACTOR",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CREATED_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CREATED_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "MODIFIED_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "MODIFIED_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Table_Oracle_IDR_BW_D_Material_UOM",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Table_SQLDW_Staging_Material_UOM",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Src_to_Target_Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SPRC_Internal_Dim_Material_UOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select Source_count as Source_Count, Target_Count from dbo.etl_audit_log where batch_id = (select max(batch_id)\nfrom dbo.etl_audit_log) and Activity_Name = 'SPRC_Internal_Dim_Material_UOM'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Table_SQLDW_etl_audit_log",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check for Src to Tgt match",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Src_to_Target_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Src_to_Target_Lookup').output.firstRow.Source_Count,activity('Src_to_Target_Lookup').output.firstRow.Target_Count)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "AT_WEB_Material_UOM_Dim_Load_Error",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"DataFactoryName": "@{pipeline().DataFactory}",
									"Status": "Failed",
									"Env": "Dev",
									"PipelineName": "@{pipeline().Pipeline}",
									"EmailTo": "abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com;kalyani.Pernapati@clorox.com",
									"MessageBody1": "Hi All,",
									"MessageBody2": "This is an email notification generated from Azure Data Factory for data ingestion in Material_UOM dim (dbo.material_uom_dim) table.",
									"MessageBody3": "Please find below the pipeline execution details:",
									"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
									"MessageBody5": " - Thanks"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Clorox - Dimensions/Clorox Internal Dim"
		},
		"annotations": []
	}
}