pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select filteredfiles from dbo.Audit_file_check where Audit_id =\n(select max(Audit_id) from dbo.Audit_file_check ) and  adls_push_flag = 1 order by 1",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Table_SQLDW_audit_filecheck",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Job_Completion_Alert",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"DataFactoryName": "@{pipeline().DataFactory}",
									"Status": "Successful",
									"Env": "Dev",
									"PipelineName": "@{pipeline().Pipeline}",
									"EmailTo": "abhijeet.kumar@bridgei2i.com",
									"MessageBody1": "Hi All,",
									"MessageBody2": "This is an email notification generated from Azure Data Factory for copying the file from the SFTP server to Azure Data Lake Storage.",
									"MessageBody3": "Please find below the pipeline execution details:",
									"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
									"MessageBody5": " - Thanks"
								}
							}
						}
					]
				}
			},
			{
				"name": "Audit Start",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Start_AuditRun]",
					"storedProcedureParameters": {
						"Param_id": {
							"value": {
								"value": "@pipeline().parameters.Param_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQLDW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "IRI - POS/testing ABC"
		},
		"annotations": []
	}
}