pipeline/rapid_data_automate.json
{
	"name": "rapid_data_automate",
	"properties": {
		"activities": [
			{
				"name": "Get_FTP_file_last_modified_date",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "rrdp_finance_feed_srcfile_testcred",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "/prod/datastaging/bw/in/DPFINC11/",
							"file": "rrdp_c11_finance_feed.csv"
						}
					},
					"fieldList": [
						"lastModified",
						"itemName",
						"exists"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"useBinaryTransfer": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Check if Right Event file exists or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "date_difference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Get_FTP_file_last_modified_date').output.exists,true),\nlessOrEquals(activity('date_difference').output.firstRow.date_difference,4))\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "date_difference",
								"value": "4"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy To ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FtpReadSettings",
										"recursive": true,
										"useBinaryTransfer": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "rrdp_finance_feed_srcfile",
									"type": "DatasetReference",
									"parameters": {
										"hostname": {
											"value": "@pipeline().parameters.hostname",
											"type": "Expression"
										},
										"username": {
											"value": "@pipeline().parameters.username",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.Src_Directory_Path",
											"type": "Expression"
										},
										"file": {
											"value": "@pipeline().parameters.Src_Filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "rrdp_target_test",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy To Staging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy To ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table stg_rapid_finance",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "rrdp_finance_feed_srcfile_csv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "stg_rapid",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "get Push_to_BW date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select Feed_Date_Push_To_BW, Date_Match_Flag from [dbo].[corp_calendar_event]\nwhere Fiscal_Year ='@{pipeline().parameters.fiscal_year}' and Calendar_Event = '@{pipeline().parameters.calendar_event}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "corp_calendar_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "date_difference",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get_FTP_file_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get Push_to_BW date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT DATEDIFF(day, '@{activity('get Push_to_BW date').output.firstRow.Feed_Date_Push_To_BW}','@{activity('Get_FTP_file_last_modified_date').output.lastModified}') as date_difference\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "corp_calendar_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check Storage to Target Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check if Right Event file exists or not",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Copy To Staging').output.rowsRead,activity('Copy To Staging').output.rowsCopied)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load to Target",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@pipeline().parameters.event_type",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "NDF",
										"activities": [
											{
												"name": "Stored procedure_NDF_Insert",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SPRC_rapid_finance_ndf_insert]",
													"storedProcedureParameters": {
														"fisacal_year": {
															"value": {
																"value": "@pipeline().parameters.fiscal_year",
																"type": "Expression"
															},
															"type": "String"
														},
														"event_name": {
															"value": {
																"value": "@pipeline().parameters.calendar_event",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSQLDW_onprem",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Budget"
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fiscal_year": {
				"type": "string",
				"defaultValue": "FY21"
			},
			"calendar_event": {
				"type": "string",
				"defaultValue": "October/November NDF"
			},
			"hostname": {
				"type": "string",
				"defaultValue": "cpcetlp"
			},
			"username": {
				"type": "string",
				"defaultValue": "akumar24"
			},
			"Src_Directory_Path": {
				"type": "string",
				"defaultValue": "/prod/datastaging/bw/in/DPFINC11/"
			},
			"Src_Filename": {
				"type": "string",
				"defaultValue": "rrdp_c11_finance_feed.csv"
			},
			"event_type": {
				"type": "string"
			}
		},
		"variables": {
			"date_difference": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Rapid Response"
		},
		"annotations": []
	}
}