pipeline/sftp_to_adls_ingestion_static.json
{
	"name": "sftp_test2",
	"properties": {
		"activities": [
			{
				"name": "AT_CPY_SFTP_TO_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Activity_Start_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Burts_Product_Meta",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blob_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Activity_Start_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT CONVERT(varchar, GETDATE(),20) as at_start_time",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Table_SQLDW_etl_audit_log",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Activity_End_Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "AT_CPY_SFTP_TO_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT CONVERT(varchar, GETDATE(),20) as at_end_time",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Table_SQLDW_etl_audit_log",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Audit_logging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Activity_End_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "src_count",
								"value": "@activity('AT_CPY_SFTP_TO_ADLS').output.filesRead"
							},
							{
								"name": "tgt_count",
								"value": "@activity('AT_CPY_SFTP_TO_ADLS').output.filesWritten"
							},
							{
								"name": "src_name",
								"value": "Burts_Product_Meta"
							},
							{
								"name": "tgt_name",
								"value": "Burts_Product_Meta"
							},
							{
								"name": "Total_time_taken",
								"value": "@activity('AT_CPY_SFTP_TO_ADLS').output.copyDuration"
							},
							{
								"name": "Pipeline_name",
								"value": "sftp_test2"
							},
							{
								"name": "Datafactory_Name",
								"value": "clxdev-adf-matrix"
							},
							{
								"name": "src_type",
								"value": "file"
							},
							{
								"name": "tgt_type",
								"value": "file"
							},
							{
								"name": "status",
								"value": "@activity('AT_CPY_SFTP_TO_ADLS').output.executionDetails[0].status"
							},
							{
								"name": "activity_name",
								"value": "AT_CPY_SFTP_TO_ADLS"
							},
							{
								"name": "activity_start_dt",
								"value": "@activity('Activity_Start_Date').output.firstrow.at_start_time"
							},
							{
								"name": "activity_end_dt",
								"value": "@activity('Activity_End_Date').output.firstrow.at_end_time"
							},
							{
								"name": "rows_inserted",
								"value": "0"
							},
							{
								"name": "rows_updated",
								"value": "0"
							}
						],
						"sqlReaderQuery": "select isnull(max(batch_id),0)+1 as Batch_ID\nfrom dbo.etl_audit_log;",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "matrix-stage"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Batch_ID"
								},
								"sink": {
									"name": "batch_id"
								}
							},
							{
								"source": {
									"name": "Datafactory_Name"
								},
								"sink": {
									"name": "Datafactory_Name"
								}
							},
							{
								"source": {
									"name": "Pipeline_name"
								},
								"sink": {
									"name": "Pipeline_Name"
								}
							},
							{
								"source": {
									"name": "activity_name"
								},
								"sink": {
									"name": "Activity_Name"
								}
							},
							{
								"source": {
									"name": "src_type"
								},
								"sink": {
									"name": "Source_Type"
								}
							},
							{
								"source": {
									"name": "tgt_type"
								},
								"sink": {
									"name": "Destination_Type"
								}
							},
							{
								"source": {
									"name": "src_name"
								},
								"sink": {
									"name": "Source_Name"
								}
							},
							{
								"source": {
									"name": "tgt_name"
								},
								"sink": {
									"name": "Target_Name"
								}
							},
							{
								"source": {
									"name": "src_count"
								},
								"sink": {
									"name": "Source_Count"
								}
							},
							{
								"source": {
									"name": "tgt_count"
								},
								"sink": {
									"name": "Target_Count"
								}
							},
							{
								"source": {
									"name": "status"
								},
								"sink": {
									"name": "Status"
								}
							},
							{
								"source": {
									"name": "activity_start_dt"
								},
								"sink": {
									"name": "Activity_Start_Time"
								}
							},
							{
								"source": {
									"name": "activity_end_dt"
								},
								"sink": {
									"name": "Activity_End_Time"
								}
							},
							{
								"source": {
									"name": "Total_time_taken"
								},
								"sink": {
									"name": "Total_time_taken_in_sec"
								}
							},
							{
								"source": {
									"name": "rows_inserted"
								},
								"sink": {
									"name": "rows_inserted"
								}
							},
							{
								"source": {
									"name": "rows_updated"
								},
								"sink": {
									"name": "rows_updated"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Table_SQLDW_etl_audit_log",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Table_SQLDW_etl_audit_log",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "IRI - POS"
		},
		"annotations": []
	}
}