pipeline/Test_0428.json
{
	"name": "Test_0428",
	"properties": {
		"activities": [
			{
				"name": "Get Last Load Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_shipments",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Query_SQLDW_Base_Shipments",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get IDR Record Count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select count(*) as idr_record_count\nfrom clxbw.apo_bw_b_billing ship join clxbw.apo_bw_d_material mat on ship.material_num=mat.material_num\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand (mat.division_name like '%Litter%' or mat.division_name like '%Charcoal%' or mat.division_name like '%Food Products%')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Table_Oracle_IDR_Shipments",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy IDR To Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select *\nfrom clxbw.apo_bw_b_billing ship join clxbw.apo_bw_d_material mat on ship.material_num=mat.material_num\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand (mat.division_name like '%Litter%' or mat.division_name like '%Charcoal%' or mat.division_name like '%Food Products%')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Table_Oracle_IDR_Shipments1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_Incremental_IDR_Shipments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "QC Check - Source to Storage",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get IDR Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy IDR To Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get IDR Record Count').output.firstRow.idr_record_count,activity('Copy IDR To Storage').output.rowsCopied)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "QC Check - Failure Alert 1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Shipments",
									"Activity": "QC Check - Copy IDR To Storage",
									"ErrorMessage": "Record counts between IDR and storage file didn't match, please take a look."
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Load SQLDW Staging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table dbo.stg_shipments",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "billing_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"name": "billing_line_item_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "billing_created_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"name": "billing_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"name": "material_num",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"name": "sap_upc_num",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"name": "shippingpoint_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 8
											},
											"sink": {
												"name": "soldto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 9
											},
											"sink": {
												"name": "payer_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 10
											},
											"sink": {
												"name": "billto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 11
											},
											"sink": {
												"name": "shipto_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 12
											},
											"sink": {
												"name": "broker_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 13
											},
											"sink": {
												"name": "so_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 14
											},
											"sink": {
												"name": "po_doc_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 15
											},
											"sink": {
												"name": "profit_center_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 16
											},
											"sink": {
												"name": "distrib_channel_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 17
											},
											"sink": {
												"name": "oms",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 18
											},
											"sink": {
												"name": "ship_from_plant_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 19
											},
											"sink": {
												"name": "planned_pgi_date_yyyymm",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 20
											},
											"sink": {
												"name": "dos_planned_pgi_date",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 21
											},
											"sink": {
												"name": "doc_class_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 22
											},
											"sink": {
												"name": "clx_po_type",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 23
											},
											"sink": {
												"name": "ctrl_area_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 24
											},
											"sink": {
												"name": "fiscal_yr_variant_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 25
											},
											"sink": {
												"name": "cost_center_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 26
											},
											"sink": {
												"name": "billing_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 27
											},
											"sink": {
												"name": "billing_category_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 28
											},
											"sink": {
												"name": "sd_doc_category_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 29
											},
											"sink": {
												"name": "item_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 30
											},
											"sink": {
												"name": "item_category_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 31
											},
											"sink": {
												"name": "unsaleable_ind",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 32
											},
											"sink": {
												"name": "order_item_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 33
											},
											"sink": {
												"name": "company_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 34
											},
											"sink": {
												"name": "division_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 35
											},
											"sink": {
												"name": "sales_group_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 36
											},
											"sink": {
												"name": "so_doc_type",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 37
											},
											"sink": {
												"name": "billed_qty_baseuom",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 38
											},
											"sink": {
												"name": "billed_qty_sc",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 39
											},
											"sink": {
												"name": "billed_qty_slsuom",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 40
											},
											"sink": {
												"name": "billed_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 41
											},
											"sink": {
												"name": "exchange_rate",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 42
											},
											"sink": {
												"name": "tax_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 43
											},
											"sink": {
												"name": "discount_base_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 44
											},
											"sink": {
												"name": "scale_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 45
											},
											"sink": {
												"name": "denominator",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 46
											},
											"sink": {
												"name": "numerator",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 47
											},
											"sink": {
												"name": "delivered_vol_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 48
											},
											"sink": {
												"name": "cost_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 49
											},
											"sink": {
												"name": "net_ship_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 50
											},
											"sink": {
												"name": "exchange_rate_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 51
											},
											"sink": {
												"name": "gross_ship_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 52
											},
											"sink": {
												"name": "cost_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 53
											},
											"sink": {
												"name": "open_billing_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 54
											},
											"sink": {
												"name": "exchange_rate_acct",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 55
											},
											"sink": {
												"name": "net_ship_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 56
											},
											"sink": {
												"name": "rebate_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 57
											},
											"sink": {
												"name": "gross_weight",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 58
											},
											"sink": {
												"name": "required_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 59
											},
											"sink": {
												"name": "net_weight",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 60
											},
											"sink": {
												"name": "netprc_exoffinvdisc_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 61
											},
											"sink": {
												"name": "offinvdisc_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 62
											},
											"sink": {
												"name": "netval_discsurchrg_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 63
											},
											"sink": {
												"name": "unsaleable_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 64
											},
											"sink": {
												"name": "customer_expected_price_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 65
											},
											"sink": {
												"name": "broker_comm_amt_stcurr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 66
											},
											"sink": {
												"name": "netprc_exoffinvdisc_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 67
											},
											"sink": {
												"name": "offinvdisc_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 68
											},
											"sink": {
												"name": "netval_discsurchrg_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 69
											},
											"sink": {
												"name": "unsaleable_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 70
											},
											"sink": {
												"name": "customer_expected_price",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 71
											},
											"sink": {
												"name": "broker_comm_amt",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 72
											},
											"sink": {
												"name": "sku_bill_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 73
											},
											"sink": {
												"name": "dos_qty_sc",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 74
											},
											"sink": {
												"name": "dos_ng_liquid_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 75
											},
											"sink": {
												"name": "number_of_billeditem",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 76
											},
											"sink": {
												"name": "sales_office",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 77
											},
											"sink": {
												"name": "order_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 78
											},
											"sink": {
												"name": "rejection_reason",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 79
											},
											"sink": {
												"name": "sales_deal",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 80
											},
											"sink": {
												"name": "shipping_condition_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 81
											},
											"sink": {
												"name": "update_mode",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 82
											},
											"sink": {
												"name": "inv_date_nbr",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 83
											},
											"sink": {
												"name": "stcurr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 84
											},
											"sink": {
												"name": "doccurr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 85
											},
											"sink": {
												"name": "uom_weight",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 86
											},
											"sink": {
												"name": "uom_sales",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 87
											},
											"sink": {
												"name": "uom_base",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 88
											},
											"sink": {
												"name": "uom_volume",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 89
											},
											"sink": {
												"name": "uom",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 90
											},
											"sink": {
												"name": "changed_date_nbr",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 91
											},
											"sink": {
												"name": "batch_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 92
											},
											"sink": {
												"name": "serv_rendered_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 93
											},
											"sink": {
												"name": "proc_status",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 94
											},
											"sink": {
												"name": "rebate_arrangement",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 95
											},
											"sink": {
												"name": "uom_lay",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 96
											},
											"sink": {
												"name": "uom_pal",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 97
											},
											"sink": {
												"name": "uom_sc",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 98
											},
											"sink": {
												"name": "shipping_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 99
											},
											"sink": {
												"name": "acct_assignment_grp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 100
											},
											"sink": {
												"name": "customer_group_code_1",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 101
											},
											"sink": {
												"name": "customer_group_code_2",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 102
											},
											"sink": {
												"name": "customer_group_code_3",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 103
											},
											"sink": {
												"name": "customer_group_code_4",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 104
											},
											"sink": {
												"name": "storage_location_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 105
											},
											"sink": {
												"name": "material_group_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 106
											},
											"sink": {
												"name": "material_num_entered",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 107
											},
											"sink": {
												"name": "material_group_code_1",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 108
											},
											"sink": {
												"name": "material_group_code_2",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 109
											},
											"sink": {
												"name": "material_group_code_3",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 110
											},
											"sink": {
												"name": "material_group_code_4",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 111
											},
											"sink": {
												"name": "material_group_code_5",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 112
											},
											"sink": {
												"name": "dest_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 113
											},
											"sink": {
												"name": "pricing_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 114
											},
											"sink": {
												"name": "sales_region_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 115
											},
											"sink": {
												"name": "bom_high_level_item",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 116
											},
											"sink": {
												"name": "ref_doc_num",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 117
											},
											"sink": {
												"name": "ref_item_num",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 118
											},
											"sink": {
												"name": "delivery_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 119
											},
											"sink": {
												"name": "qty_eaches",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 120
											},
											"sink": {
												"name": "doc_count",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 121
											},
											"sink": {
												"name": "posting_stat_bill_doc_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 122
											},
											"sink": {
												"name": "billing_status_order",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 123
											},
											"sink": {
												"name": "billing_status",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 124
											},
											"sink": {
												"name": "so_customer_group",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 125
											},
											"sink": {
												"name": "condition_group_2",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 126
											},
											"sink": {
												"name": "condition_group_3",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 127
											},
											"sink": {
												"name": "condition_group_4",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 128
											},
											"sink": {
												"name": "condition_group_5",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 129
											},
											"sink": {
												"name": "so_price_group",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 130
											},
											"sink": {
												"name": "translation_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 131
											},
											"sink": {
												"name": "src_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 132
											},
											"sink": {
												"name": "dest_city_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 133
											},
											"sink": {
												"name": "soldto_customer_code_1",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 134
											},
											"sink": {
												"name": "posting_period_type",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 135
											},
											"sink": {
												"name": "item",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 136
											},
											"sink": {
												"name": "so_region_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 137
											},
											"sink": {
												"name": "transfer_acct_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 138
											},
											"sink": {
												"name": "so_sales_org_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 139
											},
											"sink": {
												"name": "so_distrib_channel_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 140
											},
											"sink": {
												"name": "material_plant_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 141
											},
											"sink": {
												"name": "sales_division_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 142
											},
											"sink": {
												"name": "dos_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 143
											},
											"sink": {
												"name": "billed_qty_purchase_uom",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 144
											},
											"sink": {
												"name": "number_of_doc",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 145
											},
											"sink": {
												"name": "number_of_doc_items",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 146
											},
											"sink": {
												"name": "gross_weight_kg",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 147
											},
											"sink": {
												"name": "net_weight_kg",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 148
											},
											"sink": {
												"name": "volume_cubic_dec",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 149
											},
											"sink": {
												"name": "version_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 150
											},
											"sink": {
												"name": "value_type_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 151
											},
											"sink": {
												"name": "credit_debit_flg",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 152
											},
											"sink": {
												"name": "sales_district_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 153
											},
											"sink": {
												"name": "sales_emp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 154
											},
											"sink": {
												"name": "posting_period",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 155
											},
											"sink": {
												"name": "military_product_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 156
											},
											"sink": {
												"name": "edi_customer_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 157
											},
											"sink": {
												"name": "soldto_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 158
											},
											"sink": {
												"name": "billto_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 159
											},
											"sink": {
												"name": "payer_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 160
											},
											"sink": {
												"name": "carrier_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 161
											},
											"sink": {
												"name": "representative_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 162
											},
											"sink": {
												"name": "conversion_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 163
											},
											"sink": {
												"name": "stats_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 164
											},
											"sink": {
												"name": "stats_update_date_code",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 165
											},
											"sink": {
												"name": "forwarding_agent",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 166
											},
											"sink": {
												"name": "bw_tran_key",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 167
											},
											"sink": {
												"name": "idr_load_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 168
											},
											"sink": {
												"name": "invoiced_qty",
												"type": "Single"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 169
											},
											"sink": {
												"name": "invoiced_net_amt",
												"type": "Single"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_Incremental_IDR_Shipments_AZ",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Table_SQLDW_Staging_Shipments",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get Staging Record Count",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load SQLDW Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "select count(*) as staging_record_count from stg_shipments",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "Table_SQLDW_Staging_Shipments",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Failure Alert - 2",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load SQLDW Staging",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Shipments",
									"Activity": "Load SQLDW Staging",
									"ErrorMessage": {
										"value": "@activity('Load SQLDW Staging').Error.Message",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "QC Check - Storage to Staging",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "QC Check - Source to Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Copy IDR To Storage').output.rowsCopied,activity('Get Staging Record Count').output.firstRow.staging_record_count)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "QC Check - Failure Alert 2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Shipments",
									"Activity": "QC Check - Storage to SQLDW Staging",
									"ErrorMessage": "Record counts between incremental data file and SQLDW \nstaging did not match, please take a look."
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Load SQLDW Target",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "SELECT [billing_doc_nbr]\n      ,[billing_line_item_nbr]\n      ,[billing_created_date_code]\n      ,[billing_date_code]\n      ,[material_num]\n      ,[sap_upc_num]\n      ,[shippingpoint_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[broker_customer_code]\n      ,[so_doc_nbr]\n      ,[po_doc_nbr]\n      ,[profit_center_code]\n      ,[distrib_channel_code]\n      ,[oms]\n      ,[ship_from_plant_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[dos_planned_pgi_date]\n      ,[doc_class_code]\n      ,[clx_po_type]\n      ,[ctrl_area_code]\n      ,[fiscal_yr_variant_code]\n      ,[cost_center_code]\n      ,[billing_type_code]\n      ,[billing_category_code]\n      ,[sd_doc_category_code]\n      ,[item_type_code]\n      ,[item_category_code]\n      ,[unsaleable_ind]\n      ,[order_item_nbr]\n      ,[company_code]\n      ,[division_code]\n      ,[sales_group_code]\n      ,[so_doc_type]\n      ,[billed_qty_baseuom]\n      ,[billed_qty_sc]\n      ,[billed_qty_slsuom]\n      ,[billed_qty]\n      ,[exchange_rate]\n      ,[tax_amt]\n      ,[discount_base_amt]\n      ,[scale_qty]\n      ,[denominator]\n      ,[numerator]\n      ,[delivered_vol_qty]\n      ,[cost_amt]\n      ,[net_ship_amt]\n      ,[exchange_rate_stcurr]\n      ,[gross_ship_amt]\n      ,[cost_amt_stcurr]\n      ,[open_billing_qty]\n      ,[exchange_rate_acct]\n      ,[net_ship_amt_stcurr]\n      ,[rebate_amt]\n      ,[gross_weight]\n      ,[required_qty]\n      ,[net_weight]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[netprc_exoffinvdisc_amt]\n      ,[offinvdisc_amt]\n      ,[netval_discsurchrg_amt]\n      ,[unsaleable_amt]\n      ,[customer_expected_price]\n      ,[broker_comm_amt]\n      ,[sku_bill_qty]\n      ,[dos_qty_sc]\n      ,[dos_ng_liquid_qty]\n      ,[number_of_billeditem]\n      ,[sales_office]\n      ,[order_reason]\n      ,[rejection_reason]\n      ,[sales_deal]\n      ,[shipping_condition_code]\n      ,[update_mode]\n      ,[inv_date_nbr]\n      ,[stcurr]\n      ,[doccurr]\n      ,[uom_weight]\n      ,[uom_sales]\n      ,[uom_base]\n      ,[uom_volume]\n      ,[uom]\n      ,[changed_date_nbr]\n      ,[batch_code]\n      ,[serv_rendered_date_code]\n      ,[proc_status]\n      ,[rebate_arrangement]\n      ,[uom_lay]\n      ,[uom_pal]\n      ,[uom_sc]\n      ,[shipping_type_code]\n      ,[acct_assignment_grp_code]\n      ,[customer_group_code_1]\n      ,[customer_group_code_2]\n      ,[customer_group_code_3]\n      ,[customer_group_code_4]\n      ,[storage_location_code]\n      ,[material_group_code]\n      ,[material_num_entered]\n      ,[material_group_code_1]\n      ,[material_group_code_2]\n      ,[material_group_code_3]\n      ,[material_group_code_4]\n      ,[material_group_code_5]\n      ,[dest_country_code]\n      ,[pricing_date_code]\n      ,[sales_region_code]\n      ,[bom_high_level_item]\n      ,[ref_doc_num]\n      ,[ref_item_num]\n      ,[delivery_type_code]\n      ,[qty_eaches]\n      ,[doc_count]\n      ,[posting_stat_bill_doc_code]\n      ,[billing_status_order]\n      ,[billing_status]\n      ,[so_customer_group]\n      ,[condition_group_2]\n      ,[condition_group_3]\n      ,[condition_group_4]\n      ,[condition_group_5]\n      ,[so_price_group]\n      ,[translation_date_code]\n      ,[src_country_code]\n      ,[dest_city_code]\n      ,[soldto_customer_code_1]\n      ,[posting_period_type]\n      ,[item]\n      ,[so_region_code]\n      ,[transfer_acct_status_code]\n      ,[so_sales_org_code]\n      ,[so_distrib_channel_code]\n      ,[material_plant_code]\n      ,[sales_division_code]\n      ,[dos_qty]\n      ,[billed_qty_purchase_uom]\n      ,[number_of_doc]\n      ,[number_of_doc_items]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_dec]\n      ,[version_code]\n      ,[value_type_code]\n      ,[credit_debit_flg]\n      ,[sales_district_code]\n      ,[sales_emp_code]\n      ,[posting_period]\n      ,[military_product_code]\n      ,[edi_customer_code]\n      ,[soldto_country_code]\n      ,[billto_country_code]\n      ,[payer_country_code]\n      ,[carrier_country_code]\n      ,[representative_country_code]\n      ,[conversion_date_code]\n      ,[stats_date_code]\n      ,[stats_update_date_code]\n      ,[forwarding_agent]\n      ,[bw_tran_key]\n      ,[idr_load_date]\n      ,[invoiced_qty]\n      ,[invoiced_net_amt]\n\t  ,CONVERT (date, SYSDATETIME()) as azure_load_date\n  FROM [dbo].[stg_shipments];",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Table_SQLDW_Staging_Shipments",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Table_SQLDW_Base_Shipments",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Failure Alert - 3",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load SQLDW Target",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Shipments",
									"Activity": "Load SQLDW Target",
									"ErrorMessage": {
										"value": "@activity('Load SQLDW Target').Error.Message",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Target Record Count",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load SQLDW Target",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "select count(*) as target_record_count\nfrom dbo.base_shipments \nwhere CONVERT(varchar, idr_load_date, 112) > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "Table_SQLDW_Base_Shipments",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Failure Alert - 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy IDR To Storage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "kalyani.pernapati@clorox.com",
						"Subject": "Azure DF error",
						"DataFactoryName": "clxdev-adf-matrix",
						"PipelineName": {
							"value": "Load IDR Shipments",
							"type": "Expression"
						},
						"Activity": "Copy IDR to Storage",
						"ErrorMessage": "@activity('Copy IDR To Storage').Error.Message"
					}
				}
			},
			{
				"name": "QC Check - Staging to Target",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "QC Check - Storage to Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Staging Record Count').output.firstRow.staging_record_count,activity('Get Target Record Count').output.firstRow.target_record_count)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "QC Check - Failure Alert 3",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "Azure DF error",
									"DataFactoryName": "DF",
									"PipelineName": "Load IDR Shipments",
									"Activity": "QC Check - Load Staging to Target",
									"ErrorMessage": "Record counts between SQLDW staging and Target\ndoesn't match, please take a look."
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Pipeline Success Notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email on success",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "kalyani.pernapati@clorox.com",
									"Subject": "ADF pipeline Load IDR Litter Shipments finished successfully",
									"DataFactoryName": "ADF",
									"PipelineName": "Load IDR Litter Shipments",
									"Activity": "Load IDR Litter Shipments",
									"ErrorMessage": "No errors"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}