templates/PL_STG_NEWPROD_PROJ_M_ETL/PL_STG_NEWPROD_PROJ_M_ETL.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureBlobStorage1": {
			"type": "string"
		},
		"LS_az_datalake_azure_IR": {
			"type": "string"
		},
		"IBP_AzureSynapseAnalytics": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_STG_NEWPROD_PROJ_M_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AT_CPY_ADLS_TO_STG_NEWPROD_PROJECT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Activity_Start_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE dbo.stg_newprod_project",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "[parameters('AzureBlobStorage1')]",
									"type": "LinkedServiceReference"
								},
								"path": "matrix-stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProjectNumber",
											"type": "String"
										},
										"sink": {
											"name": "ProjectNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProjectName",
											"type": "String"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Project Input Type",
											"type": "String"
										},
										"sink": {
											"name": "Project Input Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Division",
											"type": "String"
										},
										"sink": {
											"name": "Division",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBU",
											"type": "String"
										},
										"sink": {
											"name": "SBU",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Brand",
											"type": "String"
										},
										"sink": {
											"name": "Brand",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProjectDescription",
											"type": "String"
										},
										"sink": {
											"name": "ProjectDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StageGate",
											"type": "String"
										},
										"sink": {
											"name": "StageGate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StartOfShip",
											"type": "String"
										},
										"sink": {
											"name": "StartOfShip",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FiscalYearofLaunch",
											"type": "String"
										},
										"sink": {
											"name": "FiscalYearofLaunch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FYGrossVol_Msc",
											"type": "String"
										},
										"sink": {
											"name": "FYGrossVol_Msc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FYIncrVol_Msc",
											"type": "String"
										},
										"sink": {
											"name": "FYIncrVol_Msc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VolumeLift_Pct",
											"type": "String"
										},
										"sink": {
											"name": "VolumeLift_Pct",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TFI_$M",
											"type": "String"
										},
										"sink": {
											"name": "TFI_$M",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Coupons_$M",
											"type": "String"
										},
										"sink": {
											"name": "Coupons_$M",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Adv_SP_$M",
											"type": "String"
										},
										"sink": {
											"name": "Adv_SP_$M",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LoadDate",
											"type": "String"
										},
										"sink": {
											"name": "LoadDate",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "MA_FY20_BRAND_GROSS_ACCRUAL_DATA",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "STG_NEWPROD_PROJECT",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Activity_Start_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT CONVERT(varchar, GETDATE(),20) as at_start_time",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Audit_table5",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Activity_End_Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "AT_CPY_ADLS_TO_STG_NEWPROD_PROJECT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT CONVERT(varchar, GETDATE(),20) as at_end_time",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Audit_table5",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Audit_Log",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Activity_End_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"additionalColumns": [
									{
										"name": "src_count",
										"value": {
											"value": "@activity('AT_CPY_ADLS_TO_STG_NEWPROD_PROJECT').output.rowsRead",
											"type": "Expression"
										}
									},
									{
										"name": "tgt_count",
										"value": {
											"value": "@activity('AT_CPY_ADLS_TO_STG_NEWPROD_PROJECT').output.rowsCopied",
											"type": "Expression"
										}
									},
									{
										"name": "src_name",
										"value": "L1 - Project Details.csv"
									},
									{
										"name": "tgt_name",
										"value": "stg_newprod_project"
									},
									{
										"name": "Total_time_taken",
										"value": {
											"value": "@activity('AT_CPY_ADLS_TO_STG_NEWPROD_PROJECT').output.copyDuration",
											"type": "Expression"
										}
									},
									{
										"name": "Pipeline_name",
										"value": "PL_STG_NEWPROD_PROJ_M_ETL"
									},
									{
										"name": "Datafactory_Name",
										"value": "clxdev-adf-sandbox"
									},
									{
										"name": "src_type",
										"value": "file"
									},
									{
										"name": "tgt_type",
										"value": "table"
									},
									{
										"name": "status",
										"value": {
											"value": "@activity('AT_CPY_ADLS_TO_STG_NEWPROD_PROJECT').output.executionDetails[0].status\n",
											"type": "Expression"
										}
									},
									{
										"name": "activity_name",
										"value": "AT_CPY_ADLS_TO_STG_NEWPROD_PROJECT"
									},
									{
										"name": "activity_start_dt",
										"value": {
											"value": "@activity('Activity_Start_Date').output.firstrow.at_start_time\n",
											"type": "Expression"
										}
									},
									{
										"name": "activity_end_dt",
										"value": {
											"value": "@activity('Activity_End_Date').output.firstrow.at_end_time\n",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "select isnull(max(batch_id),0)+1 as Batch_ID\nfrom dbo.etl_audit_log;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "[parameters('AzureBlobStorage1')]",
									"type": "LinkedServiceReference"
								},
								"path": "matrix-stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Batch_ID"
										},
										"sink": {
											"name": "batch_id"
										}
									},
									{
										"source": {
											"name": "Datafactory_Name",
											"type": "varchar"
										},
										"sink": {
											"name": "Datafactory_Name"
										}
									},
									{
										"source": {
											"name": "src_type"
										},
										"sink": {
											"name": "Source_Type"
										}
									},
									{
										"source": {
											"name": "tgt_type"
										},
										"sink": {
											"name": "Destination_Type"
										}
									},
									{
										"source": {
											"name": "src_count"
										},
										"sink": {
											"name": "Source_Count"
										}
									},
									{
										"source": {
											"name": "tgt_count"
										},
										"sink": {
											"name": "Target_Count"
										}
									},
									{
										"source": {
											"name": "src_name"
										},
										"sink": {
											"name": "Source_Name"
										}
									},
									{
										"source": {
											"name": "tgt_name"
										},
										"sink": {
											"name": "Target_Name"
										}
									},
									{
										"source": {
											"name": "Total_time_taken"
										},
										"sink": {
											"name": "Total_time_taken_in_sec"
										}
									},
									{
										"source": {
											"name": "status"
										},
										"sink": {
											"name": "Status"
										}
									},
									{
										"source": {
											"name": "Pipeline_name"
										},
										"sink": {
											"name": "Pipeline_Name"
										}
									},
									{
										"source": {
											"name": "activity_name"
										},
										"sink": {
											"name": "Activity_Name"
										}
									},
									{
										"source": {
											"name": "activity_start_dt"
										},
										"sink": {
											"name": "Activity_Start_Time"
										}
									},
									{
										"source": {
											"name": "activity_end_dt"
										},
										"sink": {
											"name": "Activity_End_Time"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Audit_table5",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Audit_table5",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Avengers/New Product Repo"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MA_FY20_BRAND_GROSS_ACCRUAL_DATA')]",
				"[concat(variables('factoryId'), '/datasets/STG_NEWPROD_PROJECT')]",
				"[concat(variables('factoryId'), '/datasets/Audit_table5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MA_FY20_BRAND_GROSS_ACCRUAL_DATA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('LS_az_datalake_azure_IR')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Avengers Ext Datasets/Source Files"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "MA_FY20_Brand_Gross.csv",
						"folderPath": "Media_spend_ecom_trade_spend_files",
						"fileSystem": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Ethnicity",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Franchise",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Product Code",
						"type": "String"
					},
					{
						"name": "Media Type",
						"type": "String"
					},
					{
						"name": "Vehicle",
						"type": "String"
					},
					{
						"name": "Gross Costs $K (000)",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Quarter",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_NEWPROD_PROJECT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('IBP_AzureSynapseAnalytics')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Avengers Ext Datasets/Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "Project Input Type",
						"type": "nvarchar"
					},
					{
						"name": "Division",
						"type": "nvarchar"
					},
					{
						"name": "SBU",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "ProjectDescription",
						"type": "nvarchar"
					},
					{
						"name": "StageGate",
						"type": "nvarchar"
					},
					{
						"name": "StartOfShip",
						"type": "nvarchar"
					},
					{
						"name": "FiscalYearofLaunch",
						"type": "nvarchar"
					},
					{
						"name": "FYGrossVol_Msc",
						"type": "nvarchar"
					},
					{
						"name": "FYIncrVol_Msc",
						"type": "nvarchar"
					},
					{
						"name": "VolumeLift_Pct",
						"type": "nvarchar"
					},
					{
						"name": "TFI_$M",
						"type": "nvarchar"
					},
					{
						"name": "Coupons_$M",
						"type": "nvarchar"
					},
					{
						"name": "Adv_SP_$M",
						"type": "nvarchar"
					},
					{
						"name": "LoadDate",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_newprod_project"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Audit_table5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('IBP_AzureSynapseAnalytics')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Avengers Ext Datasets/Audit Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "batch_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Datafactory_Name",
						"type": "varchar"
					},
					{
						"name": "Pipeline_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Type",
						"type": "varchar"
					},
					{
						"name": "Destination_Type",
						"type": "varchar"
					},
					{
						"name": "Source_Name",
						"type": "varchar"
					},
					{
						"name": "Target_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Target_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Activity_Start_Time",
						"type": "date"
					},
					{
						"name": "Activity_End_Time",
						"type": "date"
					},
					{
						"name": "Total_time_taken",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_inserted",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_updated",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "etl_audit_log"
				}
			},
			"dependsOn": []
		}
	]
}