templates/Load IDR Shipments/Load IDR Shipments.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"KP_Oracle_IDR": {
			"type": "string"
		},
		"AzureBlobStorage1": {
			"type": "string"
		},
		"AzureSQLDW": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load IDR Shipments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IDR To Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Load Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select * from\n(select *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date} \nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand billto_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%WAL-MART%')\nunion\nselect *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd')  > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%DOLLAR GENERAL CORP%')\nunion\nselect *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%KROGER%'))\nwhere rownum < 10;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_Shipments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Litter_Shipments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Load SQLDW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT [billing_doc_nbr]\n      ,[billing_line_item_nbr]\n      ,[billing_created_date_code]\n      ,[billing_date_code]\n      ,[material_num]\n      ,[sap_upc_num]\n      ,[shippingpoint_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[broker_customer_code]\n      ,[so_doc_nbr]\n      ,[po_doc_nbr]\n      ,[profit_center_code]\n      ,[distrib_channel_code]\n      ,[oms]\n      ,[ship_from_plant_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[dos_planned_pgi_date]\n      ,[doc_class_code]\n      ,[clx_po_type]\n      ,[ctrl_area_code]\n      ,[fiscal_yr_variant_code]\n      ,[cost_center_code]\n      ,[billing_type_code]\n      ,[billing_category_code]\n      ,[sd_doc_category_code]\n      ,[item_type_code]\n      ,[item_category_code]\n      ,[unsaleable_ind]\n      ,[order_item_nbr]\n      ,[company_code]\n      ,[division_code]\n      ,[sales_group_code]\n      ,[so_doc_type]\n      ,[billed_qty_baseuom]\n      ,[billed_qty_sc]\n      ,[billed_qty_slsuom]\n      ,[billed_qty]\n      ,[exchange_rate]\n      ,[tax_amt]\n      ,[discount_base_amt]\n      ,[scale_qty]\n      ,[denominator]\n      ,[numerator]\n      ,[delivered_vol_qty]\n      ,[cost_amt]\n      ,[net_ship_amt]\n      ,[exchange_rate_stcurr]\n      ,[gross_ship_amt]\n      ,[cost_amt_stcurr]\n      ,[open_billing_qty]\n      ,[exchange_rate_acct]\n      ,[net_ship_amt_stcurr]\n      ,[rebate_amt]\n      ,[gross_weight]\n      ,[required_qty]\n      ,[net_weight]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[netprc_exoffinvdisc_amt]\n      ,[offinvdisc_amt]\n      ,[netval_discsurchrg_amt]\n      ,[unsaleable_amt]\n      ,[customer_expected_price]\n      ,[broker_comm_amt]\n      ,[sku_bill_qty]\n      ,[dos_qty_sc]\n      ,[dos_ng_liquid_qty]\n      ,[number_of_billeditem]\n      ,[sales_office]\n      ,[order_reason]\n      ,[rejection_reason]\n      ,[sales_deal]\n      ,[shipping_condition_code]\n      ,[update_mode]\n      ,[inv_date_nbr]\n      ,[stcurr]\n      ,[doccurr]\n      ,[uom_weight]\n      ,[uom_sales]\n      ,[uom_base]\n      ,[uom_volume]\n      ,[uom]\n      ,[changed_date_nbr]\n      ,[batch_code]\n      ,[serv_rendered_date_code]\n      ,[proc_status]\n      ,[rebate_arrangement]\n      ,[uom_lay]\n      ,[uom_pal]\n      ,[uom_sc]\n      ,[shipping_type_code]\n      ,[acct_assignment_grp_code]\n      ,[customer_group_code_1]\n      ,[customer_group_code_2]\n      ,[customer_group_code_3]\n      ,[customer_group_code_4]\n      ,[storage_location_code]\n      ,[material_group_code]\n      ,[material_num_entered]\n      ,[material_group_code_1]\n      ,[material_group_code_2]\n      ,[material_group_code_3]\n      ,[material_group_code_4]\n      ,[material_group_code_5]\n      ,[dest_country_code]\n      ,[pricing_date_code]\n      ,[sales_region_code]\n      ,[bom_high_level_item]\n      ,[ref_doc_num]\n      ,[ref_item_num]\n      ,[delivery_type_code]\n      ,[qty_eaches]\n      ,[doc_count]\n      ,[posting_stat_bill_doc_code]\n      ,[billing_status_order]\n      ,[billing_status]\n      ,[so_customer_group]\n      ,[condition_group_2]\n      ,[condition_group_3]\n      ,[condition_group_4]\n      ,[condition_group_5]\n      ,[so_price_group]\n      ,[translation_date_code]\n      ,[src_country_code]\n      ,[dest_city_code]\n      ,[soldto_customer_code_1]\n      ,[posting_period_type]\n      ,[item]\n      ,[so_region_code]\n      ,[transfer_acct_status_code]\n      ,[so_sales_org_code]\n      ,[so_distrib_channel_code]\n      ,[material_plant_code]\n      ,[sales_division_code]\n      ,[dos_qty]\n      ,[billed_qty_purchase_uom]\n      ,[number_of_doc]\n      ,[number_of_doc_items]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_dec]\n      ,[version_code]\n      ,[value_type_code]\n      ,[credit_debit_flg]\n      ,[sales_district_code]\n      ,[sales_emp_code]\n      ,[posting_period]\n      ,[military_product_code]\n      ,[edi_customer_code]\n      ,[soldto_country_code]\n      ,[billto_country_code]\n      ,[payer_country_code]\n      ,[carrier_country_code]\n      ,[representative_country_code]\n      ,[conversion_date_code]\n      ,[stats_date_code]\n      ,[stats_update_date_code]\n      ,[forwarding_agent]\n      ,[bw_tran_key]\n      ,[load_date] as idr_load_date\n      ,[invoiced_qty]\n      ,[invoiced_net_amt]\n\t  ,CONVERT (date, SYSDATETIME()) as azure_load_date\n  FROM [ext].[ext_litter_shipments];",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Ext_Table_SQLDW_Shipments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Base_Litter_Shipments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Failure Alert - 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Copy_IDR_Litter_Shipments_Storage",
								"ErrorMessage": {
									"value": "@activity('IDR To Storage').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Failure Alert - 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Copy_IDR_Litter_Shipments_Storage",
								"ErrorMessage": {
									"value": "@activity('Load SQLDW').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Pipeline Success Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on success",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"Subject": "ADF pipeline Load IDR Litter Shipments finished successfully",
								"DataFactoryName": "ADF",
								"PipelineName": "Load IDR Litter Shipments",
								"Activity": "Load IDR Litter Shipments",
								"ErrorMessage": "No errors"
							}
						}
					},
					{
						"name": "Get Last Load Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_litter_shipments",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Query_SQLDW_Base_Litter_Shipments",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"IDR_Load_Date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Table_Oracle_IDR_Shipments')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Incremental_IDR_Litter_Shipments')]",
				"[concat(variables('factoryId'), '/datasets/Ext_Table_SQLDW_Shipments')]",
				"[concat(variables('factoryId'), '/datasets/Table_SQLDW_Base_Litter_Shipments')]",
				"[concat(variables('factoryId'), '/pipelines/Send email on failure')]",
				"[concat(variables('factoryId'), '/pipelines/Send email on success')]",
				"[concat(variables('factoryId'), '/datasets/Query_SQLDW_Base_Litter_Shipments')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('KP_Oracle_IDR')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_shipments.csv",
						"folderPath": "shipments",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ext_Table_SQLDW_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSQLDW')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "billing_doc_nbr",
						"type": "nvarchar"
					},
					{
						"name": "billing_line_item_nbr",
						"type": "nvarchar"
					},
					{
						"name": "billing_created_date_code",
						"type": "nvarchar"
					},
					{
						"name": "billing_date_code",
						"type": "nvarchar"
					},
					{
						"name": "material_num",
						"type": "nvarchar"
					},
					{
						"name": "sap_upc_num",
						"type": "nvarchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "nvarchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "nvarchar"
					},
					{
						"name": "payer_customer_code",
						"type": "nvarchar"
					},
					{
						"name": "billto_customer_code",
						"type": "nvarchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "nvarchar"
					},
					{
						"name": "broker_customer_code",
						"type": "nvarchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "nvarchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "nvarchar"
					},
					{
						"name": "profit_center_code",
						"type": "nvarchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "nvarchar"
					},
					{
						"name": "oms",
						"type": "nvarchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "nvarchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "nvarchar"
					},
					{
						"name": "dos_planned_pgi_date",
						"type": "nvarchar"
					},
					{
						"name": "doc_class_code",
						"type": "nvarchar"
					},
					{
						"name": "clx_po_type",
						"type": "nvarchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "nvarchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "nvarchar"
					},
					{
						"name": "cost_center_code",
						"type": "nvarchar"
					},
					{
						"name": "billing_type_code",
						"type": "nvarchar"
					},
					{
						"name": "billing_category_code",
						"type": "nvarchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "nvarchar"
					},
					{
						"name": "item_type_code",
						"type": "nvarchar"
					},
					{
						"name": "item_category_code",
						"type": "nvarchar"
					},
					{
						"name": "unsaleable_ind",
						"type": "nvarchar"
					},
					{
						"name": "order_item_nbr",
						"type": "nvarchar"
					},
					{
						"name": "company_code",
						"type": "nvarchar"
					},
					{
						"name": "division_code",
						"type": "nvarchar"
					},
					{
						"name": "sales_group_code",
						"type": "nvarchar"
					},
					{
						"name": "so_doc_type",
						"type": "nvarchar"
					},
					{
						"name": "billed_qty_baseuom",
						"type": "nvarchar"
					},
					{
						"name": "billed_qty_sc",
						"type": "nvarchar"
					},
					{
						"name": "billed_qty_slsuom",
						"type": "nvarchar"
					},
					{
						"name": "billed_qty",
						"type": "nvarchar"
					},
					{
						"name": "exchange_rate",
						"type": "nvarchar"
					},
					{
						"name": "tax_amt",
						"type": "nvarchar"
					},
					{
						"name": "discount_base_amt",
						"type": "nvarchar"
					},
					{
						"name": "scale_qty",
						"type": "nvarchar"
					},
					{
						"name": "denominator",
						"type": "nvarchar"
					},
					{
						"name": "numerator",
						"type": "nvarchar"
					},
					{
						"name": "delivered_vol_qty",
						"type": "nvarchar"
					},
					{
						"name": "cost_amt",
						"type": "nvarchar"
					},
					{
						"name": "net_ship_amt",
						"type": "nvarchar"
					},
					{
						"name": "exchange_rate_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "gross_ship_amt",
						"type": "nvarchar"
					},
					{
						"name": "cost_amt_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "open_billing_qty",
						"type": "nvarchar"
					},
					{
						"name": "exchange_rate_acct",
						"type": "nvarchar"
					},
					{
						"name": "net_ship_amt_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "rebate_amt",
						"type": "nvarchar"
					},
					{
						"name": "gross_weight",
						"type": "nvarchar"
					},
					{
						"name": "required_qty",
						"type": "nvarchar"
					},
					{
						"name": "net_weight",
						"type": "nvarchar"
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "nvarchar"
					},
					{
						"name": "netprc_exoffinvdisc_amt",
						"type": "nvarchar"
					},
					{
						"name": "offinvdisc_amt",
						"type": "nvarchar"
					},
					{
						"name": "netval_discsurchrg_amt",
						"type": "nvarchar"
					},
					{
						"name": "unsaleable_amt",
						"type": "nvarchar"
					},
					{
						"name": "customer_expected_price",
						"type": "nvarchar"
					},
					{
						"name": "broker_comm_amt",
						"type": "nvarchar"
					},
					{
						"name": "sku_bill_qty",
						"type": "nvarchar"
					},
					{
						"name": "dos_qty_sc",
						"type": "nvarchar"
					},
					{
						"name": "dos_ng_liquid_qty",
						"type": "nvarchar"
					},
					{
						"name": "number_of_billeditem",
						"type": "nvarchar"
					},
					{
						"name": "sales_office",
						"type": "nvarchar"
					},
					{
						"name": "order_reason",
						"type": "nvarchar"
					},
					{
						"name": "rejection_reason",
						"type": "nvarchar"
					},
					{
						"name": "sales_deal",
						"type": "nvarchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "nvarchar"
					},
					{
						"name": "update_mode",
						"type": "nvarchar"
					},
					{
						"name": "inv_date_nbr",
						"type": "nvarchar"
					},
					{
						"name": "stcurr",
						"type": "nvarchar"
					},
					{
						"name": "doccurr",
						"type": "nvarchar"
					},
					{
						"name": "uom_weight",
						"type": "nvarchar"
					},
					{
						"name": "uom_sales",
						"type": "nvarchar"
					},
					{
						"name": "uom_base",
						"type": "nvarchar"
					},
					{
						"name": "uom_volume",
						"type": "nvarchar"
					},
					{
						"name": "uom",
						"type": "nvarchar"
					},
					{
						"name": "changed_date_nbr",
						"type": "nvarchar"
					},
					{
						"name": "batch_code",
						"type": "nvarchar"
					},
					{
						"name": "serv_rendered_date_code",
						"type": "nvarchar"
					},
					{
						"name": "proc_status",
						"type": "nvarchar"
					},
					{
						"name": "rebate_arrangement",
						"type": "nvarchar"
					},
					{
						"name": "uom_lay",
						"type": "nvarchar"
					},
					{
						"name": "uom_pal",
						"type": "nvarchar"
					},
					{
						"name": "uom_sc",
						"type": "nvarchar"
					},
					{
						"name": "shipping_type_code",
						"type": "nvarchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "nvarchar"
					},
					{
						"name": "customer_group_code_1",
						"type": "nvarchar"
					},
					{
						"name": "customer_group_code_2",
						"type": "nvarchar"
					},
					{
						"name": "customer_group_code_3",
						"type": "nvarchar"
					},
					{
						"name": "customer_group_code_4",
						"type": "nvarchar"
					},
					{
						"name": "storage_location_code",
						"type": "nvarchar"
					},
					{
						"name": "material_group_code",
						"type": "nvarchar"
					},
					{
						"name": "material_num_entered",
						"type": "nvarchar"
					},
					{
						"name": "material_group_code_1",
						"type": "nvarchar"
					},
					{
						"name": "material_group_code_2",
						"type": "nvarchar"
					},
					{
						"name": "material_group_code_3",
						"type": "nvarchar"
					},
					{
						"name": "material_group_code_4",
						"type": "nvarchar"
					},
					{
						"name": "material_group_code_5",
						"type": "nvarchar"
					},
					{
						"name": "dest_country_code",
						"type": "nvarchar"
					},
					{
						"name": "pricing_date_code",
						"type": "nvarchar"
					},
					{
						"name": "sales_region_code",
						"type": "nvarchar"
					},
					{
						"name": "bom_high_level_item",
						"type": "nvarchar"
					},
					{
						"name": "ref_doc_num",
						"type": "nvarchar"
					},
					{
						"name": "ref_item_num",
						"type": "nvarchar"
					},
					{
						"name": "delivery_type_code",
						"type": "nvarchar"
					},
					{
						"name": "qty_eaches",
						"type": "nvarchar"
					},
					{
						"name": "doc_count",
						"type": "nvarchar"
					},
					{
						"name": "posting_stat_bill_doc_code",
						"type": "nvarchar"
					},
					{
						"name": "billing_status_order",
						"type": "nvarchar"
					},
					{
						"name": "billing_status",
						"type": "nvarchar"
					},
					{
						"name": "so_customer_group",
						"type": "nvarchar"
					},
					{
						"name": "condition_group_2",
						"type": "nvarchar"
					},
					{
						"name": "condition_group_3",
						"type": "nvarchar"
					},
					{
						"name": "condition_group_4",
						"type": "nvarchar"
					},
					{
						"name": "condition_group_5",
						"type": "nvarchar"
					},
					{
						"name": "so_price_group",
						"type": "nvarchar"
					},
					{
						"name": "translation_date_code",
						"type": "nvarchar"
					},
					{
						"name": "src_country_code",
						"type": "nvarchar"
					},
					{
						"name": "dest_city_code",
						"type": "nvarchar"
					},
					{
						"name": "soldto_customer_code_1",
						"type": "nvarchar"
					},
					{
						"name": "posting_period_type",
						"type": "nvarchar"
					},
					{
						"name": "item",
						"type": "nvarchar"
					},
					{
						"name": "so_region_code",
						"type": "nvarchar"
					},
					{
						"name": "transfer_acct_status_code",
						"type": "nvarchar"
					},
					{
						"name": "so_sales_org_code",
						"type": "nvarchar"
					},
					{
						"name": "so_distrib_channel_code",
						"type": "nvarchar"
					},
					{
						"name": "material_plant_code",
						"type": "nvarchar"
					},
					{
						"name": "sales_division_code",
						"type": "nvarchar"
					},
					{
						"name": "dos_qty",
						"type": "nvarchar"
					},
					{
						"name": "billed_qty_purchase_uom",
						"type": "nvarchar"
					},
					{
						"name": "number_of_doc",
						"type": "nvarchar"
					},
					{
						"name": "number_of_doc_items",
						"type": "nvarchar"
					},
					{
						"name": "gross_weight_kg",
						"type": "nvarchar"
					},
					{
						"name": "net_weight_kg",
						"type": "nvarchar"
					},
					{
						"name": "volume_cubic_dec",
						"type": "nvarchar"
					},
					{
						"name": "version_code",
						"type": "nvarchar"
					},
					{
						"name": "value_type_code",
						"type": "nvarchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "nvarchar"
					},
					{
						"name": "sales_district_code",
						"type": "nvarchar"
					},
					{
						"name": "sales_emp_code",
						"type": "nvarchar"
					},
					{
						"name": "posting_period",
						"type": "nvarchar"
					},
					{
						"name": "military_product_code",
						"type": "nvarchar"
					},
					{
						"name": "edi_customer_code",
						"type": "nvarchar"
					},
					{
						"name": "soldto_country_code",
						"type": "nvarchar"
					},
					{
						"name": "billto_country_code",
						"type": "nvarchar"
					},
					{
						"name": "payer_country_code",
						"type": "nvarchar"
					},
					{
						"name": "carrier_country_code",
						"type": "nvarchar"
					},
					{
						"name": "representative_country_code",
						"type": "nvarchar"
					},
					{
						"name": "conversion_date_code",
						"type": "nvarchar"
					},
					{
						"name": "stats_date_code",
						"type": "nvarchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "nvarchar"
					},
					{
						"name": "forwarding_agent",
						"type": "nvarchar"
					},
					{
						"name": "bw_tran_key",
						"type": "nvarchar"
					},
					{
						"name": "load_date",
						"type": "nvarchar"
					},
					{
						"name": "invoiced_qty",
						"type": "nvarchar"
					},
					{
						"name": "invoiced_net_amt",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ext",
					"table": "ext_litter_shipments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Base_Litter_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSQLDW')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "billing_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_created_date_code",
						"type": "varchar"
					},
					{
						"name": "billing_date_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "dos_planned_pgi_date",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "cost_center_code",
						"type": "varchar"
					},
					{
						"name": "billing_type_code",
						"type": "varchar"
					},
					{
						"name": "billing_category_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "item_type_code",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "unsaleable_ind",
						"type": "varchar"
					},
					{
						"name": "order_item_nbr",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "billed_qty_baseuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_slsuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tax_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "discount_base_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "scale_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "denominator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "numerator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivered_vol_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "open_billing_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_acct",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rebate_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "required_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sku_bill_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_ng_liquid_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_billeditem",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "order_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "sales_deal",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "update_mode",
						"type": "varchar"
					},
					{
						"name": "inv_date_nbr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "doccurr",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_volume",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "changed_date_nbr",
						"type": "varchar"
					},
					{
						"name": "batch_code",
						"type": "varchar"
					},
					{
						"name": "serv_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "proc_status",
						"type": "varchar"
					},
					{
						"name": "rebate_arrangement",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_sc",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_1",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_2",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_3",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_4",
						"type": "varchar"
					},
					{
						"name": "storage_location_code",
						"type": "varchar"
					},
					{
						"name": "material_group_code",
						"type": "varchar"
					},
					{
						"name": "material_num_entered",
						"type": "varchar"
					},
					{
						"name": "material_group_code_1",
						"type": "varchar"
					},
					{
						"name": "material_group_code_2",
						"type": "varchar"
					},
					{
						"name": "material_group_code_3",
						"type": "varchar"
					},
					{
						"name": "material_group_code_4",
						"type": "varchar"
					},
					{
						"name": "material_group_code_5",
						"type": "varchar"
					},
					{
						"name": "dest_country_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "sales_region_code",
						"type": "varchar"
					},
					{
						"name": "bom_high_level_item",
						"type": "varchar"
					},
					{
						"name": "ref_doc_num",
						"type": "varchar"
					},
					{
						"name": "ref_item_num",
						"type": "varchar"
					},
					{
						"name": "delivery_type_code",
						"type": "varchar"
					},
					{
						"name": "qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "doc_count",
						"type": "float",
						"precision": 15
					},
					{
						"name": "posting_stat_bill_doc_code",
						"type": "varchar"
					},
					{
						"name": "billing_status_order",
						"type": "varchar"
					},
					{
						"name": "billing_status",
						"type": "varchar"
					},
					{
						"name": "so_customer_group",
						"type": "varchar"
					},
					{
						"name": "condition_group_2",
						"type": "varchar"
					},
					{
						"name": "condition_group_3",
						"type": "varchar"
					},
					{
						"name": "condition_group_4",
						"type": "varchar"
					},
					{
						"name": "condition_group_5",
						"type": "varchar"
					},
					{
						"name": "so_price_group",
						"type": "varchar"
					},
					{
						"name": "translation_date_code",
						"type": "varchar"
					},
					{
						"name": "src_country_code",
						"type": "varchar"
					},
					{
						"name": "dest_city_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code_1",
						"type": "varchar"
					},
					{
						"name": "posting_period_type",
						"type": "varchar"
					},
					{
						"name": "item",
						"type": "varchar"
					},
					{
						"name": "so_region_code",
						"type": "varchar"
					},
					{
						"name": "transfer_acct_status_code",
						"type": "varchar"
					},
					{
						"name": "so_sales_org_code",
						"type": "varchar"
					},
					{
						"name": "so_distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "material_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "dos_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_dec",
						"type": "float",
						"precision": 15
					},
					{
						"name": "version_code",
						"type": "varchar"
					},
					{
						"name": "value_type_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "sales_emp_code",
						"type": "varchar"
					},
					{
						"name": "posting_period",
						"type": "varchar"
					},
					{
						"name": "military_product_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_country_code",
						"type": "varchar"
					},
					{
						"name": "billto_country_code",
						"type": "varchar"
					},
					{
						"name": "payer_country_code",
						"type": "varchar"
					},
					{
						"name": "carrier_country_code",
						"type": "varchar"
					},
					{
						"name": "representative_country_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "bw_tran_key",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					},
					{
						"name": "invoiced_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "invoiced_net_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "azure_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "base_litter_shipments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send email on failure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Reusable pipeline to send email notification on activity failure",
				"activities": [
					{
						"name": "Send email on failure",
						"description": "Reusable pipeline to send email on activity failure",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-52.eastus.logic.azure.com:443/workflows/340940b212b443148e8f64f1bc8c4629/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=FLanyeRqsShkOLVdFi9xNIApJ4fUZa8myiKoAnvDJo0",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"EmailTo\":\"@{pipeline().parameters.EmailTo}\",\n\"Subject\":\"An error has occured in the ADF pipeline\",\n\"DataFactoryName\":\"@{pipeline().parameters.DataFactoryName}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"Activity\":\"@{pipeline().parameters.Activity}\",\n\"ErrorMessage\":\"@{pipeline().parameters.ErrorMessage}\" }",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "kalyani.pernapati@clorox.com"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "Azure DF error"
					},
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "DF"
					},
					"PipelineName": {
						"type": "string",
						"defaultValue": "Send email on Failure"
					},
					"Activity": {
						"type": "string",
						"defaultValue": "Test"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "Test Failed"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send email on success')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Success notification",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": " https://prod-52.eastus.logic.azure.com:443/workflows/340940b212b443148e8f64f1bc8c4629/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=FLanyeRqsShkOLVdFi9xNIApJ4fUZa8myiKoAnvDJo0",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"EmailTo\":\"@{pipeline().parameters.EmailTo}\",\n\"Subject\":\" ADF pipeline finished successfully\",\n\"DataFactoryName\":\"@{pipeline().parameters.DataFactoryName}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"Activity\":\"@{pipeline().parameters.Activity}\",\n\"ErrorMessage\":\"@{pipeline().parameters.ErrorMessage}\" }",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "kalyani.pernapati@clorox.com"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "ADF pipeline finished successfully"
					},
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "ADF"
					},
					"PipelineName": {
						"type": "string",
						"defaultValue": "Send email on success"
					},
					"Activity": {
						"type": "string",
						"defaultValue": "Success notification"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "ADF pipeline finished successfully"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Query_SQLDW_Base_Litter_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSQLDW')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "billing_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_created_date_code",
						"type": "varchar"
					},
					{
						"name": "billing_date_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "dos_planned_pgi_date",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "cost_center_code",
						"type": "varchar"
					},
					{
						"name": "billing_type_code",
						"type": "varchar"
					},
					{
						"name": "billing_category_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "item_type_code",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "unsaleable_ind",
						"type": "varchar"
					},
					{
						"name": "order_item_nbr",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "billed_qty_baseuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_slsuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tax_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "discount_base_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "scale_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "denominator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "numerator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivered_vol_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "open_billing_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_acct",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rebate_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "required_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sku_bill_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_ng_liquid_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_billeditem",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "order_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "sales_deal",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "update_mode",
						"type": "varchar"
					},
					{
						"name": "inv_date_nbr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "doccurr",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_volume",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "changed_date_nbr",
						"type": "varchar"
					},
					{
						"name": "batch_code",
						"type": "varchar"
					},
					{
						"name": "serv_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "proc_status",
						"type": "varchar"
					},
					{
						"name": "rebate_arrangement",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_sc",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_1",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_2",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_3",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_4",
						"type": "varchar"
					},
					{
						"name": "storage_location_code",
						"type": "varchar"
					},
					{
						"name": "material_group_code",
						"type": "varchar"
					},
					{
						"name": "material_num_entered",
						"type": "varchar"
					},
					{
						"name": "material_group_code_1",
						"type": "varchar"
					},
					{
						"name": "material_group_code_2",
						"type": "varchar"
					},
					{
						"name": "material_group_code_3",
						"type": "varchar"
					},
					{
						"name": "material_group_code_4",
						"type": "varchar"
					},
					{
						"name": "material_group_code_5",
						"type": "varchar"
					},
					{
						"name": "dest_country_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "sales_region_code",
						"type": "varchar"
					},
					{
						"name": "bom_high_level_item",
						"type": "varchar"
					},
					{
						"name": "ref_doc_num",
						"type": "varchar"
					},
					{
						"name": "ref_item_num",
						"type": "varchar"
					},
					{
						"name": "delivery_type_code",
						"type": "varchar"
					},
					{
						"name": "qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "doc_count",
						"type": "float",
						"precision": 15
					},
					{
						"name": "posting_stat_bill_doc_code",
						"type": "varchar"
					},
					{
						"name": "billing_status_order",
						"type": "varchar"
					},
					{
						"name": "billing_status",
						"type": "varchar"
					},
					{
						"name": "so_customer_group",
						"type": "varchar"
					},
					{
						"name": "condition_group_2",
						"type": "varchar"
					},
					{
						"name": "condition_group_3",
						"type": "varchar"
					},
					{
						"name": "condition_group_4",
						"type": "varchar"
					},
					{
						"name": "condition_group_5",
						"type": "varchar"
					},
					{
						"name": "so_price_group",
						"type": "varchar"
					},
					{
						"name": "translation_date_code",
						"type": "varchar"
					},
					{
						"name": "src_country_code",
						"type": "varchar"
					},
					{
						"name": "dest_city_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code_1",
						"type": "varchar"
					},
					{
						"name": "posting_period_type",
						"type": "varchar"
					},
					{
						"name": "item",
						"type": "varchar"
					},
					{
						"name": "so_region_code",
						"type": "varchar"
					},
					{
						"name": "transfer_acct_status_code",
						"type": "varchar"
					},
					{
						"name": "so_sales_org_code",
						"type": "varchar"
					},
					{
						"name": "so_distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "material_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "dos_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_dec",
						"type": "float",
						"precision": 15
					},
					{
						"name": "version_code",
						"type": "varchar"
					},
					{
						"name": "value_type_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "sales_emp_code",
						"type": "varchar"
					},
					{
						"name": "posting_period",
						"type": "varchar"
					},
					{
						"name": "military_product_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_country_code",
						"type": "varchar"
					},
					{
						"name": "billto_country_code",
						"type": "varchar"
					},
					{
						"name": "payer_country_code",
						"type": "varchar"
					},
					{
						"name": "carrier_country_code",
						"type": "varchar"
					},
					{
						"name": "representative_country_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "bw_tran_key",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					},
					{
						"name": "invoiced_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "invoiced_net_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "azure_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "base_litter_shipments"
				}
			},
			"dependsOn": []
		}
	]
}