clxdev-adf-matrix/PartialArmTemplates/ArmTemplate_11_16_2020_19_16_31.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "clxdev-adf-matrix"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load IDR Orders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Last Load Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_orders",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Table_SQLDW_Base_Orders",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Get IDR Record Count",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get Last Load Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select count(*) as idr_record_count\nfrom clxbw.apo_bw_b_order fact join clxbw.apo_bw_d_material mat on fact.material_num=mat.material_num\nwhere to_char(fact.load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Table_Oracle_IDR_Orders1",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Copy IDR To Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Load Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select * \nfrom clxbw.apo_bw_b_order fact join clxbw.apo_bw_d_material mat on fact.material_num=mat.material_num\nwhere to_char(fact.load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_Orders1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Orders",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "QC Check - Source to Storage",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get IDR Record Count",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy IDR To Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get IDR Record Count').output.firstRow.idr_record_count,activity('Copy IDR To Storage').output.rowsCopied)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "AT_WEB_Orders_Load_Error3",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"Status\":\"Failed\",\"Env\":\"Dev\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"EmailTo\":\"abhijeet.kumar@bridgei2i.com;kalyani.Pernapati@clorox.com;ravishankar.m@bridgei2i.com\",\"MessageBody1\":\"Hi All,\",\"MessageBody2\":\"This is an email notification generated from Azure Data Factory for data ingestion in IDR Orders pipeline.\nThe source to storage count is not matching.\",\"MessageBody3\":\"Please find below the pipeline execution details:\",\"MessageBody4\":\"Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.\",\"MessageBody5\":\" - Thanks\"}",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Get Staging Record Count",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load SQLDW Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": "select count(*) as staging_record_count from stg_orders",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Table_SQLDW_Staging_Orders",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "AT_WEB_Orders_Load_Error2",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Load SQLDW Staging",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"Status\":\"Failed\",\"Env\":\"Dev\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"EmailTo\":\"abhijeet.kumar@bridgei2i.com;kalyani.Pernapati@clorox.com;ravishankar.m@bridgei2i.com\",\"MessageBody1\":\"Hi All,\",\"MessageBody2\":\"This is an email notification generated from Azure Data Factory for data ingestion in IDR Orders pipeline.\nAn error occurred in the staging table (dbo.stg_orders) in SQL DW.\",\"MessageBody3\":\"Please find below the pipeline execution details:\",\"MessageBody4\":\"Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.\",\"MessageBody5\":\" - Thanks\"}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load SQLDW Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": "truncate table dbo.stg_orders",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "ORD_CREATED_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ord_created_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SO_DOC_NBR",
														"type": "String"
													},
													"sink": {
														"name": "so_doc_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORD_LINE_ITEM_NBR",
														"type": "String"
													},
													"sink": {
														"name": "ord_line_item_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PROFIT_CENTER_CODE"
													},
													"sink": {
														"name": "profit_center_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CTRL_AREA_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ctrl_area_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SHIPPINGPOINT_CODE",
														"type": "String"
													},
													"sink": {
														"name": "shippingpoint_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "FISCAL_YR_VARIANT_CODE",
														"type": "String"
													},
													"sink": {
														"name": "fiscal_yr_variant_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORD_HDR_CREATED_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ord_hdr_created_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PLANNED_PGI_DATE_YYYYMM",
														"type": "String"
													},
													"sink": {
														"name": "planned_pgi_date_yyyymm",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "BILLTO_CUSTOMER_CODE",
														"type": "String"
													},
													"sink": {
														"name": "billto_customer_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SHIPTO_CUSTOMER_CODE",
														"type": "String"
													},
													"sink": {
														"name": "shipto_customer_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SOLDTO_CUSTOMER_CODE",
														"type": "String"
													},
													"sink": {
														"name": "soldto_customer_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PAYER_CUSTOMER_CODE",
														"type": "String"
													},
													"sink": {
														"name": "payer_customer_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "BROKER_CUSTOMER_CODE",
														"type": "String"
													},
													"sink": {
														"name": "broker_customer_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MATERIAL_NUM"
													},
													"sink": {
														"name": "material_num",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MILITARY_MATERIAL_NUM",
														"type": "String"
													},
													"sink": {
														"name": "military_material_num",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SAP_UPC_NUM"
													},
													"sink": {
														"name": "sap_upc_num",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SALES_DIVISION_CODE",
														"type": "String"
													},
													"sink": {
														"name": "sales_division_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SALES_DISTRICT_CODE",
														"type": "String"
													},
													"sink": {
														"name": "sales_district_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DOC_CLASS_CODE",
														"type": "String"
													},
													"sink": {
														"name": "doc_class_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SD_DOC_CATEGORY_CODE",
														"type": "String"
													},
													"sink": {
														"name": "sd_doc_category_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SO_DOC_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "so_doc_type",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ITEM_CATEGORY_CODE",
														"type": "String"
													},
													"sink": {
														"name": "item_category_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORD_PLANNED_GI_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ord_planned_gi_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PLANNED_GI_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "planned_gi_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DELIVERY_PLANNED_GI_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "delivery_planned_gi_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MAT_AVAILABLE_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "mat_available_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ACTUAL_GI_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "actual_gi_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PO_DOC_NBR",
														"type": "String"
													},
													"sink": {
														"name": "po_doc_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ACCT_ASSIGNMENT_GRP_CODE",
														"type": "String"
													},
													"sink": {
														"name": "acct_assignment_grp_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COMPANY_CODE",
														"type": "String"
													},
													"sink": {
														"name": "company_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SHIP_FROM_PLANT_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ship_from_plant_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SALES_GROUP_CODE",
														"type": "String"
													},
													"sink": {
														"name": "sales_group_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "OMS",
														"type": "String"
													},
													"sink": {
														"name": "oms",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SHIPPING_TYPE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "shipping_type_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SHIPPING_CONDITION_CODE",
														"type": "String"
													},
													"sink": {
														"name": "shipping_condition_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "FORWARDING_AGENT",
														"type": "String"
													},
													"sink": {
														"name": "forwarding_agent",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DIVISION_CODE",
														"type": "String"
													},
													"sink": {
														"name": "division_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DISTRIB_CHANNEL_CODE",
														"type": "String"
													},
													"sink": {
														"name": "distrib_channel_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "BILLING_BLOCK_CODE",
														"type": "String"
													},
													"sink": {
														"name": "billing_block_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DELIVERY_BLOCK_CODE",
														"type": "String"
													},
													"sink": {
														"name": "delivery_block_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CLX_PO_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "clx_po_type",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SHIP_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ship_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTOMER_REQUESTED_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "customer_requested_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "BRACKET_PRICE_OVERRIDE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "bracket_price_override_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EXPECTED_PRICE_STATUS_CODE",
														"type": "String"
													},
													"sink": {
														"name": "expected_price_status_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "STATS_UPDATE_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "stats_update_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MULTIPLE_ORDER",
														"type": "String"
													},
													"sink": {
														"name": "multiple_order",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DELIVERY_NBR",
														"type": "String"
													},
													"sink": {
														"name": "delivery_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORD_QTY",
														"type": "String"
													},
													"sink": {
														"name": "ord_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NUMBER_OF_DOC_ITEMS",
														"type": "String"
													},
													"sink": {
														"name": "number_of_doc_items",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "ACTUAL_DELIVERY_QTY",
														"type": "String"
													},
													"sink": {
														"name": "actual_delivery_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "DELIVERY_QTY",
														"type": "String"
													},
													"sink": {
														"name": "delivery_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "ORD_QTY_PURCHASE_UOM",
														"type": "String"
													},
													"sink": {
														"name": "ord_qty_purchase_uom",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "BW_ORD_QTY_NG",
														"type": "String"
													},
													"sink": {
														"name": "bw_ord_qty_ng",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "BW_ORD_QTY_LIQUIDATION",
														"type": "String"
													},
													"sink": {
														"name": "bw_ord_qty_liquidation",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "BW_DOS_ORD_QTY",
														"type": "String"
													},
													"sink": {
														"name": "bw_dos_ord_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "BW_ORD_QTY",
														"type": "String"
													},
													"sink": {
														"name": "bw_ord_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "BW_ORD_AC_QTY",
														"type": "String"
													},
													"sink": {
														"name": "bw_ord_ac_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "CML_CF_QTY",
														"type": "String"
													},
													"sink": {
														"name": "cml_cf_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "CML_CD_QTY",
														"type": "String"
													},
													"sink": {
														"name": "cml_cd_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "CML_ORDER_QTY",
														"type": "String"
													},
													"sink": {
														"name": "cml_order_qty",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NETPRC_EXOFFINVDISC_AMT_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "netprc_exoffinvdisc_amt_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "OFFINVDISC_AMT_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "offinvdisc_amt_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NETVAL_DISCSURCHRG_AMT_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "netval_discsurchrg_amt_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "UNSALEABLE_AMT_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "unsaleable_amt_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "CUSTOMER_EXPECTED_PRICE_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "customer_expected_price_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "BROKER_COMM_AMT_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "broker_comm_amt_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NET_ORD_AMT_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "net_ord_amt_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "COST_AMT_STCURR",
														"type": "String"
													},
													"sink": {
														"name": "cost_amt_stcurr",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "GROSS_WEIGHT_KG",
														"type": "String"
													},
													"sink": {
														"name": "gross_weight_kg",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NET_WEIGHT_KG",
														"type": "String"
													},
													"sink": {
														"name": "net_weight_kg",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "VOLUME_CUBIC_DECS",
														"type": "String"
													},
													"sink": {
														"name": "volume_cubic_decs",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "ORD_QTY_EACHES",
														"type": "String"
													},
													"sink": {
														"name": "ord_qty_eaches",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "ORD_QTY_SC",
														"type": "String"
													},
													"sink": {
														"name": "ord_qty_sc",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "ORD_QTY_CS",
														"type": "String"
													},
													"sink": {
														"name": "ord_qty_cs",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "GI_DATE",
														"type": "String"
													},
													"sink": {
														"name": "gi_date",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "ACTUAL_GI_DATE",
														"type": "String"
													},
													"sink": {
														"name": "actual_gi_date",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "DOS_PGI_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "dos_pgi_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UOM_BASE",
														"type": "String"
													},
													"sink": {
														"name": "uom_base",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UOM_SALES",
														"type": "String"
													},
													"sink": {
														"name": "uom_sales",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UOM",
														"type": "String"
													},
													"sink": {
														"name": "uom",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UOM_SCS",
														"type": "String"
													},
													"sink": {
														"name": "uom_scs",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UOM_PAL",
														"type": "String"
													},
													"sink": {
														"name": "uom_pal",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UOM_LAY",
														"type": "String"
													},
													"sink": {
														"name": "uom_lay",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "NO_OF_EMPLOYEES",
														"type": "String"
													},
													"sink": {
														"name": "no_of_employees",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "STCURR",
														"type": "String"
													},
													"sink": {
														"name": "stcurr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SUBSTITUTION_REASON",
														"type": "String"
													},
													"sink": {
														"name": "substitution_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "REJECTION_STATUS_CODE",
														"type": "String"
													},
													"sink": {
														"name": "rejection_status_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EXCEPTION_RESPONSIBLE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "exception_responsible_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EQUIP_TYPE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "equip_type_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EDI_CUSTOMER_NBR",
														"type": "String"
													},
													"sink": {
														"name": "edi_customer_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CREATED_BY",
														"type": "String"
													},
													"sink": {
														"name": "created_by",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SALES_DEAL_NBR",
														"type": "String"
													},
													"sink": {
														"name": "sales_deal_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ACKNOWLEDGED_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "acknowledged_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CANCEL_BY_RQST_ARR_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "cancel_by_rqst_arr_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CANCEL_BY_RQST_SHIP_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "cancel_by_rqst_ship_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CONVERSION_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "conversion_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DECLINED_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "declined_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PRICING_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "pricing_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SERVICE_RENDERED_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "service_rendered_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "QUOTE_VALID_TO_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "quote_valid_to_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LAST_ACTION_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "last_action_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "NOT_BEFORE_RQST_ARR_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "not_before_rqst_arr_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "NOT_BEFORE_RQST_SHIP_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "not_before_rqst_ship_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "QUOTE_VALID_FROM_DATE_CODE",
														"type": "String"
													},
													"sink": {
														"name": "quote_valid_from_date_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CREATED_TIME",
														"type": "String"
													},
													"sink": {
														"name": "created_time",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UOM_WEIGHT",
														"type": "String"
													},
													"sink": {
														"name": "uom_weight",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "POOLING_ELIGIBILITY",
														"type": "String"
													},
													"sink": {
														"name": "pooling_eligibility",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PICK_METHOD_CODE",
														"type": "String"
													},
													"sink": {
														"name": "pick_method_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "GROSS_WEIGHT"
													},
													"sink": {
														"name": "gross_weight",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NO_OF_CASES_PER_PALLET",
														"type": "String"
													},
													"sink": {
														"name": "no_of_cases_per_pallet",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NO_OF_CASES_PER_LAYER",
														"type": "String"
													},
													"sink": {
														"name": "no_of_cases_per_layer",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "CUSTOMER_LEAD_TIME",
														"type": "String"
													},
													"sink": {
														"name": "customer_lead_time",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "NO_OF_LAYERS_PER_PALLET",
														"type": "String"
													},
													"sink": {
														"name": "no_of_layers_per_pallet",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "LOOSE_PICK_RATE_CS",
														"type": "String"
													},
													"sink": {
														"name": "loose_pick_rate_cs",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "LOOSE_PICK_QTY_CS",
														"type": "String"
													},
													"sink": {
														"name": "loose_pick_qty_cs",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "LOOSE_PICK_COST_CS",
														"type": "String"
													},
													"sink": {
														"name": "loose_pick_cost_cs",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "LOOSE_PICK_RATE_LAY",
														"type": "String"
													},
													"sink": {
														"name": "loose_pick_rate_lay",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "PICK_QTY_LAY",
														"type": "String"
													},
													"sink": {
														"name": "pick_qty_lay",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "BROKER_LAYERS_PICKED",
														"type": "String"
													},
													"sink": {
														"name": "broker_layers_picked",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "LOOSE_PICK_COST_LAY",
														"type": "String"
													},
													"sink": {
														"name": "loose_pick_cost_lay",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "LOOSE_LAY_PICK_QTY_CS",
														"type": "String"
													},
													"sink": {
														"name": "loose_lay_pick_qty_cs",
														"type": "Single"
													}
												},
												{
													"source": {
														"name": "CURRENCY_CODE",
														"type": "String"
													},
													"sink": {
														"name": "currency_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "REF_DOC_NBR",
														"type": "String"
													},
													"sink": {
														"name": "ref_doc_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "REF_ITEM_NBR",
														"type": "String"
													},
													"sink": {
														"name": "ref_item_nbr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DIVISION_HEADER_CODE",
														"type": "String"
													},
													"sink": {
														"name": "division_header_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SD_REF_DOC_CATEGORY",
														"type": "String"
													},
													"sink": {
														"name": "sd_ref_doc_category",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORG_LEAD_TIME_ERROR_CODE",
														"type": "String"
													},
													"sink": {
														"name": "org_lead_time_error_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EXPECTED_PRICE_ERROR_CODE",
														"type": "String"
													},
													"sink": {
														"name": "expected_price_error_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MULTIPLE_ORDER_ERROR_CODE",
														"type": "String"
													},
													"sink": {
														"name": "multiple_order_error_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MATERIAL_REASON_ERROR_CODE",
														"type": "String"
													},
													"sink": {
														"name": "material_reason_error_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LEAD_TIME_ERROR_CODE",
														"type": "String"
													},
													"sink": {
														"name": "lead_time_error_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SALES_OFFICE",
														"type": "String"
													},
													"sink": {
														"name": "sales_office",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SALES_EMPLOYEE",
														"type": "String"
													},
													"sink": {
														"name": "sales_employee",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "IO_STATUS_CODE",
														"type": "String"
													},
													"sink": {
														"name": "io_status_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CREDIT_DEBIT_FLG",
														"type": "String"
													},
													"sink": {
														"name": "credit_debit_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CPU_ERROR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "cpu_error_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATE_ERROR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "date_error_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DUPLICATE_PO_ERROR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "duplicate_po_error_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PLOAD_ERROR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "pload_error_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SRC_ERROR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "src_error_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MANUAL_PRICE_DATE_FLG",
														"type": "String"
													},
													"sink": {
														"name": "manual_price_date_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ROUNDING_OCCURRED_FLG",
														"type": "String"
													},
													"sink": {
														"name": "rounding_occurred_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MAT_ERROR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "mat_error_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MULTIPLE_ORD_FLG",
														"type": "String"
													},
													"sink": {
														"name": "multiple_ord_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CPU_RATE_ERROR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "cpu_rate_error_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CTS_HEADER_INDICATOR_FLG",
														"type": "String"
													},
													"sink": {
														"name": "cts_header_indicator_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LEAD_TIME_COMPLIANCE_FLG",
														"type": "String"
													},
													"sink": {
														"name": "lead_time_compliance_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LT_COMPLY_NO_SO_FLG",
														"type": "String"
													},
													"sink": {
														"name": "lt_comply_no_so_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORD_ITEMS_FLG",
														"type": "String"
													},
													"sink": {
														"name": "ord_items_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORD_REASON",
														"type": "String"
													},
													"sink": {
														"name": "ord_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "REJECTION_REASON",
														"type": "String"
													},
													"sink": {
														"name": "rejection_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MATERIAL_REASON",
														"type": "String"
													},
													"sink": {
														"name": "material_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EXCEPTION_REASON",
														"type": "String"
													},
													"sink": {
														"name": "exception_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CPU_ERROR_REASON",
														"type": "String"
													},
													"sink": {
														"name": "cpu_error_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATE_ERROR_REASON",
														"type": "String"
													},
													"sink": {
														"name": "date_error_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PLOAD_ERROR_REASON",
														"type": "String"
													},
													"sink": {
														"name": "pload_error_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SOURCE_ERROR_REASON",
														"type": "String"
													},
													"sink": {
														"name": "source_error_reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "BW_RECORD_CHANGE_FLG",
														"type": "String"
													},
													"sink": {
														"name": "bw_record_change_flg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LOAD_DATE",
														"type": "String"
													},
													"sink": {
														"name": "load_date",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "CSV_Incremental_IDR_Orders_AZ",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "Table_SQLDW_Staging_Orders",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					},
					{
						"name": "QC Check - Storage to Staging",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "QC Check - Source to Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Copy IDR To Storage').output.rowsCopied,activity('Get Staging Record Count').output.firstRow.staging_record_count)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "AT_WEB_Orders_Load_Error5",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"Status\":\"Failed\",\"Env\":\"Dev\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"EmailTo\":\"abhijeet.kumar@bridgei2i.com;kalyani.Pernapati@clorox.com;ravishankar.m@bridgei2i.com\",\"MessageBody1\":\"Hi All,\",\"MessageBody2\":\"This is an email notification generated from Azure Data Factory for data ingestion in IDR Orders pipeline.\nThe storage to staging count is not matching.\",\"MessageBody3\":\"Please find below the pipeline execution details:\",\"MessageBody4\":\"Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.\",\"MessageBody5\":\" - Thanks\"}",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Get Target Record Count",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load Orders Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "select count(*) as target_record_count\nfrom dbo.base_orders\nwhere CONVERT(varchar, idr_load_date, 112) > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Table_SQLDW_Base_Orders",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Load Orders Target Table",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SPRC_IDR_orders_insert]"
									},
									"linkedServiceName": {
										"referenceName": "AzureSQLDW_onprem",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "AT_WEB_Orders_Load_Error4",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Load Orders Target Table",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"Status\":\"Failed\",\"Env\":\"Dev\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"EmailTo\":\"abhijeet.kumar@bridgei2i.com;kalyani.Pernapati@clorox.com;ravishankar.m@bridgei2i.com\",\"MessageBody1\":\"Hi All,\",\"MessageBody2\":\"This is an email notification generated from Azure Data Factory for data ingestion in IDR Orders pipeline.\nAn error occurred in the target table (dbo.base_orders) in SQL DW.\",\"MessageBody3\":\"Please find below the pipeline execution details:\",\"MessageBody4\":\"Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.\",\"MessageBody5\":\" - Thanks\"}",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "QC Check - Staging to Target",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "QC Check - Storage to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Staging Record Count').output.firstRow.staging_record_count,activity('Get Target Record Count').output.firstRow.target_record_count)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "AT_WEB_Orders_Load_Error6",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"Status\":\"Failed\",\"Env\":\"Dev\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"EmailTo\":\"abhijeet.kumar@bridgei2i.com;kalyani.Pernapati@clorox.com;ravishankar.m@bridgei2i.com\",\"MessageBody1\":\"Hi All,\",\"MessageBody2\":\"This is an email notification generated from Azure Data Factory for data ingestion in IDR Orders pipeline.\nThe staging to target count is not matching.\",\"MessageBody3\":\"Please find below the pipeline execution details:\",\"MessageBody4\":\"Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.\",\"MessageBody5\":\" - Thanks\"}",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Job_Completion_Alert",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"DataFactoryName": "@{pipeline().DataFactory}",
											"Status": "Successful",
											"Env": "Dev",
											"PipelineName": "@{pipeline().Pipeline}",
											"EmailTo": "abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com",
											"MessageBody1": "Hi All,",
											"MessageBody2": "This is an email notification generated from Azure Data Factory for IDR Orders ingestion.",
											"MessageBody3": "Please find below the pipeline execution details:",
											"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
											"MessageBody5": " - Thanks"
										}
									}
								}
							]
						}
					},
					{
						"name": "AT_WEB_Orders_Load_Error1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy IDR To Storage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"Status\":\"Failed\",\"Env\":\"Dev\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"EmailTo\":\"abhijeet.kumar@bridgei2i.com;kalyani.Pernapati@clorox.com;ravishankar.m@bridgei2i.com\",\"MessageBody1\":\"Hi All,\",\"MessageBody2\":\"This is an email notification generated from Azure Data Factory for data ingestion in IDR Orders pipeline.\nAn error occurred in the incremental file in ADLS .\",\"MessageBody3\":\"Please find below the pipeline execution details:\",\"MessageBody4\":\"Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.\",\"MessageBody5\":\" - Thanks\"}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"Email_to": {
						"type": "string",
						"defaultValue": "Kalyani.Pernapati@clorox.com;abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com"
					}
				},
				"folder": {
					"name": "Orders"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}