clxdev-adf-matrix/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "clxdev-adf-matrix"
		},
		"Load_IDR_Orders_Weekly_Schedule_properties_Load IDR Orders_parameters_IDR_Load_Date": {
			"type": "string",
			"defaultValue": "20200404"
		},
		"Load_IDR_Shipments_Weekly_Schedule_properties_Load IDR Shipments_parameters_Email_to": {
			"type": "string",
			"defaultValue": "Kalyani.Pernapati@clorox.com;abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Material_dim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SPRC_Internal_Dim_Material",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stg_Material",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SPRC_Internal_Dim_Material]",
							"storedProcedureParameters": {
								"start_date": {
									"value": null,
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLDW_onprem",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stg_Material",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dbo.stg_material_dim",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_BW_D_Material",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Material",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Src_to_Target_Lookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SPRC_Internal_Dim_Material",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select Source_count as Source_Count, Target_Count from dbo.etl_audit_log where batch_id = (select max(batch_id)\nfrom dbo.etl_audit_log where Activity_Name = 'SPRC_Internal_Dim_Material')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Table_SQLDW_etl_audit_log",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Check for Src to Tgt match",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Src_to_Target_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Src_to_Target_Lookup').output.firstRow.Source_Count,activity('Src_to_Target_Lookup').output.firstRow.Target_Count)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "AT_WEB_Material_Dim_Load_Error",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"DataFactoryName": "@{pipeline().DataFactory}",
											"Status": "Failed",
											"Env": "Dev",
											"PipelineName": "@{pipeline().Pipeline}",
											"EmailTo": "abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com;kalyani.Pernapati@clorox.com",
											"MessageBody1": "Hi All,",
											"MessageBody2": "This is an email notification generated from Azure Data Factory for data ingestion in Material dim (dbo.material_dim) table.",
											"MessageBody3": "Please find below the pipeline execution details:",
											"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
											"MessageBody5": " - Thanks"
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Clorox - Dimensions/Clorox Internal Dim"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Profitcenter_dim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SPRC_Internal_Dim_Profitcenter",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stg_Profitcenter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SPRC_Internal_Dim_Profitcenter]",
							"storedProcedureParameters": {
								"start_date": {
									"value": null,
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLDW_onprem",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stg_Profitcenter",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dbo.stg_profit_center",
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage_OnPrem",
									"type": "LinkedServiceReference"
								},
								"path": "matrix-stage/staging_area"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PROFIT_CENTER_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PROFIT_CENTER_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CTRL_AREA_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CTRL_AREA_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VALID_FROM_NBR",
											"type": "String"
										},
										"sink": {
											"name": "VALID_FROM_NBR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VALID_TO_NBR",
											"type": "String"
										},
										"sink": {
											"name": "VALID_TO_NBR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHORT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SHORT_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MEDIUM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "MEDIUM_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "MODIFIED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "MODIFIED_DATE",
											"type": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_BW_D_Profitcenter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Profitcenter",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Src_to_Target_Lookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SPRC_Internal_Dim_Profitcenter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select Source_count as Source_Count, Target_Count from dbo.etl_audit_log where batch_id = (select max(batch_id)\nfrom dbo.etl_audit_log where Activity_Name = 'SPRC_Internal_Dim_Profitcenter')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Table_SQLDW_etl_audit_log",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Check for Src to Tgt match",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Src_to_Target_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Src_to_Target_Lookup').output.firstRow.Source_Count,activity('Src_to_Target_Lookup').output.firstRow.Target_Count)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "AT_WEB_ProfitCenter_Dim_Load_Error",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"DataFactoryName": "@{pipeline().DataFactory}",
											"Status": "Failed",
											"Env": "Dev",
											"PipelineName": "@{pipeline().Pipeline}",
											"EmailTo": "abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com;kalyani.Pernapati@clorox.com",
											"MessageBody1": "Hi All,",
											"MessageBody2": "This is an email notification generated from Azure Data Factory for data ingestion in Profit Center dim (dbo.profit_center_dim) table.",
											"MessageBody3": "Please find below the pipeline execution details:",
											"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
											"MessageBody5": " - Thanks"
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Clorox - Dimensions/Clorox Internal Dim"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Internal_Dimensions_Master_Wrapper')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Customer_dim",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Customer_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Material_dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Customer_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Material_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Material_UOM_dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Material_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Material_UOM_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Profitcenter_dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Material_UOM_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Profitcenter_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Custom_Profitcenter_dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Profitcenter_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Custom_Profitcenter_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Job_Completion_Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Custom_Profitcenter_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"Status": "Successful",
								"Env": "Dev",
								"PipelineName": "@{pipeline().Pipeline}",
								"EmailTo": "abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com;kalyani.Pernapati@clorox.com",
								"MessageBody1": "Hi All,",
								"MessageBody2": "This is an email notification generated from Azure Data Factory for Clorox Internal Dimension ingestion.",
								"MessageBody3": "Please find below the pipeline execution details:",
								"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
								"MessageBody5": " - Thanks"
							}
						}
					}
				],
				"folder": {
					"name": "Clorox - Dimensions/Clorox Internal Dim"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Material_dim')]",
				"[concat(variables('factoryId'), '/pipelines/Profitcenter_dim')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Calendar_Dimensions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Calendar_day_dim",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Calendar_day_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Calendar_mth_dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Calendar_day_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Calendar_mth_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Job_Completion_Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Calendar_mth_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"Status": "Successful",
								"Env": "Dev",
								"PipelineName": "@{pipeline().Pipeline}",
								"EmailTo": "abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com;kalyani.Pernapati@clorox.com",
								"MessageBody1": "Hi All,",
								"MessageBody2": "This is an email notification generated from Azure Data Factory for Clorox Internal Calendar Dimension ingestion.",
								"MessageBody3": "Please find below the pipeline execution details:",
								"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
								"MessageBody5": " - Thanks"
							}
						}
					}
				],
				"folder": {
					"name": "Clorox - Dimensions/Clorox Internal Dim"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_IDR_Orders_Weekly_Schedule')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load IDR Orders",
							"type": "PipelineReference"
						},
						"parameters": {
							"IDR_Load_Date": "[parameters('Load_IDR_Orders_Weekly_Schedule_properties_Load IDR Orders_parameters_IDR_Load_Date')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2020-04-08T19:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							],
							"weekDays": [
								"Wednesday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_IDR_Shipments_Weekly_Schedule')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load IDR Shipments",
							"type": "PipelineReference"
						},
						"parameters": {
							"Email_to": "[parameters('Load_IDR_Shipments_Weekly_Schedule_properties_Load IDR Shipments_parameters_Email_to')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2020-04-08T18:00:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								45
							],
							"hours": [
								18
							],
							"weekDays": [
								"Wednesday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Clorox Internal Dimension Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Internal_Dimensions_Master_Wrapper",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2020-08-20T07:37:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								18
							],
							"weekDays": [
								"Wednesday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Internal_Dimensions_Master_Wrapper')]"
			]
		}
	]
}