clxdev-adf-matrix/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "clxdev-adf-matrix"
		},
		"Oracle_IDR_dynamic_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle_IDR_dynamic'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_IDR_dynamic')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle_IDR_dynamic_connectionString')]"
				},
				"connectVia": {
					"referenceName": "clxdev-onprem-ir-linked",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_OnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_orders.csv",
						"folderPath": "orders",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Orders_AZ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_orders.csv",
						"folderPath": "orders",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_OnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_shipments.csv",
						"folderPath": "shipments",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Shipments_AZ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_shipments.csv",
						"folderPath": "shipments",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KP_Oracle_IDR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KP_Oracle_IDR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_D_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_D_CUSTOMER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle_IDR_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CUSTOMER_CODE",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME_1",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME_2",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME_3",
						"type": "varchar"
					},
					{
						"name": "PO_BOX",
						"type": "varchar"
					},
					{
						"name": "STREET",
						"type": "varchar"
					},
					{
						"name": "REGION_CODE",
						"type": "varchar"
					},
					{
						"name": "REGION",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "ZIPCODE",
						"type": "varchar"
					},
					{
						"name": "COUNTRY_CODE",
						"type": "varchar"
					},
					{
						"name": "COUNTRY",
						"type": "varchar"
					},
					{
						"name": "ACCT_GRP_CODE",
						"type": "varchar"
					},
					{
						"name": "CONSUMER_FLG",
						"type": "varchar"
					},
					{
						"name": "SALES_ORG_CODE",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_GROUP_CODE",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_GROUP",
						"type": "varchar"
					},
					{
						"name": "TRADE_SECTOR_CODE",
						"type": "varchar"
					},
					{
						"name": "TRADE_SECTOR",
						"type": "varchar"
					},
					{
						"name": "SALES_GROUP_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_ORG",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_CODE_LVL_1",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_CODE_LVL_2",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_CODE_LVL_3",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME1_LVL_1",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME1_LVL_2",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME1_LVL_3",
						"type": "varchar"
					},
					{
						"name": "OMS",
						"type": "varchar"
					},
					{
						"name": "PLANNING_ACCT_GRP_CODE",
						"type": "varchar"
					},
					{
						"name": "HIERARCHY_NBR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PRICE_GROUP_CODE",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_DISTRIB_CHANNEL_CODE",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_SHIPTO_FLG",
						"type": "varchar"
					},
					{
						"name": "SALES_DEPT_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_REGION_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_SECTOR_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_DEPT",
						"type": "varchar"
					},
					{
						"name": "SALES_REGION",
						"type": "varchar"
					},
					{
						"name": "SALES_SECTOR",
						"type": "varchar"
					},
					{
						"name": "SALES_DELETE_FLG",
						"type": "varchar"
					},
					{
						"name": "CREATED_DATE",
						"type": "date"
					},
					{
						"name": "MODIFIED_DATE",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_customer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_etl_audit_log')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Base Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "batch_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Datafactory_Name",
						"type": "varchar"
					},
					{
						"name": "Pipeline_Name",
						"type": "varchar"
					},
					{
						"name": "Activity_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Type",
						"type": "varchar"
					},
					{
						"name": "Destination_Type",
						"type": "varchar"
					},
					{
						"name": "Source_Name",
						"type": "varchar"
					},
					{
						"name": "Target_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Target_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Activity_Start_Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Activity_End_Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Total_time_taken_in_sec",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_inserted",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_updated",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "etl_audit_log"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_D_Material')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_D_MATERIAL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle_IDR_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Material')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "material_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_division_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "division_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_prod_hier_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_desc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "conv_factor_ton",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_pal",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_scs",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "material_group",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "ean_upc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_id",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "general_item_cat_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "packaging_type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_padded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_val",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "weight_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "volume",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "volume_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "width",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "height",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "item_length",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_unpadded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_status",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc10_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_basic_data_text",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "piece_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_valid_from_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_ship_start_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_list_price_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "unit_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_material_dim"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_D_Material_UOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_D_MATERIAL_UOM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle_IDR_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Material_UOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "material_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_division_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "division_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_prod_hier_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_desc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "conv_factor_ton",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_pal",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_scs",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "material_group",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "ean_upc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_id",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "general_item_cat_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "packaging_type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_padded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_val",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "weight_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "volume",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "volume_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "width",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "height",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "item_length",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_unpadded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_status",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc10_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_basic_data_text",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "piece_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_valid_from_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_ship_start_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_list_price_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "unit_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_material_uom_dim"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_D_Profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_D_PROFITCENTER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle_IDR_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_profit_center"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_M_Custom_profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_M_PROFITCENTER_CUSTOM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle_IDR_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Custom_profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_profitcenter_custom"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load IDR Orders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IDR To Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Load Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select * from\n(select *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date} \nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand billto_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%WAL-MART%')\nunion\nselect *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd')  > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%DOLLAR GENERAL CORP%')\nunion\nselect *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%KROGER%')) \n",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load SQLDW Target",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load SQLDW Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT [ord_created_date_code]\n      ,[so_doc_nbr]\n      ,[ord_line_item_nbr]\n      ,[profit_center_code]\n      ,[ctrl_area_code]\n      ,[shippingpoint_code]\n      ,[fiscal_yr_variant_code]\n      ,[ord_hdr_created_date_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[broker_customer_code]\n      ,[material_num]\n      ,[military_material_num]\n      ,[sap_upc_num]\n      ,[sales_division_code]\n      ,[sales_district_code]\n      ,[doc_class_code]\n      ,[sd_doc_category_code]\n      ,[so_doc_type]\n      ,[item_category_code]\n      ,[ord_planned_gi_date_code]\n      ,[planned_gi_date_code]\n      ,[delivery_planned_gi_date_code]\n      ,[mat_available_date_code]\n      ,[actual_gi_date_code]\n      ,[po_doc_nbr]\n      ,[acct_assignment_grp_code]\n      ,[company_code]\n      ,[ship_from_plant_code]\n      ,[sales_group_code]\n      ,[oms]\n      ,[shipping_type_code]\n      ,[shipping_condition_code]\n      ,[forwarding_agent]\n      ,[division_code]\n      ,[distrib_channel_code]\n      ,[billing_block_code]\n      ,[delivery_block_code]\n      ,[clx_po_type]\n      ,[ship_date_code]\n      ,[customer_requested_date_code]\n      ,[bracket_price_override_code]\n      ,[expected_price_status_code]\n      ,[stats_update_date_code]\n      ,[multiple_order]\n      ,[delivery_nbr]\n      ,[ord_qty]\n      ,[number_of_doc_items]\n      ,[actual_delivery_qty]\n      ,[delivery_qty]\n      ,[ord_qty_purchase_uom]\n      ,[bw_ord_qty_ng]\n      ,[bw_ord_qty_liquidation]\n      ,[bw_dos_ord_qty]\n      ,[bw_ord_qty]\n      ,[bw_ord_ac_qty]\n      ,[cml_cf_qty]\n      ,[cml_cd_qty]\n      ,[cml_order_qty]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[net_ord_amt_stcurr]\n      ,[cost_amt_stcurr]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_decs]\n      ,[ord_qty_eaches]\n      ,[ord_qty_sc]\n      ,[ord_qty_cs]\n      ,[gi_date]\n      ,[actual_gi_date]\n      ,[dos_pgi_date_code]\n      ,[uom_base]\n      ,[uom_sales]\n      ,[uom]\n      ,[uom_scs]\n      ,[uom_pal]\n      ,[uom_lay]\n      ,[no_of_employees]\n      ,[stcurr]\n      ,[substitution_reason]\n      ,[rejection_status_code]\n      ,[exception_responsible_code]\n      ,[equip_type_code]\n      ,[edi_customer_nbr]\n      ,[created_by]\n      ,[sales_deal_nbr]\n      ,[acknowledged_date_code]\n      ,[cancel_by_rqst_arr_date_code]\n      ,[cancel_by_rqst_ship_date_code]\n      ,[conversion_date_code]\n      ,[declined_date_code]\n      ,[pricing_date_code]\n      ,[service_rendered_date_code]\n      ,[quote_valid_to_date_code]\n      ,[last_action_date_code]\n      ,[not_before_rqst_arr_date_code]\n      ,[not_before_rqst_ship_date_code]\n      ,[quote_valid_from_date_code]\n      ,[created_time]\n      ,[uom_weight]\n      ,[pooling_eligibility]\n      ,[pick_method_code]\n      ,[gross_weight]\n      ,[no_of_cases_per_pallet]\n      ,[no_of_cases_per_layer]\n      ,[customer_lead_time]\n      ,[no_of_layers_per_pallet]\n      ,[loose_pick_rate_cs]\n      ,[loose_pick_qty_cs]\n      ,[loose_pick_cost_cs]\n      ,[loose_pick_rate_lay]\n      ,[pick_qty_lay]\n      ,[broker_layers_picked]\n      ,[loose_pick_cost_lay]\n      ,[loose_lay_pick_qty_cs]\n      ,[currency_code]\n      ,[ref_doc_nbr]\n      ,[ref_item_nbr]\n      ,[division_header_code]\n      ,[sd_ref_doc_category]\n      ,[org_lead_time_error_code]\n      ,[expected_price_error_code]\n      ,[multiple_order_error_code]\n      ,[material_reason_error_code]\n      ,[lead_time_error_code]\n      ,[sales_office]\n      ,[sales_employee]\n      ,[io_status_code]\n      ,[credit_debit_flg]\n      ,[cpu_error_flg]\n      ,[date_error_flg]\n      ,[duplicate_po_error_flg]\n      ,[pload_error_flg]\n      ,[src_error_flg]\n      ,[manual_price_date_flg]\n      ,[rounding_occurred_flg]\n      ,[mat_error_flg]\n      ,[multiple_ord_flg]\n      ,[cpu_rate_error_flg]\n      ,[cts_header_indicator_flg]\n      ,[lead_time_compliance_flg]\n      ,[lt_comply_no_so_flg]\n      ,[ord_items_flg]\n      ,[ord_reason]\n      ,[rejection_reason]\n      ,[material_reason]\n      ,[exception_reason]\n      ,[cpu_error_reason]\n      ,[date_error_reason]\n      ,[pload_error_reason]\n      ,[source_error_reason]\n      ,[bw_record_change_flg]\n      ,[idr_load_date]\n\t  ,CONVERT (date, SYSDATETIME()) as azure_load_date\n  FROM [dbo].[stg_litter_orders]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Base_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Failure Alert - 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Copy_IDR_Litter_Shipments_Storage",
								"ErrorMessage": {
									"value": "@activity('IDR To Storage').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Failure Alert - 3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Target",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Load SQLDW Target",
								"ErrorMessage": {
									"value": "@activity('Load SQLDW Target').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Pipeline Success Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Target",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on success",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"Subject": "ADF pipeline Load IDR Orders finished successfully",
								"DataFactoryName": "ADF",
								"PipelineName": "Load IDR Orders",
								"Activity": "Load SQLDW Target",
								"ErrorMessage": "No errors"
							}
						}
					},
					{
						"name": "Get Last Load Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_litter_orders",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Table_SQLDW_Base_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Load SQLDW Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dbo.stg_litter_orders",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "ord_created_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "so_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "ord_line_item_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "profit_center_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "ctrl_area_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "shippingpoint_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "fiscal_yr_variant_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "ord_hdr_created_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "planned_pgi_date_yyyymm",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "billto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "shipto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "soldto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "payer_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "broker_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "material_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "military_material_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "sap_upc_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "sales_division_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "sales_district_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "doc_class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "sd_doc_category_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "so_doc_type",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "item_category_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "ord_planned_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "planned_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "delivery_planned_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "mat_available_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "actual_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "po_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "acct_assignment_grp_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "company_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 32
										},
										"sink": {
											"name": "ship_from_plant_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 33
										},
										"sink": {
											"name": "sales_group_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 34
										},
										"sink": {
											"name": "oms",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 35
										},
										"sink": {
											"name": "shipping_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 36
										},
										"sink": {
											"name": "shipping_condition_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 37
										},
										"sink": {
											"name": "forwarding_agent",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 38
										},
										"sink": {
											"name": "division_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 39
										},
										"sink": {
											"name": "distrib_channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 40
										},
										"sink": {
											"name": "billing_block_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 41
										},
										"sink": {
											"name": "delivery_block_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 42
										},
										"sink": {
											"name": "clx_po_type",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 43
										},
										"sink": {
											"name": "ship_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 44
										},
										"sink": {
											"name": "customer_requested_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 45
										},
										"sink": {
											"name": "bracket_price_override_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 46
										},
										"sink": {
											"name": "expected_price_status_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 47
										},
										"sink": {
											"name": "stats_update_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 48
										},
										"sink": {
											"name": "multiple_order",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 49
										},
										"sink": {
											"name": "delivery_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 50
										},
										"sink": {
											"name": "ord_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 51
										},
										"sink": {
											"name": "number_of_doc_items",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 52
										},
										"sink": {
											"name": "actual_delivery_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 53
										},
										"sink": {
											"name": "delivery_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 54
										},
										"sink": {
											"name": "ord_qty_purchase_uom",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 55
										},
										"sink": {
											"name": "bw_ord_qty_ng",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 56
										},
										"sink": {
											"name": "bw_ord_qty_liquidation",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 57
										},
										"sink": {
											"name": "bw_dos_ord_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 58
										},
										"sink": {
											"name": "bw_ord_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 59
										},
										"sink": {
											"name": "bw_ord_ac_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 60
										},
										"sink": {
											"name": "cml_cf_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 61
										},
										"sink": {
											"name": "cml_cd_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 62
										},
										"sink": {
											"name": "cml_order_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 63
										},
										"sink": {
											"name": "netprc_exoffinvdisc_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 64
										},
										"sink": {
											"name": "offinvdisc_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 65
										},
										"sink": {
											"name": "netval_discsurchrg_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 66
										},
										"sink": {
											"name": "unsaleable_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 67
										},
										"sink": {
											"name": "customer_expected_price_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 68
										},
										"sink": {
											"name": "broker_comm_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 69
										},
										"sink": {
											"name": "net_ord_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 70
										},
										"sink": {
											"name": "cost_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 71
										},
										"sink": {
											"name": "gross_weight_kg",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 72
										},
										"sink": {
											"name": "net_weight_kg",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 73
										},
										"sink": {
											"name": "volume_cubic_decs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 74
										},
										"sink": {
											"name": "ord_qty_eaches",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 75
										},
										"sink": {
											"name": "ord_qty_sc",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 76
										},
										"sink": {
											"name": "ord_qty_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 77
										},
										"sink": {
											"name": "gi_date",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 78
										},
										"sink": {
											"name": "actual_gi_date",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 79
										},
										"sink": {
											"name": "dos_pgi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 80
										},
										"sink": {
											"name": "uom_base",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 81
										},
										"sink": {
											"name": "uom_sales",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 82
										},
										"sink": {
											"name": "uom",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 83
										},
										"sink": {
											"name": "uom_scs",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 84
										},
										"sink": {
											"name": "uom_pal",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 85
										},
										"sink": {
											"name": "uom_lay",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 86
										},
										"sink": {
											"name": "no_of_employees",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 87
										},
										"sink": {
											"name": "stcurr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 88
										},
										"sink": {
											"name": "substitution_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 89
										},
										"sink": {
											"name": "rejection_status_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 90
										},
										"sink": {
											"name": "exception_responsible_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 91
										},
										"sink": {
											"name": "equip_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 92
										},
										"sink": {
											"name": "edi_customer_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 93
										},
										"sink": {
											"name": "created_by",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 94
										},
										"sink": {
											"name": "sales_deal_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 95
										},
										"sink": {
											"name": "acknowledged_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 96
										},
										"sink": {
											"name": "cancel_by_rqst_arr_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 97
										},
										"sink": {
											"name": "cancel_by_rqst_ship_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 98
										},
										"sink": {
											"name": "conversion_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 99
										},
										"sink": {
											"name": "declined_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 100
										},
										"sink": {
											"name": "pricing_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 101
										},
										"sink": {
											"name": "service_rendered_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 102
										},
										"sink": {
											"name": "quote_valid_to_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 103
										},
										"sink": {
											"name": "last_action_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 104
										},
										"sink": {
											"name": "not_before_rqst_arr_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 105
										},
										"sink": {
											"name": "not_before_rqst_ship_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 106
										},
										"sink": {
											"name": "quote_valid_from_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 107
										},
										"sink": {
											"name": "created_time",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 108
										},
										"sink": {
											"name": "uom_weight",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 109
										},
										"sink": {
											"name": "pooling_eligibility",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 110
										},
										"sink": {
											"name": "pick_method_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 111
										},
										"sink": {
											"name": "gross_weight",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 112
										},
										"sink": {
											"name": "no_of_cases_per_pallet",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 113
										},
										"sink": {
											"name": "no_of_cases_per_layer",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 114
										},
										"sink": {
											"name": "customer_lead_time",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 115
										},
										"sink": {
											"name": "no_of_layers_per_pallet",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 116
										},
										"sink": {
											"name": "loose_pick_rate_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 117
										},
										"sink": {
											"name": "loose_pick_qty_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 118
										},
										"sink": {
											"name": "loose_pick_cost_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 119
										},
										"sink": {
											"name": "loose_pick_rate_lay",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 120
										},
										"sink": {
											"name": "pick_qty_lay",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 121
										},
										"sink": {
											"name": "broker_layers_picked",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 122
										},
										"sink": {
											"name": "loose_pick_cost_lay",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 123
										},
										"sink": {
											"name": "loose_lay_pick_qty_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 124
										},
										"sink": {
											"name": "currency_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 125
										},
										"sink": {
											"name": "ref_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 126
										},
										"sink": {
											"name": "ref_item_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 127
										},
										"sink": {
											"name": "division_header_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 128
										},
										"sink": {
											"name": "sd_ref_doc_category",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 129
										},
										"sink": {
											"name": "org_lead_time_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 130
										},
										"sink": {
											"name": "expected_price_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 131
										},
										"sink": {
											"name": "multiple_order_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 132
										},
										"sink": {
											"name": "material_reason_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 133
										},
										"sink": {
											"name": "lead_time_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 134
										},
										"sink": {
											"name": "sales_office",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 135
										},
										"sink": {
											"name": "sales_employee",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 136
										},
										"sink": {
											"name": "io_status_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 137
										},
										"sink": {
											"name": "credit_debit_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 138
										},
										"sink": {
											"name": "cpu_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 139
										},
										"sink": {
											"name": "date_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 140
										},
										"sink": {
											"name": "duplicate_po_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 141
										},
										"sink": {
											"name": "pload_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 142
										},
										"sink": {
											"name": "src_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 143
										},
										"sink": {
											"name": "manual_price_date_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 144
										},
										"sink": {
											"name": "rounding_occurred_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 145
										},
										"sink": {
											"name": "mat_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 146
										},
										"sink": {
											"name": "multiple_ord_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 147
										},
										"sink": {
											"name": "cpu_rate_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 148
										},
										"sink": {
											"name": "cts_header_indicator_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 149
										},
										"sink": {
											"name": "lead_time_compliance_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 150
										},
										"sink": {
											"name": "lt_comply_no_so_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 151
										},
										"sink": {
											"name": "ord_items_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 152
										},
										"sink": {
											"name": "ord_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 153
										},
										"sink": {
											"name": "rejection_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 154
										},
										"sink": {
											"name": "material_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 155
										},
										"sink": {
											"name": "exception_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 156
										},
										"sink": {
											"name": "cpu_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 157
										},
										"sink": {
											"name": "date_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 158
										},
										"sink": {
											"name": "pload_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 159
										},
										"sink": {
											"name": "source_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 160
										},
										"sink": {
											"name": "bw_record_change_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 161
										},
										"sink": {
											"name": "idr_load_date",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Litter_Orders_AZ",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Failure Alert - 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Staging",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"Subject": "Azure DF error",
								"DataFactoryName": "DF",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Load SQLDW Staging",
								"ErrorMessage": {
									"value": "@activity('Load SQLDW Staging').Error.Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"IDR_Load_Date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Table_Oracle_IDR_Orders')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Incremental_IDR_Litter_Orders')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Incremental_IDR_Litter_Orders_AZ')]"
			]
		}
	]
}