clxdev-adf-matrix/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "clxdev-adf-matrix"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_D_Material_UOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_D_MATERIAL_UOM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_D_Profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_D_PROFITCENTER"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_BW_M_Custom_profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "CLXBW",
					"table": "APO_BW_M_PROFITCENTER_CUSTOM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KP_Oracle_IDR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Orders1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KP_Oracle_IDR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Shipments1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_IDR_dynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Oracle - Tables"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Base_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "ord_created_date_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "ord_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "ord_hdr_created_date_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "military_material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "ord_planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "delivery_planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "mat_available_date_code",
						"type": "varchar"
					},
					{
						"name": "actual_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "billing_block_code",
						"type": "varchar"
					},
					{
						"name": "delivery_block_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ship_date_code",
						"type": "varchar"
					},
					{
						"name": "customer_requested_date_code",
						"type": "varchar"
					},
					{
						"name": "bracket_price_override_code",
						"type": "varchar"
					},
					{
						"name": "expected_price_status_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "multiple_order",
						"type": "varchar"
					},
					{
						"name": "delivery_nbr",
						"type": "varchar"
					},
					{
						"name": "ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "actual_delivery_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivery_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty_ng",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty_liquidation",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_dos_ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_ac_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_cf_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_cd_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_order_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ord_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_decs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gi_date",
						"type": "float",
						"precision": 15
					},
					{
						"name": "actual_gi_date",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_pgi_date_code",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "uom_scs",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "no_of_employees",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "substitution_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_status_code",
						"type": "varchar"
					},
					{
						"name": "exception_responsible_code",
						"type": "varchar"
					},
					{
						"name": "equip_type_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_nbr",
						"type": "varchar"
					},
					{
						"name": "created_by",
						"type": "varchar"
					},
					{
						"name": "sales_deal_nbr",
						"type": "varchar"
					},
					{
						"name": "acknowledged_date_code",
						"type": "varchar"
					},
					{
						"name": "cancel_by_rqst_arr_date_code",
						"type": "varchar"
					},
					{
						"name": "cancel_by_rqst_ship_date_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "declined_date_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "service_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "quote_valid_to_date_code",
						"type": "varchar"
					},
					{
						"name": "last_action_date_code",
						"type": "varchar"
					},
					{
						"name": "not_before_rqst_arr_date_code",
						"type": "varchar"
					},
					{
						"name": "not_before_rqst_ship_date_code",
						"type": "varchar"
					},
					{
						"name": "quote_valid_from_date_code",
						"type": "varchar"
					},
					{
						"name": "created_time",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "pooling_eligibility",
						"type": "varchar"
					},
					{
						"name": "pick_method_code",
						"type": "varchar"
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_cases_per_pallet",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_cases_per_layer",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_lead_time",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_layers_per_pallet",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_rate_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_cost_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_rate_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "pick_qty_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_layers_picked",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_cost_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_lay_pick_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "currency_code",
						"type": "varchar"
					},
					{
						"name": "ref_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "ref_item_nbr",
						"type": "varchar"
					},
					{
						"name": "division_header_code",
						"type": "varchar"
					},
					{
						"name": "sd_ref_doc_category",
						"type": "varchar"
					},
					{
						"name": "org_lead_time_error_code",
						"type": "varchar"
					},
					{
						"name": "expected_price_error_code",
						"type": "varchar"
					},
					{
						"name": "multiple_order_error_code",
						"type": "varchar"
					},
					{
						"name": "material_reason_error_code",
						"type": "varchar"
					},
					{
						"name": "lead_time_error_code",
						"type": "varchar"
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "sales_employee",
						"type": "varchar"
					},
					{
						"name": "io_status_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "cpu_error_flg",
						"type": "varchar"
					},
					{
						"name": "date_error_flg",
						"type": "varchar"
					},
					{
						"name": "duplicate_po_error_flg",
						"type": "varchar"
					},
					{
						"name": "pload_error_flg",
						"type": "varchar"
					},
					{
						"name": "src_error_flg",
						"type": "varchar"
					},
					{
						"name": "manual_price_date_flg",
						"type": "varchar"
					},
					{
						"name": "rounding_occurred_flg",
						"type": "varchar"
					},
					{
						"name": "mat_error_flg",
						"type": "varchar"
					},
					{
						"name": "multiple_ord_flg",
						"type": "varchar"
					},
					{
						"name": "cpu_rate_error_flg",
						"type": "varchar"
					},
					{
						"name": "cts_header_indicator_flg",
						"type": "varchar"
					},
					{
						"name": "lead_time_compliance_flg",
						"type": "varchar"
					},
					{
						"name": "lt_comply_no_so_flg",
						"type": "varchar"
					},
					{
						"name": "ord_items_flg",
						"type": "varchar"
					},
					{
						"name": "ord_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "material_reason",
						"type": "varchar"
					},
					{
						"name": "exception_reason",
						"type": "varchar"
					},
					{
						"name": "cpu_error_reason",
						"type": "varchar"
					},
					{
						"name": "date_error_reason",
						"type": "varchar"
					},
					{
						"name": "pload_error_reason",
						"type": "varchar"
					},
					{
						"name": "source_error_reason",
						"type": "varchar"
					},
					{
						"name": "bw_record_change_flg",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					},
					{
						"name": "azure_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "base_orders"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Calendar_day')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_calendar_day"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Calendar_mth')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_calendar_mth"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Custom_profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_profitcenter_custom"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CUSTOMER_CODE",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME_1",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME_2",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME_3",
						"type": "varchar"
					},
					{
						"name": "PO_BOX",
						"type": "varchar"
					},
					{
						"name": "STREET",
						"type": "varchar"
					},
					{
						"name": "REGION_CODE",
						"type": "varchar"
					},
					{
						"name": "REGION",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "ZIPCODE",
						"type": "varchar"
					},
					{
						"name": "COUNTRY_CODE",
						"type": "varchar"
					},
					{
						"name": "COUNTRY",
						"type": "varchar"
					},
					{
						"name": "ACCT_GRP_CODE",
						"type": "varchar"
					},
					{
						"name": "CONSUMER_FLG",
						"type": "varchar"
					},
					{
						"name": "SALES_ORG_CODE",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_GROUP_CODE",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_GROUP",
						"type": "varchar"
					},
					{
						"name": "TRADE_SECTOR_CODE",
						"type": "varchar"
					},
					{
						"name": "TRADE_SECTOR",
						"type": "varchar"
					},
					{
						"name": "SALES_GROUP_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_ORG",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_CODE_LVL_1",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_CODE_LVL_2",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_CODE_LVL_3",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME1_LVL_1",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME1_LVL_2",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME1_LVL_3",
						"type": "varchar"
					},
					{
						"name": "OMS",
						"type": "varchar"
					},
					{
						"name": "PLANNING_ACCT_GRP_CODE",
						"type": "varchar"
					},
					{
						"name": "HIERARCHY_NBR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PRICE_GROUP_CODE",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_DISTRIB_CHANNEL_CODE",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_SHIPTO_FLG",
						"type": "varchar"
					},
					{
						"name": "SALES_DEPT_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_REGION_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_SECTOR_CODE",
						"type": "varchar"
					},
					{
						"name": "SALES_DEPT",
						"type": "varchar"
					},
					{
						"name": "SALES_REGION",
						"type": "varchar"
					},
					{
						"name": "SALES_SECTOR",
						"type": "varchar"
					},
					{
						"name": "SALES_DELETE_FLG",
						"type": "varchar"
					},
					{
						"name": "CREATED_DATE",
						"type": "date"
					},
					{
						"name": "MODIFIED_DATE",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_customer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Material')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "material_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_division_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "division_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_prod_hier_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_desc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "conv_factor_ton",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_pal",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_scs",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "material_group",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "ean_upc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_id",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "general_item_cat_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "packaging_type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_padded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_val",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "weight_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "volume",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "volume_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "width",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "height",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "item_length",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_unpadded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_status",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc10_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_basic_data_text",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "piece_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_valid_from_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_ship_start_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_list_price_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "unit_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_material_dim"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Material_UOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "material_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_division_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "division_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_prod_hier_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_upc_desc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gbc_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "purpose_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "pack_size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "conv_factor_ton",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_pal",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "conv_factor_scs",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "material_group",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "ean_upc",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_id",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_sub_brand_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_code",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "profit_center_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "apo_planner_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "general_item_cat_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "packaging_type_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_padded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "size_val",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "weight_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "volume",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "volume_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "width",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "height",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "item_length",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pmu_name",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_num_unpadded",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_status",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "cons_upc10_num",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_material_grp",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_basic_data_text",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "piece_container_type",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "sap_base_uom",
						"type": "varchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_valid_from_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_ship_start_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_modified_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_list_price_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "material_sap_created_date",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "case_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "unit_stat_factor",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "case_stat_factor_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_nr",
						"type": "float",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "pieces_per_case_dr",
						"type": "float",
						"precision": 15,
						"scale": 255
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_material_uom_dim"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_orders"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Profitcenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_profit_center"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Staging Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "billing_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_created_date_code",
						"type": "varchar"
					},
					{
						"name": "billing_date_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "dos_planned_pgi_date",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "cost_center_code",
						"type": "varchar"
					},
					{
						"name": "billing_type_code",
						"type": "varchar"
					},
					{
						"name": "billing_category_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "item_type_code",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "unsaleable_ind",
						"type": "varchar"
					},
					{
						"name": "order_item_nbr",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "billed_qty_baseuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_slsuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tax_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "discount_base_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "scale_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "denominator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "numerator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivered_vol_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "open_billing_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_acct",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rebate_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "required_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sku_bill_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_ng_liquid_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_billeditem",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "order_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "sales_deal",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "update_mode",
						"type": "varchar"
					},
					{
						"name": "inv_date_nbr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "doccurr",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_volume",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "changed_date_nbr",
						"type": "varchar"
					},
					{
						"name": "batch_code",
						"type": "varchar"
					},
					{
						"name": "serv_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "proc_status",
						"type": "varchar"
					},
					{
						"name": "rebate_arrangement",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_sc",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_1",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_2",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_3",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_4",
						"type": "varchar"
					},
					{
						"name": "storage_location_code",
						"type": "varchar"
					},
					{
						"name": "material_group_code",
						"type": "varchar"
					},
					{
						"name": "material_num_entered",
						"type": "varchar"
					},
					{
						"name": "material_group_code_1",
						"type": "varchar"
					},
					{
						"name": "material_group_code_2",
						"type": "varchar"
					},
					{
						"name": "material_group_code_3",
						"type": "varchar"
					},
					{
						"name": "material_group_code_4",
						"type": "varchar"
					},
					{
						"name": "material_group_code_5",
						"type": "varchar"
					},
					{
						"name": "dest_country_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "sales_region_code",
						"type": "varchar"
					},
					{
						"name": "bom_high_level_item",
						"type": "varchar"
					},
					{
						"name": "ref_doc_num",
						"type": "varchar"
					},
					{
						"name": "ref_item_num",
						"type": "varchar"
					},
					{
						"name": "delivery_type_code",
						"type": "varchar"
					},
					{
						"name": "qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "doc_count",
						"type": "float",
						"precision": 15
					},
					{
						"name": "posting_stat_bill_doc_code",
						"type": "varchar"
					},
					{
						"name": "billing_status_order",
						"type": "varchar"
					},
					{
						"name": "billing_status",
						"type": "varchar"
					},
					{
						"name": "so_customer_group",
						"type": "varchar"
					},
					{
						"name": "condition_group_2",
						"type": "varchar"
					},
					{
						"name": "condition_group_3",
						"type": "varchar"
					},
					{
						"name": "condition_group_4",
						"type": "varchar"
					},
					{
						"name": "condition_group_5",
						"type": "varchar"
					},
					{
						"name": "so_price_group",
						"type": "varchar"
					},
					{
						"name": "translation_date_code",
						"type": "varchar"
					},
					{
						"name": "src_country_code",
						"type": "varchar"
					},
					{
						"name": "dest_city_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code_1",
						"type": "varchar"
					},
					{
						"name": "posting_period_type",
						"type": "varchar"
					},
					{
						"name": "item",
						"type": "varchar"
					},
					{
						"name": "so_region_code",
						"type": "varchar"
					},
					{
						"name": "transfer_acct_status_code",
						"type": "varchar"
					},
					{
						"name": "so_sales_org_code",
						"type": "varchar"
					},
					{
						"name": "so_distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "material_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "dos_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_dec",
						"type": "float",
						"precision": 15
					},
					{
						"name": "version_code",
						"type": "varchar"
					},
					{
						"name": "value_type_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "sales_emp_code",
						"type": "varchar"
					},
					{
						"name": "posting_period",
						"type": "varchar"
					},
					{
						"name": "military_product_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_country_code",
						"type": "varchar"
					},
					{
						"name": "billto_country_code",
						"type": "varchar"
					},
					{
						"name": "payer_country_code",
						"type": "varchar"
					},
					{
						"name": "carrier_country_code",
						"type": "varchar"
					},
					{
						"name": "representative_country_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "bw_tran_key",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					},
					{
						"name": "invoiced_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "invoiced_net_amt",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_shipments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_etl_audit_log')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Base Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "batch_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Datafactory_Name",
						"type": "varchar"
					},
					{
						"name": "Pipeline_Name",
						"type": "varchar"
					},
					{
						"name": "Activity_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Type",
						"type": "varchar"
					},
					{
						"name": "Destination_Type",
						"type": "varchar"
					},
					{
						"name": "Source_Name",
						"type": "varchar"
					},
					{
						"name": "Target_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Target_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Activity_Start_Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Activity_End_Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Total_time_taken_in_sec",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_inserted",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_updated",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "etl_audit_log"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_etl_audit_log1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW_onprem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDW - Base Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "batch_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Datafactory_Name",
						"type": "varchar"
					},
					{
						"name": "Pipeline_Name",
						"type": "varchar"
					},
					{
						"name": "Activity_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Type",
						"type": "varchar"
					},
					{
						"name": "Destination_Type",
						"type": "varchar"
					},
					{
						"name": "Source_Name",
						"type": "varchar"
					},
					{
						"name": "Target_Name",
						"type": "varchar"
					},
					{
						"name": "Source_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Target_Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Activity_Start_Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Activity_End_Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Total_time_taken_in_sec",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_inserted",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rows_updated",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "etl_audit_log"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Calendar_day_dim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stg_Calendar_day",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dbo.stg_calendar_day",
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage_OnPrem",
									"type": "LinkedServiceReference"
								},
								"path": "matrix-stage/staging_area"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CAL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CAL_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "CAL_DATE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CAL_DATE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DAY_NO",
											"type": "String"
										},
										"sink": {
											"name": "DAY_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MONTH_NO",
											"type": "String"
										},
										"sink": {
											"name": "MONTH_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WEEK_NO",
											"type": "String"
										},
										"sink": {
											"name": "WEEK_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "YEAR_NO",
											"type": "String"
										},
										"sink": {
											"name": "YEAR_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FISCAL_QTR_NO",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_QTR_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_QTR_NO",
											"type": "String"
										},
										"sink": {
											"name": "CAL_QTR_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WK_CD",
											"type": "String"
										},
										"sink": {
											"name": "WK_CD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WK_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "WK_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "WK_STRT_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "WK_STRT_DT",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "WK_END_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "WK_END_DT",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "FISCAL_MNTH_CD",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_MNTH_CD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_MNTH_DESC",
											"type": "String"
										},
										"sink": {
											"name": "CAL_MNTH_DESC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MNTH_STRT_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "MNTH_STRT_DT",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "MNTH_END_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "MNTH_END_DT",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "MNTH_TIMESPN",
											"type": "Double"
										},
										"sink": {
											"name": "MNTH_TIMESPN",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "FISCAL_QTR_CD",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_QTR_CD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QTR_STRT_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "QTR_STRT_DT",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "QTR_END_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "QTR_END_DT",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "FISCAL_YR_CD",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_YR_CD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_DATE_YYYYMMDD",
											"type": "String"
										},
										"sink": {
											"name": "CAL_DATE_YYYYMMDD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_DATE_MMDDYYYY",
											"type": "String"
										},
										"sink": {
											"name": "CAL_DATE_MMDDYYYY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_MNTH_YYYYMM",
											"type": "String"
										},
										"sink": {
											"name": "CAL_MNTH_YYYYMM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_MNTH_MMYYYY",
											"type": "String"
										},
										"sink": {
											"name": "CAL_MNTH_MMYYYY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WK_STRT_DT_MMDDYYYY",
											"type": "String"
										},
										"sink": {
											"name": "WK_STRT_DT_MMDDYYYY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WK_END_DT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "WK_END_DT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_MNTH_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CAL_MNTH_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_MNTH_DESC1",
											"type": "String"
										},
										"sink": {
											"name": "CAL_MNTH_DESC1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MNTH_END_DT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "MNTH_END_DT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_MONTH",
											"type": "String"
										},
										"sink": {
											"name": "CAL_MONTH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FISCAL_QTR_DESC",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_QTR_DESC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FISCAL_QTR_DESC_YYYYQQ",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_QTR_DESC_YYYYQQ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WEEK_DESC",
											"type": "String"
										},
										"sink": {
											"name": "WEEK_DESC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LYR_CAL_MONTH",
											"type": "String"
										},
										"sink": {
											"name": "LYR_CAL_MONTH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LYR_FISCAL_CD",
											"type": "String"
										},
										"sink": {
											"name": "LYR_FISCAL_CD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "CAL_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PREV_DAY_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "PREV_DAY_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "MNTH_STRT_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "MNTH_STRT_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "FISCAL_YR_STRT_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "FISCAL_YR_STRT_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_FISCAL_YR_STRT_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_FISCAL_YR_STRT_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_FISCAL_YR_END_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_FISCAL_YR_END_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_MNTH_STRT_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_MNTH_STRT_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_MNTH_END_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_MNTH_END_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PRIOR_52WK_BEGIN_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "PRIOR_52WK_BEGIN_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PRIOR_3MTH_BEGIN_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "PRIOR_3MTH_BEGIN_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PRIOR_12MTH_BEGIN_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "PRIOR_12MTH_BEGIN_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_PRIOR_52WK_BEGIN_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_PRIOR_52WK_BEGIN_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_PRIOR_3MTH_BEGIN_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_PRIOR_3MTH_BEGIN_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_PRIOR_12MTH_BEGIN_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_PRIOR_12MTH_BEGIN_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "NXTYR_MNTH_END_DT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "NXTYR_MNTH_END_DT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FISCAL_QTR_END_DT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_QTR_END_DT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FISCAL_YR_END_DT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "FISCAL_YR_END_DT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAL_WEEK",
											"type": "String"
										},
										"sink": {
											"name": "CAL_WEEK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QTR_STRT_DT_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "QTR_STRT_DT_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "QTR_END_DT_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "QTR_END_DT_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_QTR_STRT_DT_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_QTR_STRT_DT_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_QTR_END_DT_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_QTR_END_DT_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "DAY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "DAY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRIOR_WK_END_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "PRIOR_WK_END_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PRIOR_MNTH_END_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "PRIOR_MNTH_END_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_PRIOR_WK_END_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_PRIOR_WK_END_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LYR_PRIOR_MNTH_END_DATE_NBR",
											"type": "Double"
										},
										"sink": {
											"name": "LYR_PRIOR_MNTH_END_DATE_NBR",
											"type": "Single",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_BW_D_Fiscal_cal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Calendar_day",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SPRC_Internal_Dim_Calendar_day",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stg_Calendar_day",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SPRC_Internal_Dim_Calendar_day]",
							"storedProcedureParameters": {
								"start_date": {
									"value": null,
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLDW_onprem",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Src_to_Target_Lookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SPRC_Internal_Dim_Calendar_day",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select Source_count as Source_Count, Target_Count from dbo.etl_audit_log where batch_id = (select max(batch_id)\nfrom dbo.etl_audit_log where Activity_Name = 'SPRC_Internal_Dim_Calendar_day') ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Table_SQLDW_etl_audit_log1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Check for Src to Tgt match",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Src_to_Target_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Src_to_Target_Lookup').output.firstRow.Source_Count,activity('Src_to_Target_Lookup').output.firstRow.Target_Count)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "AT_WEB_ProfitCenter_Dim_Load_Error",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-74.eastus.logic.azure.com:443/workflows/fcdadf6c1fd24df49ca9c84e067a3de9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lPUHEE7BF3jMUorm7pk5jSUxYCGZun5GwDA9oNLOwNc",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"DataFactoryName": "@{pipeline().DataFactory}",
											"Status": "Failed",
											"Env": "Dev",
											"PipelineName": "@{pipeline().Pipeline}",
											"EmailTo": "abhijeet.kumar@bridgei2i.com;ravishankar.m@bridgei2i.com;kalyani.Pernapati@clorox.com",
											"MessageBody1": "Hi All,",
											"MessageBody2": "This is an email notification generated from Azure Data Factory for data ingestion in Calendar Day dim (dbo.calendar_day_dim) table.",
											"MessageBody3": "Please find below the pipeline execution details:",
											"MessageBody4": "Please login to Azure Portal (https://portal.azure.com) to view the pipeline run.",
											"MessageBody5": " - Thanks"
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Clorox - Dimensions/Clorox Internal Dim"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Table_SQLDW_Staging_Calendar_day')]",
				"[concat(variables('factoryId'), '/datasets/Table_SQLDW_etl_audit_log1')]"
			]
		}
	]
}