clxdev-adf-matrix/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "clxdev-adf-matrix"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobStorage_OnPrem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage_OnPrem'"
		},
		"AzureSQLDW_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSQLDW'"
		},
		"KP_Oracle_IDR_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'KP_Oracle_IDR'"
		},
		"Oracle_IDR_Dev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle_IDR_Dev'"
		},
		"Load_IDR_Shipments_Weekly_Schedule_properties_Load IDR Shipments_parameters_IDR_Load_Date": {
			"type": "string",
			"defaultValue": "20200404"
		},
		"clxdev-az-ir-linked_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/681c9400-3073-469f-b0ec-57006f831469/resourcegroups/CLX_MATRIX_POC_RG/providers/Microsoft.DataFactory/factories/clxdev-adf-sandbox/integrationruntimes/clxdev-az-ir"
		},
		"clxdev-onprem-ir-linked_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/681c9400-3073-469f-b0ec-57006f831469/resourcegroups/CLX_MATRIX_POC_RG/providers/Microsoft.DataFactory/factories/clxdev-adf-sandbox/integrationruntimes/clxdev-onprem-ir"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load IDR Orders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IDR To Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Load Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select * from\n(select *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date} \nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand billto_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%WAL-MART%')\nunion\nselect *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd')  > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%DOLLAR GENERAL CORP%')\nunion\nselect *\nfrom clxbw.apo_bw_b_order\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%KROGER%')) \n",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load SQLDW Target",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load SQLDW Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT [ord_created_date_code]\n      ,[so_doc_nbr]\n      ,[ord_line_item_nbr]\n      ,[profit_center_code]\n      ,[ctrl_area_code]\n      ,[shippingpoint_code]\n      ,[fiscal_yr_variant_code]\n      ,[ord_hdr_created_date_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[broker_customer_code]\n      ,[material_num]\n      ,[military_material_num]\n      ,[sap_upc_num]\n      ,[sales_division_code]\n      ,[sales_district_code]\n      ,[doc_class_code]\n      ,[sd_doc_category_code]\n      ,[so_doc_type]\n      ,[item_category_code]\n      ,[ord_planned_gi_date_code]\n      ,[planned_gi_date_code]\n      ,[delivery_planned_gi_date_code]\n      ,[mat_available_date_code]\n      ,[actual_gi_date_code]\n      ,[po_doc_nbr]\n      ,[acct_assignment_grp_code]\n      ,[company_code]\n      ,[ship_from_plant_code]\n      ,[sales_group_code]\n      ,[oms]\n      ,[shipping_type_code]\n      ,[shipping_condition_code]\n      ,[forwarding_agent]\n      ,[division_code]\n      ,[distrib_channel_code]\n      ,[billing_block_code]\n      ,[delivery_block_code]\n      ,[clx_po_type]\n      ,[ship_date_code]\n      ,[customer_requested_date_code]\n      ,[bracket_price_override_code]\n      ,[expected_price_status_code]\n      ,[stats_update_date_code]\n      ,[multiple_order]\n      ,[delivery_nbr]\n      ,[ord_qty]\n      ,[number_of_doc_items]\n      ,[actual_delivery_qty]\n      ,[delivery_qty]\n      ,[ord_qty_purchase_uom]\n      ,[bw_ord_qty_ng]\n      ,[bw_ord_qty_liquidation]\n      ,[bw_dos_ord_qty]\n      ,[bw_ord_qty]\n      ,[bw_ord_ac_qty]\n      ,[cml_cf_qty]\n      ,[cml_cd_qty]\n      ,[cml_order_qty]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[net_ord_amt_stcurr]\n      ,[cost_amt_stcurr]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_decs]\n      ,[ord_qty_eaches]\n      ,[ord_qty_sc]\n      ,[ord_qty_cs]\n      ,[gi_date]\n      ,[actual_gi_date]\n      ,[dos_pgi_date_code]\n      ,[uom_base]\n      ,[uom_sales]\n      ,[uom]\n      ,[uom_scs]\n      ,[uom_pal]\n      ,[uom_lay]\n      ,[no_of_employees]\n      ,[stcurr]\n      ,[substitution_reason]\n      ,[rejection_status_code]\n      ,[exception_responsible_code]\n      ,[equip_type_code]\n      ,[edi_customer_nbr]\n      ,[created_by]\n      ,[sales_deal_nbr]\n      ,[acknowledged_date_code]\n      ,[cancel_by_rqst_arr_date_code]\n      ,[cancel_by_rqst_ship_date_code]\n      ,[conversion_date_code]\n      ,[declined_date_code]\n      ,[pricing_date_code]\n      ,[service_rendered_date_code]\n      ,[quote_valid_to_date_code]\n      ,[last_action_date_code]\n      ,[not_before_rqst_arr_date_code]\n      ,[not_before_rqst_ship_date_code]\n      ,[quote_valid_from_date_code]\n      ,[created_time]\n      ,[uom_weight]\n      ,[pooling_eligibility]\n      ,[pick_method_code]\n      ,[gross_weight]\n      ,[no_of_cases_per_pallet]\n      ,[no_of_cases_per_layer]\n      ,[customer_lead_time]\n      ,[no_of_layers_per_pallet]\n      ,[loose_pick_rate_cs]\n      ,[loose_pick_qty_cs]\n      ,[loose_pick_cost_cs]\n      ,[loose_pick_rate_lay]\n      ,[pick_qty_lay]\n      ,[broker_layers_picked]\n      ,[loose_pick_cost_lay]\n      ,[loose_lay_pick_qty_cs]\n      ,[currency_code]\n      ,[ref_doc_nbr]\n      ,[ref_item_nbr]\n      ,[division_header_code]\n      ,[sd_ref_doc_category]\n      ,[org_lead_time_error_code]\n      ,[expected_price_error_code]\n      ,[multiple_order_error_code]\n      ,[material_reason_error_code]\n      ,[lead_time_error_code]\n      ,[sales_office]\n      ,[sales_employee]\n      ,[io_status_code]\n      ,[credit_debit_flg]\n      ,[cpu_error_flg]\n      ,[date_error_flg]\n      ,[duplicate_po_error_flg]\n      ,[pload_error_flg]\n      ,[src_error_flg]\n      ,[manual_price_date_flg]\n      ,[rounding_occurred_flg]\n      ,[mat_error_flg]\n      ,[multiple_ord_flg]\n      ,[cpu_rate_error_flg]\n      ,[cts_header_indicator_flg]\n      ,[lead_time_compliance_flg]\n      ,[lt_comply_no_so_flg]\n      ,[ord_items_flg]\n      ,[ord_reason]\n      ,[rejection_reason]\n      ,[material_reason]\n      ,[exception_reason]\n      ,[cpu_error_reason]\n      ,[date_error_reason]\n      ,[pload_error_reason]\n      ,[source_error_reason]\n      ,[bw_record_change_flg]\n      ,[idr_load_date]\n\t  ,CONVERT (date, SYSDATETIME()) as azure_load_date\n  FROM [dbo].[stg_litter_orders]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Base_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Failure Alert - 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Copy_IDR_Litter_Shipments_Storage",
								"ErrorMessage": {
									"value": "@activity('IDR To Storage').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Failure Alert - 3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Target",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Load SQLDW Target",
								"ErrorMessage": {
									"value": "@activity('Load SQLDW Target').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Pipeline Success Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Target",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on success",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"Subject": "ADF pipeline Load IDR Orders finished successfully",
								"DataFactoryName": "ADF",
								"PipelineName": "Load IDR Orders",
								"Activity": "Load SQLDW Target",
								"ErrorMessage": "No errors"
							}
						}
					},
					{
						"name": "Get Last Load Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_litter_orders",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Table_SQLDW_Base_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Load SQLDW Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dbo.stg_litter_orders",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "ord_created_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "so_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "ord_line_item_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "profit_center_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "ctrl_area_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "shippingpoint_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "fiscal_yr_variant_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "ord_hdr_created_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "planned_pgi_date_yyyymm",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "billto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "shipto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "soldto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "payer_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "broker_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "material_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "military_material_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "sap_upc_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "sales_division_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "sales_district_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "doc_class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "sd_doc_category_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "so_doc_type",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "item_category_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "ord_planned_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "planned_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "delivery_planned_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "mat_available_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "actual_gi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "po_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "acct_assignment_grp_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "company_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 32
										},
										"sink": {
											"name": "ship_from_plant_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 33
										},
										"sink": {
											"name": "sales_group_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 34
										},
										"sink": {
											"name": "oms",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 35
										},
										"sink": {
											"name": "shipping_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 36
										},
										"sink": {
											"name": "shipping_condition_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 37
										},
										"sink": {
											"name": "forwarding_agent",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 38
										},
										"sink": {
											"name": "division_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 39
										},
										"sink": {
											"name": "distrib_channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 40
										},
										"sink": {
											"name": "billing_block_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 41
										},
										"sink": {
											"name": "delivery_block_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 42
										},
										"sink": {
											"name": "clx_po_type",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 43
										},
										"sink": {
											"name": "ship_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 44
										},
										"sink": {
											"name": "customer_requested_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 45
										},
										"sink": {
											"name": "bracket_price_override_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 46
										},
										"sink": {
											"name": "expected_price_status_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 47
										},
										"sink": {
											"name": "stats_update_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 48
										},
										"sink": {
											"name": "multiple_order",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 49
										},
										"sink": {
											"name": "delivery_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 50
										},
										"sink": {
											"name": "ord_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 51
										},
										"sink": {
											"name": "number_of_doc_items",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 52
										},
										"sink": {
											"name": "actual_delivery_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 53
										},
										"sink": {
											"name": "delivery_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 54
										},
										"sink": {
											"name": "ord_qty_purchase_uom",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 55
										},
										"sink": {
											"name": "bw_ord_qty_ng",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 56
										},
										"sink": {
											"name": "bw_ord_qty_liquidation",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 57
										},
										"sink": {
											"name": "bw_dos_ord_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 58
										},
										"sink": {
											"name": "bw_ord_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 59
										},
										"sink": {
											"name": "bw_ord_ac_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 60
										},
										"sink": {
											"name": "cml_cf_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 61
										},
										"sink": {
											"name": "cml_cd_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 62
										},
										"sink": {
											"name": "cml_order_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 63
										},
										"sink": {
											"name": "netprc_exoffinvdisc_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 64
										},
										"sink": {
											"name": "offinvdisc_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 65
										},
										"sink": {
											"name": "netval_discsurchrg_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 66
										},
										"sink": {
											"name": "unsaleable_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 67
										},
										"sink": {
											"name": "customer_expected_price_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 68
										},
										"sink": {
											"name": "broker_comm_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 69
										},
										"sink": {
											"name": "net_ord_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 70
										},
										"sink": {
											"name": "cost_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 71
										},
										"sink": {
											"name": "gross_weight_kg",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 72
										},
										"sink": {
											"name": "net_weight_kg",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 73
										},
										"sink": {
											"name": "volume_cubic_decs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 74
										},
										"sink": {
											"name": "ord_qty_eaches",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 75
										},
										"sink": {
											"name": "ord_qty_sc",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 76
										},
										"sink": {
											"name": "ord_qty_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 77
										},
										"sink": {
											"name": "gi_date",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 78
										},
										"sink": {
											"name": "actual_gi_date",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 79
										},
										"sink": {
											"name": "dos_pgi_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 80
										},
										"sink": {
											"name": "uom_base",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 81
										},
										"sink": {
											"name": "uom_sales",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 82
										},
										"sink": {
											"name": "uom",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 83
										},
										"sink": {
											"name": "uom_scs",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 84
										},
										"sink": {
											"name": "uom_pal",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 85
										},
										"sink": {
											"name": "uom_lay",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 86
										},
										"sink": {
											"name": "no_of_employees",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 87
										},
										"sink": {
											"name": "stcurr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 88
										},
										"sink": {
											"name": "substitution_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 89
										},
										"sink": {
											"name": "rejection_status_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 90
										},
										"sink": {
											"name": "exception_responsible_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 91
										},
										"sink": {
											"name": "equip_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 92
										},
										"sink": {
											"name": "edi_customer_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 93
										},
										"sink": {
											"name": "created_by",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 94
										},
										"sink": {
											"name": "sales_deal_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 95
										},
										"sink": {
											"name": "acknowledged_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 96
										},
										"sink": {
											"name": "cancel_by_rqst_arr_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 97
										},
										"sink": {
											"name": "cancel_by_rqst_ship_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 98
										},
										"sink": {
											"name": "conversion_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 99
										},
										"sink": {
											"name": "declined_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 100
										},
										"sink": {
											"name": "pricing_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 101
										},
										"sink": {
											"name": "service_rendered_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 102
										},
										"sink": {
											"name": "quote_valid_to_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 103
										},
										"sink": {
											"name": "last_action_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 104
										},
										"sink": {
											"name": "not_before_rqst_arr_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 105
										},
										"sink": {
											"name": "not_before_rqst_ship_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 106
										},
										"sink": {
											"name": "quote_valid_from_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 107
										},
										"sink": {
											"name": "created_time",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 108
										},
										"sink": {
											"name": "uom_weight",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 109
										},
										"sink": {
											"name": "pooling_eligibility",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 110
										},
										"sink": {
											"name": "pick_method_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 111
										},
										"sink": {
											"name": "gross_weight",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 112
										},
										"sink": {
											"name": "no_of_cases_per_pallet",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 113
										},
										"sink": {
											"name": "no_of_cases_per_layer",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 114
										},
										"sink": {
											"name": "customer_lead_time",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 115
										},
										"sink": {
											"name": "no_of_layers_per_pallet",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 116
										},
										"sink": {
											"name": "loose_pick_rate_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 117
										},
										"sink": {
											"name": "loose_pick_qty_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 118
										},
										"sink": {
											"name": "loose_pick_cost_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 119
										},
										"sink": {
											"name": "loose_pick_rate_lay",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 120
										},
										"sink": {
											"name": "pick_qty_lay",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 121
										},
										"sink": {
											"name": "broker_layers_picked",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 122
										},
										"sink": {
											"name": "loose_pick_cost_lay",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 123
										},
										"sink": {
											"name": "loose_lay_pick_qty_cs",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 124
										},
										"sink": {
											"name": "currency_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 125
										},
										"sink": {
											"name": "ref_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 126
										},
										"sink": {
											"name": "ref_item_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 127
										},
										"sink": {
											"name": "division_header_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 128
										},
										"sink": {
											"name": "sd_ref_doc_category",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 129
										},
										"sink": {
											"name": "org_lead_time_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 130
										},
										"sink": {
											"name": "expected_price_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 131
										},
										"sink": {
											"name": "multiple_order_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 132
										},
										"sink": {
											"name": "material_reason_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 133
										},
										"sink": {
											"name": "lead_time_error_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 134
										},
										"sink": {
											"name": "sales_office",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 135
										},
										"sink": {
											"name": "sales_employee",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 136
										},
										"sink": {
											"name": "io_status_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 137
										},
										"sink": {
											"name": "credit_debit_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 138
										},
										"sink": {
											"name": "cpu_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 139
										},
										"sink": {
											"name": "date_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 140
										},
										"sink": {
											"name": "duplicate_po_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 141
										},
										"sink": {
											"name": "pload_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 142
										},
										"sink": {
											"name": "src_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 143
										},
										"sink": {
											"name": "manual_price_date_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 144
										},
										"sink": {
											"name": "rounding_occurred_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 145
										},
										"sink": {
											"name": "mat_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 146
										},
										"sink": {
											"name": "multiple_ord_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 147
										},
										"sink": {
											"name": "cpu_rate_error_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 148
										},
										"sink": {
											"name": "cts_header_indicator_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 149
										},
										"sink": {
											"name": "lead_time_compliance_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 150
										},
										"sink": {
											"name": "lt_comply_no_so_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 151
										},
										"sink": {
											"name": "ord_items_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 152
										},
										"sink": {
											"name": "ord_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 153
										},
										"sink": {
											"name": "rejection_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 154
										},
										"sink": {
											"name": "material_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 155
										},
										"sink": {
											"name": "exception_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 156
										},
										"sink": {
											"name": "cpu_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 157
										},
										"sink": {
											"name": "date_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 158
										},
										"sink": {
											"name": "pload_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 159
										},
										"sink": {
											"name": "source_error_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 160
										},
										"sink": {
											"name": "bw_record_change_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 161
										},
										"sink": {
											"name": "idr_load_date",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Litter_Orders_AZ",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Litter_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Failure Alert - 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Staging",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"Subject": "Azure DF error",
								"DataFactoryName": "DF",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Load SQLDW Staging",
								"ErrorMessage": {
									"value": "@activity('Load SQLDW Staging').Error.Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"IDR_Load_Date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Table_Oracle_IDR_Orders')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Incremental_IDR_Litter_Orders')]",
				"[concat(variables('factoryId'), '/datasets/Table_SQLDW_Staging_Litter_Orders')]",
				"[concat(variables('factoryId'), '/datasets/Table_SQLDW_Base_Litter_Orders')]",
				"[concat(variables('factoryId'), '/pipelines/Send email on failure')]",
				"[concat(variables('factoryId'), '/pipelines/Send email on success')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Incremental_IDR_Litter_Orders_AZ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load IDR Shipments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IDR To Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Load Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select * from\n(select *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date} \nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand billto_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%WAL-MART%')\nunion\nselect *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd')  > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%DOLLAR GENERAL CORP%')\nunion\nselect *\nfrom clxbw.apo_bw_b_billing\nwhere to_char(load_date,'yyyymmdd') > @{activity('Get Last Load Date').output.firstRow.max_idr_load_date}\nand material_num in (select material_num from clxbw.apo_bw_d_material where division_name like '%Litter%')\nand payer_customer_code in (select customer_code from clxbw.apo_bw_d_customer where customer_name_1 like '%KROGER%'))\n",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_Oracle_IDR_Shipments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Litter_Shipments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load SQLDW Target",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load SQLDW Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT [billing_doc_nbr]\n      ,[billing_line_item_nbr]\n      ,[billing_created_date_code]\n      ,[billing_date_code]\n      ,[material_num]\n      ,[sap_upc_num]\n      ,[shippingpoint_code]\n      ,[soldto_customer_code]\n      ,[payer_customer_code]\n      ,[billto_customer_code]\n      ,[shipto_customer_code]\n      ,[broker_customer_code]\n      ,[so_doc_nbr]\n      ,[po_doc_nbr]\n      ,[profit_center_code]\n      ,[distrib_channel_code]\n      ,[oms]\n      ,[ship_from_plant_code]\n      ,[planned_pgi_date_yyyymm]\n      ,[dos_planned_pgi_date]\n      ,[doc_class_code]\n      ,[clx_po_type]\n      ,[ctrl_area_code]\n      ,[fiscal_yr_variant_code]\n      ,[cost_center_code]\n      ,[billing_type_code]\n      ,[billing_category_code]\n      ,[sd_doc_category_code]\n      ,[item_type_code]\n      ,[item_category_code]\n      ,[unsaleable_ind]\n      ,[order_item_nbr]\n      ,[company_code]\n      ,[division_code]\n      ,[sales_group_code]\n      ,[so_doc_type]\n      ,[billed_qty_baseuom]\n      ,[billed_qty_sc]\n      ,[billed_qty_slsuom]\n      ,[billed_qty]\n      ,[exchange_rate]\n      ,[tax_amt]\n      ,[discount_base_amt]\n      ,[scale_qty]\n      ,[denominator]\n      ,[numerator]\n      ,[delivered_vol_qty]\n      ,[cost_amt]\n      ,[net_ship_amt]\n      ,[exchange_rate_stcurr]\n      ,[gross_ship_amt]\n      ,[cost_amt_stcurr]\n      ,[open_billing_qty]\n      ,[exchange_rate_acct]\n      ,[net_ship_amt_stcurr]\n      ,[rebate_amt]\n      ,[gross_weight]\n      ,[required_qty]\n      ,[net_weight]\n      ,[netprc_exoffinvdisc_amt_stcurr]\n      ,[offinvdisc_amt_stcurr]\n      ,[netval_discsurchrg_amt_stcurr]\n      ,[unsaleable_amt_stcurr]\n      ,[customer_expected_price_stcurr]\n      ,[broker_comm_amt_stcurr]\n      ,[netprc_exoffinvdisc_amt]\n      ,[offinvdisc_amt]\n      ,[netval_discsurchrg_amt]\n      ,[unsaleable_amt]\n      ,[customer_expected_price]\n      ,[broker_comm_amt]\n      ,[sku_bill_qty]\n      ,[dos_qty_sc]\n      ,[dos_ng_liquid_qty]\n      ,[number_of_billeditem]\n      ,[sales_office]\n      ,[order_reason]\n      ,[rejection_reason]\n      ,[sales_deal]\n      ,[shipping_condition_code]\n      ,[update_mode]\n      ,[inv_date_nbr]\n      ,[stcurr]\n      ,[doccurr]\n      ,[uom_weight]\n      ,[uom_sales]\n      ,[uom_base]\n      ,[uom_volume]\n      ,[uom]\n      ,[changed_date_nbr]\n      ,[batch_code]\n      ,[serv_rendered_date_code]\n      ,[proc_status]\n      ,[rebate_arrangement]\n      ,[uom_lay]\n      ,[uom_pal]\n      ,[uom_sc]\n      ,[shipping_type_code]\n      ,[acct_assignment_grp_code]\n      ,[customer_group_code_1]\n      ,[customer_group_code_2]\n      ,[customer_group_code_3]\n      ,[customer_group_code_4]\n      ,[storage_location_code]\n      ,[material_group_code]\n      ,[material_num_entered]\n      ,[material_group_code_1]\n      ,[material_group_code_2]\n      ,[material_group_code_3]\n      ,[material_group_code_4]\n      ,[material_group_code_5]\n      ,[dest_country_code]\n      ,[pricing_date_code]\n      ,[sales_region_code]\n      ,[bom_high_level_item]\n      ,[ref_doc_num]\n      ,[ref_item_num]\n      ,[delivery_type_code]\n      ,[qty_eaches]\n      ,[doc_count]\n      ,[posting_stat_bill_doc_code]\n      ,[billing_status_order]\n      ,[billing_status]\n      ,[so_customer_group]\n      ,[condition_group_2]\n      ,[condition_group_3]\n      ,[condition_group_4]\n      ,[condition_group_5]\n      ,[so_price_group]\n      ,[translation_date_code]\n      ,[src_country_code]\n      ,[dest_city_code]\n      ,[soldto_customer_code_1]\n      ,[posting_period_type]\n      ,[item]\n      ,[so_region_code]\n      ,[transfer_acct_status_code]\n      ,[so_sales_org_code]\n      ,[so_distrib_channel_code]\n      ,[material_plant_code]\n      ,[sales_division_code]\n      ,[dos_qty]\n      ,[billed_qty_purchase_uom]\n      ,[number_of_doc]\n      ,[number_of_doc_items]\n      ,[gross_weight_kg]\n      ,[net_weight_kg]\n      ,[volume_cubic_dec]\n      ,[version_code]\n      ,[value_type_code]\n      ,[credit_debit_flg]\n      ,[sales_district_code]\n      ,[sales_emp_code]\n      ,[posting_period]\n      ,[military_product_code]\n      ,[edi_customer_code]\n      ,[soldto_country_code]\n      ,[billto_country_code]\n      ,[payer_country_code]\n      ,[carrier_country_code]\n      ,[representative_country_code]\n      ,[conversion_date_code]\n      ,[stats_date_code]\n      ,[stats_update_date_code]\n      ,[forwarding_agent]\n      ,[bw_tran_key]\n      ,[idr_load_date]\n      ,[invoiced_qty]\n      ,[invoiced_net_amt]\n\t  ,CONVERT (date, SYSDATETIME()) as azure_load_date\n  FROM [dbo].[stg_litter_shipments];",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Litter_Shipments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Base_Litter_Shipments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Failure Alert - 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Copy_IDR_Litter_Shipments_Storage",
								"ErrorMessage": {
									"value": "@activity('IDR To Storage').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Failure Alert - 3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Target",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Load SQLDW Target",
								"ErrorMessage": {
									"value": "@activity('Load SQLDW Target').Error.Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Pipeline Success Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Target",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on success",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"Subject": "ADF pipeline Load IDR Litter Shipments finished successfully",
								"DataFactoryName": "ADF",
								"PipelineName": "Load IDR Litter Shipments",
								"Activity": "Load IDR Litter Shipments",
								"ErrorMessage": "No errors"
							}
						}
					},
					{
						"name": "Get Last Load Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "select CONVERT(VARCHAR(10), max(idr_load_date), 112)  as max_idr_load_date from base_litter_shipments",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Table_SQLDW_Base_Litter_Shipments",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Load SQLDW Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IDR To Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dbo.stg_litter_shipments",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "billing_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "billing_line_item_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "billing_created_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "billing_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "material_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "sap_upc_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "shippingpoint_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "soldto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "payer_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "billto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "shipto_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "broker_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "so_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "po_doc_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "profit_center_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "distrib_channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "oms",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "ship_from_plant_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "planned_pgi_date_yyyymm",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "dos_planned_pgi_date",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "doc_class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "clx_po_type",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "ctrl_area_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "fiscal_yr_variant_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "cost_center_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "billing_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "billing_category_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "sd_doc_category_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "item_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "item_category_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "unsaleable_ind",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 32
										},
										"sink": {
											"name": "order_item_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 33
										},
										"sink": {
											"name": "company_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 34
										},
										"sink": {
											"name": "division_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 35
										},
										"sink": {
											"name": "sales_group_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 36
										},
										"sink": {
											"name": "so_doc_type",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 37
										},
										"sink": {
											"name": "billed_qty_baseuom",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 38
										},
										"sink": {
											"name": "billed_qty_sc",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 39
										},
										"sink": {
											"name": "billed_qty_slsuom",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 40
										},
										"sink": {
											"name": "billed_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 41
										},
										"sink": {
											"name": "exchange_rate",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 42
										},
										"sink": {
											"name": "tax_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 43
										},
										"sink": {
											"name": "discount_base_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 44
										},
										"sink": {
											"name": "scale_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 45
										},
										"sink": {
											"name": "denominator",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 46
										},
										"sink": {
											"name": "numerator",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 47
										},
										"sink": {
											"name": "delivered_vol_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 48
										},
										"sink": {
											"name": "cost_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 49
										},
										"sink": {
											"name": "net_ship_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 50
										},
										"sink": {
											"name": "exchange_rate_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 51
										},
										"sink": {
											"name": "gross_ship_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 52
										},
										"sink": {
											"name": "cost_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 53
										},
										"sink": {
											"name": "open_billing_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 54
										},
										"sink": {
											"name": "exchange_rate_acct",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 55
										},
										"sink": {
											"name": "net_ship_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 56
										},
										"sink": {
											"name": "rebate_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 57
										},
										"sink": {
											"name": "gross_weight",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 58
										},
										"sink": {
											"name": "required_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 59
										},
										"sink": {
											"name": "net_weight",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 60
										},
										"sink": {
											"name": "netprc_exoffinvdisc_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 61
										},
										"sink": {
											"name": "offinvdisc_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 62
										},
										"sink": {
											"name": "netval_discsurchrg_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 63
										},
										"sink": {
											"name": "unsaleable_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 64
										},
										"sink": {
											"name": "customer_expected_price_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 65
										},
										"sink": {
											"name": "broker_comm_amt_stcurr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 66
										},
										"sink": {
											"name": "netprc_exoffinvdisc_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 67
										},
										"sink": {
											"name": "offinvdisc_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 68
										},
										"sink": {
											"name": "netval_discsurchrg_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 69
										},
										"sink": {
											"name": "unsaleable_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 70
										},
										"sink": {
											"name": "customer_expected_price",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 71
										},
										"sink": {
											"name": "broker_comm_amt",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 72
										},
										"sink": {
											"name": "sku_bill_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 73
										},
										"sink": {
											"name": "dos_qty_sc",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 74
										},
										"sink": {
											"name": "dos_ng_liquid_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 75
										},
										"sink": {
											"name": "number_of_billeditem",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 76
										},
										"sink": {
											"name": "sales_office",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 77
										},
										"sink": {
											"name": "order_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 78
										},
										"sink": {
											"name": "rejection_reason",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 79
										},
										"sink": {
											"name": "sales_deal",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 80
										},
										"sink": {
											"name": "shipping_condition_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 81
										},
										"sink": {
											"name": "update_mode",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 82
										},
										"sink": {
											"name": "inv_date_nbr",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 83
										},
										"sink": {
											"name": "stcurr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 84
										},
										"sink": {
											"name": "doccurr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 85
										},
										"sink": {
											"name": "uom_weight",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 86
										},
										"sink": {
											"name": "uom_sales",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 87
										},
										"sink": {
											"name": "uom_base",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 88
										},
										"sink": {
											"name": "uom_volume",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 89
										},
										"sink": {
											"name": "uom",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 90
										},
										"sink": {
											"name": "changed_date_nbr",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 91
										},
										"sink": {
											"name": "batch_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 92
										},
										"sink": {
											"name": "serv_rendered_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 93
										},
										"sink": {
											"name": "proc_status",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 94
										},
										"sink": {
											"name": "rebate_arrangement",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 95
										},
										"sink": {
											"name": "uom_lay",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 96
										},
										"sink": {
											"name": "uom_pal",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 97
										},
										"sink": {
											"name": "uom_sc",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 98
										},
										"sink": {
											"name": "shipping_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 99
										},
										"sink": {
											"name": "acct_assignment_grp_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 100
										},
										"sink": {
											"name": "customer_group_code_1",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 101
										},
										"sink": {
											"name": "customer_group_code_2",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 102
										},
										"sink": {
											"name": "customer_group_code_3",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 103
										},
										"sink": {
											"name": "customer_group_code_4",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 104
										},
										"sink": {
											"name": "storage_location_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 105
										},
										"sink": {
											"name": "material_group_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 106
										},
										"sink": {
											"name": "material_num_entered",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 107
										},
										"sink": {
											"name": "material_group_code_1",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 108
										},
										"sink": {
											"name": "material_group_code_2",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 109
										},
										"sink": {
											"name": "material_group_code_3",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 110
										},
										"sink": {
											"name": "material_group_code_4",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 111
										},
										"sink": {
											"name": "material_group_code_5",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 112
										},
										"sink": {
											"name": "dest_country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 113
										},
										"sink": {
											"name": "pricing_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 114
										},
										"sink": {
											"name": "sales_region_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 115
										},
										"sink": {
											"name": "bom_high_level_item",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 116
										},
										"sink": {
											"name": "ref_doc_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 117
										},
										"sink": {
											"name": "ref_item_num",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 118
										},
										"sink": {
											"name": "delivery_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 119
										},
										"sink": {
											"name": "qty_eaches",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 120
										},
										"sink": {
											"name": "doc_count",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 121
										},
										"sink": {
											"name": "posting_stat_bill_doc_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 122
										},
										"sink": {
											"name": "billing_status_order",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 123
										},
										"sink": {
											"name": "billing_status",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 124
										},
										"sink": {
											"name": "so_customer_group",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 125
										},
										"sink": {
											"name": "condition_group_2",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 126
										},
										"sink": {
											"name": "condition_group_3",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 127
										},
										"sink": {
											"name": "condition_group_4",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 128
										},
										"sink": {
											"name": "condition_group_5",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 129
										},
										"sink": {
											"name": "so_price_group",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 130
										},
										"sink": {
											"name": "translation_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 131
										},
										"sink": {
											"name": "src_country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 132
										},
										"sink": {
											"name": "dest_city_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 133
										},
										"sink": {
											"name": "soldto_customer_code_1",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 134
										},
										"sink": {
											"name": "posting_period_type",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 135
										},
										"sink": {
											"name": "item",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 136
										},
										"sink": {
											"name": "so_region_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 137
										},
										"sink": {
											"name": "transfer_acct_status_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 138
										},
										"sink": {
											"name": "so_sales_org_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 139
										},
										"sink": {
											"name": "so_distrib_channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 140
										},
										"sink": {
											"name": "material_plant_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 141
										},
										"sink": {
											"name": "sales_division_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 142
										},
										"sink": {
											"name": "dos_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 143
										},
										"sink": {
											"name": "billed_qty_purchase_uom",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 144
										},
										"sink": {
											"name": "number_of_doc",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 145
										},
										"sink": {
											"name": "number_of_doc_items",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 146
										},
										"sink": {
											"name": "gross_weight_kg",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 147
										},
										"sink": {
											"name": "net_weight_kg",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 148
										},
										"sink": {
											"name": "volume_cubic_dec",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 149
										},
										"sink": {
											"name": "version_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 150
										},
										"sink": {
											"name": "value_type_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 151
										},
										"sink": {
											"name": "credit_debit_flg",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 152
										},
										"sink": {
											"name": "sales_district_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 153
										},
										"sink": {
											"name": "sales_emp_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 154
										},
										"sink": {
											"name": "posting_period",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 155
										},
										"sink": {
											"name": "military_product_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 156
										},
										"sink": {
											"name": "edi_customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 157
										},
										"sink": {
											"name": "soldto_country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 158
										},
										"sink": {
											"name": "billto_country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 159
										},
										"sink": {
											"name": "payer_country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 160
										},
										"sink": {
											"name": "carrier_country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 161
										},
										"sink": {
											"name": "representative_country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 162
										},
										"sink": {
											"name": "conversion_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 163
										},
										"sink": {
											"name": "stats_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 164
										},
										"sink": {
											"name": "stats_update_date_code",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 165
										},
										"sink": {
											"name": "forwarding_agent",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 166
										},
										"sink": {
											"name": "bw_tran_key",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 167
										},
										"sink": {
											"name": "idr_load_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 168
										},
										"sink": {
											"name": "invoiced_qty",
											"type": "Single"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 169
										},
										"sink": {
											"name": "invoiced_net_amt",
											"type": "Single"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_Incremental_IDR_Litter_Shipments_AZ",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Table_SQLDW_Staging_Litter_Shipments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Failure Alert - 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load SQLDW Staging",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "kalyani.pernapati@clorox.com",
								"Subject": "Azure DF error",
								"DataFactoryName": "DF",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Activity": "Load SQLDW Staging",
								"ErrorMessage": {
									"value": "@activity('Load SQLDW Staging').Error.Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"IDR_Load_Date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Table_Oracle_IDR_Shipments')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Incremental_IDR_Litter_Shipments')]",
				"[concat(variables('factoryId'), '/datasets/Table_SQLDW_Staging_Litter_Shipments')]",
				"[concat(variables('factoryId'), '/datasets/Table_SQLDW_Base_Litter_Shipments')]",
				"[concat(variables('factoryId'), '/pipelines/Send email on failure')]",
				"[concat(variables('factoryId'), '/pipelines/Send email on success')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Incremental_IDR_Litter_Shipments_AZ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send email on failure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Reusable pipeline to send email notification on activity failure",
				"activities": [
					{
						"name": "Send email on failure",
						"description": "Reusable pipeline to send email on activity failure",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-52.eastus.logic.azure.com:443/workflows/340940b212b443148e8f64f1bc8c4629/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=FLanyeRqsShkOLVdFi9xNIApJ4fUZa8myiKoAnvDJo0",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"EmailTo\":\"@{pipeline().parameters.EmailTo}\",\n\"Subject\":\"An error has occured in the ADF pipeline\",\n\"DataFactoryName\":\"@{pipeline().parameters.DataFactoryName}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"Activity\":\"@{pipeline().parameters.Activity}\",\n\"ErrorMessage\":\"@{pipeline().parameters.ErrorMessage}\" }",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "kalyani.pernapati@clorox.com"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "Azure DF error"
					},
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "DF"
					},
					"PipelineName": {
						"type": "string",
						"defaultValue": "Send email on Failure"
					},
					"Activity": {
						"type": "string",
						"defaultValue": "Test"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "Test Failed"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send email on success')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Success notification",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": " https://prod-52.eastus.logic.azure.com:443/workflows/340940b212b443148e8f64f1bc8c4629/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=FLanyeRqsShkOLVdFi9xNIApJ4fUZa8myiKoAnvDJo0",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"EmailTo\":\"@{pipeline().parameters.EmailTo}\",\n\"Subject\":\" ADF pipeline finished successfully\",\n\"DataFactoryName\":\"@{pipeline().parameters.DataFactoryName}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"Activity\":\"@{pipeline().parameters.Activity}\",\n\"ErrorMessage\":\"@{pipeline().parameters.ErrorMessage}\" }",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "kalyani.pernapati@clorox.com"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "ADF pipeline Load IDR Orders finished successfully"
					},
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "ADF Matrix"
					},
					"PipelineName": {
						"type": "string",
						"defaultValue": "Load IDR Orders"
					},
					"Activity": {
						"type": "string",
						"defaultValue": "Success notification"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "ADF pipeline finished successfully"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_OnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_orders.csv",
						"folderPath": "orders",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_OnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Orders_AZ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_orders.csv",
						"folderPath": "orders",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_OnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_shipments.csv",
						"folderPath": "shipments",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_OnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Incremental_IDR_Litter_Shipments_AZ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "incremental_idr_litter_shipments.csv",
						"folderPath": "shipments",
						"container": "matrix-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KP_Oracle_IDR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KP_Oracle_IDR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Oracle_IDR_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KP_Oracle_IDR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KP_Oracle_IDR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Base_Litter_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "ord_created_date_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "ord_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "ord_hdr_created_date_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "military_material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "ord_planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "delivery_planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "mat_available_date_code",
						"type": "varchar"
					},
					{
						"name": "actual_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "billing_block_code",
						"type": "varchar"
					},
					{
						"name": "delivery_block_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ship_date_code",
						"type": "varchar"
					},
					{
						"name": "customer_requested_date_code",
						"type": "varchar"
					},
					{
						"name": "bracket_price_override_code",
						"type": "varchar"
					},
					{
						"name": "expected_price_status_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "multiple_order",
						"type": "varchar"
					},
					{
						"name": "delivery_nbr",
						"type": "varchar"
					},
					{
						"name": "ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "actual_delivery_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivery_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty_ng",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty_liquidation",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_dos_ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_ac_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_cf_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_cd_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_order_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ord_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_decs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gi_date",
						"type": "float",
						"precision": 15
					},
					{
						"name": "actual_gi_date",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_pgi_date_code",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "uom_scs",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "no_of_employees",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "substitution_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_status_code",
						"type": "varchar"
					},
					{
						"name": "exception_responsible_code",
						"type": "varchar"
					},
					{
						"name": "equip_type_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_nbr",
						"type": "varchar"
					},
					{
						"name": "created_by",
						"type": "varchar"
					},
					{
						"name": "sales_deal_nbr",
						"type": "varchar"
					},
					{
						"name": "acknowledged_date_code",
						"type": "varchar"
					},
					{
						"name": "cancel_by_rqst_arr_date_code",
						"type": "varchar"
					},
					{
						"name": "cancel_by_rqst_ship_date_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "declined_date_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "service_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "quote_valid_to_date_code",
						"type": "varchar"
					},
					{
						"name": "last_action_date_code",
						"type": "varchar"
					},
					{
						"name": "not_before_rqst_arr_date_code",
						"type": "varchar"
					},
					{
						"name": "not_before_rqst_ship_date_code",
						"type": "varchar"
					},
					{
						"name": "quote_valid_from_date_code",
						"type": "varchar"
					},
					{
						"name": "created_time",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "pooling_eligibility",
						"type": "varchar"
					},
					{
						"name": "pick_method_code",
						"type": "varchar"
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_cases_per_pallet",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_cases_per_layer",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_lead_time",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_layers_per_pallet",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_rate_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_cost_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_rate_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "pick_qty_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_layers_picked",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_cost_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_lay_pick_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "currency_code",
						"type": "varchar"
					},
					{
						"name": "ref_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "ref_item_nbr",
						"type": "varchar"
					},
					{
						"name": "division_header_code",
						"type": "varchar"
					},
					{
						"name": "sd_ref_doc_category",
						"type": "varchar"
					},
					{
						"name": "org_lead_time_error_code",
						"type": "varchar"
					},
					{
						"name": "expected_price_error_code",
						"type": "varchar"
					},
					{
						"name": "multiple_order_error_code",
						"type": "varchar"
					},
					{
						"name": "material_reason_error_code",
						"type": "varchar"
					},
					{
						"name": "lead_time_error_code",
						"type": "varchar"
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "sales_employee",
						"type": "varchar"
					},
					{
						"name": "io_status_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "cpu_error_flg",
						"type": "varchar"
					},
					{
						"name": "date_error_flg",
						"type": "varchar"
					},
					{
						"name": "duplicate_po_error_flg",
						"type": "varchar"
					},
					{
						"name": "pload_error_flg",
						"type": "varchar"
					},
					{
						"name": "src_error_flg",
						"type": "varchar"
					},
					{
						"name": "manual_price_date_flg",
						"type": "varchar"
					},
					{
						"name": "rounding_occurred_flg",
						"type": "varchar"
					},
					{
						"name": "mat_error_flg",
						"type": "varchar"
					},
					{
						"name": "multiple_ord_flg",
						"type": "varchar"
					},
					{
						"name": "cpu_rate_error_flg",
						"type": "varchar"
					},
					{
						"name": "cts_header_indicator_flg",
						"type": "varchar"
					},
					{
						"name": "lead_time_compliance_flg",
						"type": "varchar"
					},
					{
						"name": "lt_comply_no_so_flg",
						"type": "varchar"
					},
					{
						"name": "ord_items_flg",
						"type": "varchar"
					},
					{
						"name": "ord_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "material_reason",
						"type": "varchar"
					},
					{
						"name": "exception_reason",
						"type": "varchar"
					},
					{
						"name": "cpu_error_reason",
						"type": "varchar"
					},
					{
						"name": "date_error_reason",
						"type": "varchar"
					},
					{
						"name": "pload_error_reason",
						"type": "varchar"
					},
					{
						"name": "source_error_reason",
						"type": "varchar"
					},
					{
						"name": "bw_record_change_flg",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					},
					{
						"name": "azure_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "base_litter_orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Base_Litter_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "billing_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_created_date_code",
						"type": "varchar"
					},
					{
						"name": "billing_date_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "dos_planned_pgi_date",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "cost_center_code",
						"type": "varchar"
					},
					{
						"name": "billing_type_code",
						"type": "varchar"
					},
					{
						"name": "billing_category_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "item_type_code",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "unsaleable_ind",
						"type": "varchar"
					},
					{
						"name": "order_item_nbr",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "billed_qty_baseuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_slsuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tax_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "discount_base_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "scale_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "denominator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "numerator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivered_vol_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "open_billing_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_acct",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rebate_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "required_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sku_bill_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_ng_liquid_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_billeditem",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "order_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "sales_deal",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "update_mode",
						"type": "varchar"
					},
					{
						"name": "inv_date_nbr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "doccurr",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_volume",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "changed_date_nbr",
						"type": "varchar"
					},
					{
						"name": "batch_code",
						"type": "varchar"
					},
					{
						"name": "serv_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "proc_status",
						"type": "varchar"
					},
					{
						"name": "rebate_arrangement",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_sc",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_1",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_2",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_3",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_4",
						"type": "varchar"
					},
					{
						"name": "storage_location_code",
						"type": "varchar"
					},
					{
						"name": "material_group_code",
						"type": "varchar"
					},
					{
						"name": "material_num_entered",
						"type": "varchar"
					},
					{
						"name": "material_group_code_1",
						"type": "varchar"
					},
					{
						"name": "material_group_code_2",
						"type": "varchar"
					},
					{
						"name": "material_group_code_3",
						"type": "varchar"
					},
					{
						"name": "material_group_code_4",
						"type": "varchar"
					},
					{
						"name": "material_group_code_5",
						"type": "varchar"
					},
					{
						"name": "dest_country_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "sales_region_code",
						"type": "varchar"
					},
					{
						"name": "bom_high_level_item",
						"type": "varchar"
					},
					{
						"name": "ref_doc_num",
						"type": "varchar"
					},
					{
						"name": "ref_item_num",
						"type": "varchar"
					},
					{
						"name": "delivery_type_code",
						"type": "varchar"
					},
					{
						"name": "qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "doc_count",
						"type": "float",
						"precision": 15
					},
					{
						"name": "posting_stat_bill_doc_code",
						"type": "varchar"
					},
					{
						"name": "billing_status_order",
						"type": "varchar"
					},
					{
						"name": "billing_status",
						"type": "varchar"
					},
					{
						"name": "so_customer_group",
						"type": "varchar"
					},
					{
						"name": "condition_group_2",
						"type": "varchar"
					},
					{
						"name": "condition_group_3",
						"type": "varchar"
					},
					{
						"name": "condition_group_4",
						"type": "varchar"
					},
					{
						"name": "condition_group_5",
						"type": "varchar"
					},
					{
						"name": "so_price_group",
						"type": "varchar"
					},
					{
						"name": "translation_date_code",
						"type": "varchar"
					},
					{
						"name": "src_country_code",
						"type": "varchar"
					},
					{
						"name": "dest_city_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code_1",
						"type": "varchar"
					},
					{
						"name": "posting_period_type",
						"type": "varchar"
					},
					{
						"name": "item",
						"type": "varchar"
					},
					{
						"name": "so_region_code",
						"type": "varchar"
					},
					{
						"name": "transfer_acct_status_code",
						"type": "varchar"
					},
					{
						"name": "so_sales_org_code",
						"type": "varchar"
					},
					{
						"name": "so_distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "material_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "dos_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_dec",
						"type": "float",
						"precision": 15
					},
					{
						"name": "version_code",
						"type": "varchar"
					},
					{
						"name": "value_type_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "sales_emp_code",
						"type": "varchar"
					},
					{
						"name": "posting_period",
						"type": "varchar"
					},
					{
						"name": "military_product_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_country_code",
						"type": "varchar"
					},
					{
						"name": "billto_country_code",
						"type": "varchar"
					},
					{
						"name": "payer_country_code",
						"type": "varchar"
					},
					{
						"name": "carrier_country_code",
						"type": "varchar"
					},
					{
						"name": "representative_country_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "bw_tran_key",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					},
					{
						"name": "invoiced_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "invoiced_net_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "azure_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "base_litter_shipments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Litter_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "ord_created_date_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "ord_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "ord_hdr_created_date_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "military_material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "ord_planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "delivery_planned_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "mat_available_date_code",
						"type": "varchar"
					},
					{
						"name": "actual_gi_date_code",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "billing_block_code",
						"type": "varchar"
					},
					{
						"name": "delivery_block_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ship_date_code",
						"type": "varchar"
					},
					{
						"name": "customer_requested_date_code",
						"type": "varchar"
					},
					{
						"name": "bracket_price_override_code",
						"type": "varchar"
					},
					{
						"name": "expected_price_status_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "multiple_order",
						"type": "varchar"
					},
					{
						"name": "delivery_nbr",
						"type": "varchar"
					},
					{
						"name": "ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "actual_delivery_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivery_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty_ng",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty_liquidation",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_dos_ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "bw_ord_ac_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_cf_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_cd_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cml_order_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ord_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_decs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ord_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gi_date",
						"type": "float",
						"precision": 15
					},
					{
						"name": "actual_gi_date",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_pgi_date_code",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "uom_scs",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "no_of_employees",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "substitution_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_status_code",
						"type": "varchar"
					},
					{
						"name": "exception_responsible_code",
						"type": "varchar"
					},
					{
						"name": "equip_type_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_nbr",
						"type": "varchar"
					},
					{
						"name": "created_by",
						"type": "varchar"
					},
					{
						"name": "sales_deal_nbr",
						"type": "varchar"
					},
					{
						"name": "acknowledged_date_code",
						"type": "varchar"
					},
					{
						"name": "cancel_by_rqst_arr_date_code",
						"type": "varchar"
					},
					{
						"name": "cancel_by_rqst_ship_date_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "declined_date_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "service_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "quote_valid_to_date_code",
						"type": "varchar"
					},
					{
						"name": "last_action_date_code",
						"type": "varchar"
					},
					{
						"name": "not_before_rqst_arr_date_code",
						"type": "varchar"
					},
					{
						"name": "not_before_rqst_ship_date_code",
						"type": "varchar"
					},
					{
						"name": "quote_valid_from_date_code",
						"type": "varchar"
					},
					{
						"name": "created_time",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "pooling_eligibility",
						"type": "varchar"
					},
					{
						"name": "pick_method_code",
						"type": "varchar"
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_cases_per_pallet",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_cases_per_layer",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_lead_time",
						"type": "float",
						"precision": 15
					},
					{
						"name": "no_of_layers_per_pallet",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_rate_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_cost_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_rate_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "pick_qty_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_layers_picked",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_pick_cost_lay",
						"type": "float",
						"precision": 15
					},
					{
						"name": "loose_lay_pick_qty_cs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "currency_code",
						"type": "varchar"
					},
					{
						"name": "ref_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "ref_item_nbr",
						"type": "varchar"
					},
					{
						"name": "division_header_code",
						"type": "varchar"
					},
					{
						"name": "sd_ref_doc_category",
						"type": "varchar"
					},
					{
						"name": "org_lead_time_error_code",
						"type": "varchar"
					},
					{
						"name": "expected_price_error_code",
						"type": "varchar"
					},
					{
						"name": "multiple_order_error_code",
						"type": "varchar"
					},
					{
						"name": "material_reason_error_code",
						"type": "varchar"
					},
					{
						"name": "lead_time_error_code",
						"type": "varchar"
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "sales_employee",
						"type": "varchar"
					},
					{
						"name": "io_status_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "cpu_error_flg",
						"type": "varchar"
					},
					{
						"name": "date_error_flg",
						"type": "varchar"
					},
					{
						"name": "duplicate_po_error_flg",
						"type": "varchar"
					},
					{
						"name": "pload_error_flg",
						"type": "varchar"
					},
					{
						"name": "src_error_flg",
						"type": "varchar"
					},
					{
						"name": "manual_price_date_flg",
						"type": "varchar"
					},
					{
						"name": "rounding_occurred_flg",
						"type": "varchar"
					},
					{
						"name": "mat_error_flg",
						"type": "varchar"
					},
					{
						"name": "multiple_ord_flg",
						"type": "varchar"
					},
					{
						"name": "cpu_rate_error_flg",
						"type": "varchar"
					},
					{
						"name": "cts_header_indicator_flg",
						"type": "varchar"
					},
					{
						"name": "lead_time_compliance_flg",
						"type": "varchar"
					},
					{
						"name": "lt_comply_no_so_flg",
						"type": "varchar"
					},
					{
						"name": "ord_items_flg",
						"type": "varchar"
					},
					{
						"name": "ord_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "material_reason",
						"type": "varchar"
					},
					{
						"name": "exception_reason",
						"type": "varchar"
					},
					{
						"name": "cpu_error_reason",
						"type": "varchar"
					},
					{
						"name": "date_error_reason",
						"type": "varchar"
					},
					{
						"name": "pload_error_reason",
						"type": "varchar"
					},
					{
						"name": "source_error_reason",
						"type": "varchar"
					},
					{
						"name": "bw_record_change_flg",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_litter_orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_SQLDW_Staging_Litter_Shipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "billing_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_line_item_nbr",
						"type": "varchar"
					},
					{
						"name": "billing_created_date_code",
						"type": "varchar"
					},
					{
						"name": "billing_date_code",
						"type": "varchar"
					},
					{
						"name": "material_num",
						"type": "varchar"
					},
					{
						"name": "sap_upc_num",
						"type": "varchar"
					},
					{
						"name": "shippingpoint_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code",
						"type": "varchar"
					},
					{
						"name": "payer_customer_code",
						"type": "varchar"
					},
					{
						"name": "billto_customer_code",
						"type": "varchar"
					},
					{
						"name": "shipto_customer_code",
						"type": "varchar"
					},
					{
						"name": "broker_customer_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "po_doc_nbr",
						"type": "varchar"
					},
					{
						"name": "profit_center_code",
						"type": "varchar"
					},
					{
						"name": "distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "oms",
						"type": "varchar"
					},
					{
						"name": "ship_from_plant_code",
						"type": "varchar"
					},
					{
						"name": "planned_pgi_date_yyyymm",
						"type": "varchar"
					},
					{
						"name": "dos_planned_pgi_date",
						"type": "varchar"
					},
					{
						"name": "doc_class_code",
						"type": "varchar"
					},
					{
						"name": "clx_po_type",
						"type": "varchar"
					},
					{
						"name": "ctrl_area_code",
						"type": "varchar"
					},
					{
						"name": "fiscal_yr_variant_code",
						"type": "varchar"
					},
					{
						"name": "cost_center_code",
						"type": "varchar"
					},
					{
						"name": "billing_type_code",
						"type": "varchar"
					},
					{
						"name": "billing_category_code",
						"type": "varchar"
					},
					{
						"name": "sd_doc_category_code",
						"type": "varchar"
					},
					{
						"name": "item_type_code",
						"type": "varchar"
					},
					{
						"name": "item_category_code",
						"type": "varchar"
					},
					{
						"name": "unsaleable_ind",
						"type": "varchar"
					},
					{
						"name": "order_item_nbr",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "varchar"
					},
					{
						"name": "division_code",
						"type": "varchar"
					},
					{
						"name": "sales_group_code",
						"type": "varchar"
					},
					{
						"name": "so_doc_type",
						"type": "varchar"
					},
					{
						"name": "billed_qty_baseuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_slsuom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tax_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "discount_base_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "scale_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "denominator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "numerator",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delivered_vol_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_ship_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cost_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "open_billing_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "exchange_rate_acct",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_ship_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rebate_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "required_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt_stcurr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netprc_exoffinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "offinvdisc_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "netval_discsurchrg_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "unsaleable_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "customer_expected_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "broker_comm_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sku_bill_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_qty_sc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dos_ng_liquid_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_billeditem",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sales_office",
						"type": "varchar"
					},
					{
						"name": "order_reason",
						"type": "varchar"
					},
					{
						"name": "rejection_reason",
						"type": "varchar"
					},
					{
						"name": "sales_deal",
						"type": "varchar"
					},
					{
						"name": "shipping_condition_code",
						"type": "varchar"
					},
					{
						"name": "update_mode",
						"type": "varchar"
					},
					{
						"name": "inv_date_nbr",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stcurr",
						"type": "varchar"
					},
					{
						"name": "doccurr",
						"type": "varchar"
					},
					{
						"name": "uom_weight",
						"type": "varchar"
					},
					{
						"name": "uom_sales",
						"type": "varchar"
					},
					{
						"name": "uom_base",
						"type": "varchar"
					},
					{
						"name": "uom_volume",
						"type": "varchar"
					},
					{
						"name": "uom",
						"type": "varchar"
					},
					{
						"name": "changed_date_nbr",
						"type": "varchar"
					},
					{
						"name": "batch_code",
						"type": "varchar"
					},
					{
						"name": "serv_rendered_date_code",
						"type": "varchar"
					},
					{
						"name": "proc_status",
						"type": "varchar"
					},
					{
						"name": "rebate_arrangement",
						"type": "varchar"
					},
					{
						"name": "uom_lay",
						"type": "varchar"
					},
					{
						"name": "uom_pal",
						"type": "varchar"
					},
					{
						"name": "uom_sc",
						"type": "varchar"
					},
					{
						"name": "shipping_type_code",
						"type": "varchar"
					},
					{
						"name": "acct_assignment_grp_code",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_1",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_2",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_3",
						"type": "varchar"
					},
					{
						"name": "customer_group_code_4",
						"type": "varchar"
					},
					{
						"name": "storage_location_code",
						"type": "varchar"
					},
					{
						"name": "material_group_code",
						"type": "varchar"
					},
					{
						"name": "material_num_entered",
						"type": "varchar"
					},
					{
						"name": "material_group_code_1",
						"type": "varchar"
					},
					{
						"name": "material_group_code_2",
						"type": "varchar"
					},
					{
						"name": "material_group_code_3",
						"type": "varchar"
					},
					{
						"name": "material_group_code_4",
						"type": "varchar"
					},
					{
						"name": "material_group_code_5",
						"type": "varchar"
					},
					{
						"name": "dest_country_code",
						"type": "varchar"
					},
					{
						"name": "pricing_date_code",
						"type": "varchar"
					},
					{
						"name": "sales_region_code",
						"type": "varchar"
					},
					{
						"name": "bom_high_level_item",
						"type": "varchar"
					},
					{
						"name": "ref_doc_num",
						"type": "varchar"
					},
					{
						"name": "ref_item_num",
						"type": "varchar"
					},
					{
						"name": "delivery_type_code",
						"type": "varchar"
					},
					{
						"name": "qty_eaches",
						"type": "float",
						"precision": 15
					},
					{
						"name": "doc_count",
						"type": "float",
						"precision": 15
					},
					{
						"name": "posting_stat_bill_doc_code",
						"type": "varchar"
					},
					{
						"name": "billing_status_order",
						"type": "varchar"
					},
					{
						"name": "billing_status",
						"type": "varchar"
					},
					{
						"name": "so_customer_group",
						"type": "varchar"
					},
					{
						"name": "condition_group_2",
						"type": "varchar"
					},
					{
						"name": "condition_group_3",
						"type": "varchar"
					},
					{
						"name": "condition_group_4",
						"type": "varchar"
					},
					{
						"name": "condition_group_5",
						"type": "varchar"
					},
					{
						"name": "so_price_group",
						"type": "varchar"
					},
					{
						"name": "translation_date_code",
						"type": "varchar"
					},
					{
						"name": "src_country_code",
						"type": "varchar"
					},
					{
						"name": "dest_city_code",
						"type": "varchar"
					},
					{
						"name": "soldto_customer_code_1",
						"type": "varchar"
					},
					{
						"name": "posting_period_type",
						"type": "varchar"
					},
					{
						"name": "item",
						"type": "varchar"
					},
					{
						"name": "so_region_code",
						"type": "varchar"
					},
					{
						"name": "transfer_acct_status_code",
						"type": "varchar"
					},
					{
						"name": "so_sales_org_code",
						"type": "varchar"
					},
					{
						"name": "so_distrib_channel_code",
						"type": "varchar"
					},
					{
						"name": "material_plant_code",
						"type": "varchar"
					},
					{
						"name": "sales_division_code",
						"type": "varchar"
					},
					{
						"name": "dos_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "billed_qty_purchase_uom",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "number_of_doc_items",
						"type": "float",
						"precision": 15
					},
					{
						"name": "gross_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "net_weight_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "volume_cubic_dec",
						"type": "float",
						"precision": 15
					},
					{
						"name": "version_code",
						"type": "varchar"
					},
					{
						"name": "value_type_code",
						"type": "varchar"
					},
					{
						"name": "credit_debit_flg",
						"type": "varchar"
					},
					{
						"name": "sales_district_code",
						"type": "varchar"
					},
					{
						"name": "sales_emp_code",
						"type": "varchar"
					},
					{
						"name": "posting_period",
						"type": "varchar"
					},
					{
						"name": "military_product_code",
						"type": "varchar"
					},
					{
						"name": "edi_customer_code",
						"type": "varchar"
					},
					{
						"name": "soldto_country_code",
						"type": "varchar"
					},
					{
						"name": "billto_country_code",
						"type": "varchar"
					},
					{
						"name": "payer_country_code",
						"type": "varchar"
					},
					{
						"name": "carrier_country_code",
						"type": "varchar"
					},
					{
						"name": "representative_country_code",
						"type": "varchar"
					},
					{
						"name": "conversion_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_date_code",
						"type": "varchar"
					},
					{
						"name": "stats_update_date_code",
						"type": "varchar"
					},
					{
						"name": "forwarding_agent",
						"type": "varchar"
					},
					{
						"name": "bw_tran_key",
						"type": "varchar"
					},
					{
						"name": "idr_load_date",
						"type": "date"
					},
					{
						"name": "invoiced_qty",
						"type": "float",
						"precision": 15
					},
					{
						"name": "invoiced_net_amt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "azure_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_litter_shipments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "clxdev-az-ir-linked",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/clxdev-az-ir-linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_OnPrem_connectionString')]"
				},
				"connectVia": {
					"referenceName": "clxdev-onprem-ir-linked",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/clxdev-onprem-ir-linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSQLDW_connectionString')]"
				},
				"connectVia": {
					"referenceName": "clxdev-az-ir-linked",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/clxdev-az-ir-linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KP_Oracle_IDR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('KP_Oracle_IDR_connectionString')]"
				},
				"connectVia": {
					"referenceName": "clxdev-onprem-ir-linked",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/clxdev-onprem-ir-linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_IDR_Dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle_IDR_Dev_connectionString')]"
				},
				"connectVia": {
					"referenceName": "clxdev-onprem-ir-linked",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/clxdev-onprem-ir-linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_IDR_Shipments_Weekly_Schedule')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load IDR Shipments",
							"type": "PipelineReference"
						},
						"parameters": {
							"IDR_Load_Date": "[parameters('Load_IDR_Shipments_Weekly_Schedule_properties_Load IDR Shipments_parameters_IDR_Load_Date')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2020-04-08T18:00:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							],
							"weekDays": [
								"Wednesday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Load IDR Shipments')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clxdev-az-ir-linked')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('clxdev-az-ir-linked_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/clxdev-onprem-ir-linked')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('clxdev-onprem-ir-linked_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}